<div class="container-fluid">
   <div class="row cont-pad">
      <div class="col-md-12 col-xs-12">
         <span class="main-header-text1" style="font-weight: 600">
         Corona Kavach
         </span>
         
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="row cont-pad breadcrumb-row">
      <div class="col-md-12">
         <ul class="breadcrumb-cust">
            <li class="breadcrumb-item-cust breadcrumb-item-cust-active">
               <a href="javascript:void(0)" ng-click="quoteNavigation()">Quotation</a>
            </li>
            <li class="breadcrumb-item-cust">
               <span class="clickable">
               <i class="glyphicon glyphicon-menu-right"></i>
               </span>
            </li>
            <li class="breadcrumb-item-cust">
               <a href="javascript:void(0)" class="unbold-fonts">
               Proposal
               </a>
            </li>
            <li class="breadcrumb-item-cust">
               <span class="clickable">
               <i class="glyphicon glyphicon-menu-right"></i>
               </span>
            </li>
            <li class="breadcrumb-item-cust">
               <a href="javascript:void(0)" class="unbold-fonts" ng-click="callGtag('click-item', 'buy-universal' ,'buy-universal_breadcrumbs-['+currentRoute[1]+'-Payment]')">Payment</a>
            </li>
         </ul>
      </div>
   </div>
</div>
<div class="container-fluid prem-panel sticky" sticky>
   <div class="row prem-row">
      <div class="col-md-12 col-xs-12 col-sm-12 prem-text-panel text-right pad-l-r-0">
         <div class=" dropdown dis-in">
            <a class="btn tooltip-btn dropdown-toggle dropdown-plan plan-dropdown" type="button" data-toggle="dropdown" id="" ng-click="callGtag('click-item', 'buy-universal' ,'buy-universal_premium-amount')">
            <span class="prem-small-txt">Premium:&nbsp;&nbsp;</span>
            <span class="prem-big-txt" ng-if="cK.activCarePreminumObj.TotalPremium"> 
            <span class="prem-rupee-symbol">&#8377;</span>                              
            <span count-up end-val="cK.activCarePreminumObj.TotalPremium"> </span>
            <span ng-show="cK.coronaKavachQuoteDetails.PolicyTenure == '1'">pa </span> &nbsp; 
            <span class="glyphi-drop-down-style pull-right" aria-hidden="true">
            <img src="assets/images/icon-chevron-down.png">
            </span>
            </span>
            <span class="prem-big-txt" ng-if="!cK.activCarePreminumObj.TotalPremium">
            <i class="fa fa-spinner" aria-hidden="true"></i>
            </span>
            </a>
            <ul class="dropdown-menu plan-dropdown-menubox">
               <li ng-repeat="premium in cK.activCarePreminumObj.ProductPremium">
                  <p href="javascript:void(0)" class="tooltip-text-hd mar-rght-15">{{premium.ProductName | productFilter}}</p>
                  <p class="tooltip-grey-txt mar-rght-15">Amount : ₹{{premium.Premium | INR}} <span class="incl-gst">(incl GST)</span> </p>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 text-right">
         <span class="emi-option-text">
            <!-- EMI options available starting at ₹3,000 pm -->
         </span>
      </div>
   </div>
</div>
<div class="container">
   <div class="row quote-item-block">
      <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
         <div class="item-block-number-border hidden-xs"><span class="item-block-number"> 1</span></div>
         <div class="item-block-number-border-mobile hidden-md hidden-lg hidden-sm"><span class="item-block-number">1</span></div>
      </div>
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-11">
         <div class="quote-item-block-content">
            <div class="item-block-content-header">POLICY DETAILS AND SUM INSURED</div>
            <div class="item-block-content-desc">
               Please select your policy type, tenure and the details of the participating members.
               <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit -->
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sum-insured-members-padding-initial">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 question">
            <div class="policy-type-txt">Policy type  
               <span class="custom-popover " custom-popover>
               <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
               <span class="custom-tooltip-text pop-over-corona">
               In a family floater plan, more than one member can be covered under the same plan,<br> Multi-individual is when the policy coverage is different for each member .
               <span class="pop-close">×</span>
               </span>
               </span>
            </div>
            <a href="javascript:void(0);" class="btn show-answer" ng-class="cK.coronaKavachQuoteDetails.PolicyType == 'FF' ? 'selected-yes-btn' : 'unselected-no-btn'">
            <span ng-class="cK.coronaKavachQuoteDetails.PolicyType == 'FF' ? 'selected-yes-btn-txt' : 'unselected-no-btn-txt'">Family Floater&nbsp;<i class="fa fa-check-circle" ng-class="cK.coronaKavachQuoteDetails.PolicyType == 'FF' ? 'show-i' : 'remove-i'"></i></span>
            </a>
            <a href="javascript:void(0);" class="btn hide-answer" ng-class="cK.coronaKavachQuoteDetails.PolicyType == 'MI' ? 'selected-yes-btn' : 'unselected-no-btn'">
            <span ng-class="cK.coronaKavachQuoteDetails.PolicyType == 'MI' ? 'selected-yes-btn-txt' : 'unselected-no-btn-txt'">&nbsp; Individual&nbsp;
            &nbsp;&nbsp;<i class="fa fa-check-circle" ng-class="cK.coronaKavachQuoteDetails.PolicyType == 'MI' ? 'show-i' : 'remove-i'"></i></span>
            </a>
            <div class="tab-content-mar-r " ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'MI'">
               <div class="tab-grey-txt">
                  <!-- In the Multi Individual Policy individual members have their separate Sum Insured. -->
               </div>
               <div class="dropdown-lbl-txt">Tenure
                  <span class="custom-popover " custom-popover>
                  <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                  <span class="custom-tooltip-text pop-over-corona">
                  Duration in which benefits are payable under the policy .
                  <span class="pop-close">×</span>
                  </span>
                  </span>
               </div>
               <!-- <span ng-show="cK.coronaKavachQuoteDetails.PolicyTenure == '1'" class="text-for-tenure "><b>(Get Discount of 7.5% on preminum for 2 year tenure )</b></span> -->
               <div class="dropdown sum-insured-members-block-dropdown">
                  <button class="btn dropdown-width-bdr" type="button" data-toggle="dropdown" aria-haspopup="true" ng-click="cK.setTenure()" aria-expanded="false">
                     <span class="dropdown-txt">{{cK.showCoronaKavachTenure}} </span>
                     <div class="dis-in dropdown-red-drop-arrow">
                        <i class="fa fa-angle-down"></i>
                     </div>
                  </button>
                  <ul class="dropdown-menu self-insured-menu" aria-labelledby="dropdownMenu1">
                     <li><a href="javascript:void(0)" ng-click="cK.updateTenure('1')">3.5 month</a></li>
                     <li><a href="javascript:void(0)" ng-click="cK.updateTenure('2')">6.5 month</a></li>
                     <li><a href="javascript:void(0)" ng-click="cK.updateTenure('3')">9.5 month</a></li>
                  </ul>
               </div>
               <!-- <div class="text-right">
                  <a href="javascript:void(0);" class="btn discount-btn-txt" ng-show="cK.coronaKavachQuoteDetails.PolicyTenure == '2'">
                  Discount : 7.5% &nbsp;<i class="fa fa-check-circle"></i>
                  </a>
               </div> -->
            </div>
            <div class="tab-content-mar-r" ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'FF'">
               <div class="tab-grey-txt">
                  <!-- The Family Floater policy has a joint Sum Insured meant for the both of them together -->
                  <!--  Lorem ipsum dolor sit amet, consectetur adipiscing elit -->
               </div>
               <div class="dropdown-lbl-txt">Sum Insured
                  <span class="custom-popover large-tooltip" custom-popover>
                  <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                  <span class="custom-tooltip-text">
                 Higher the Sum Insured, lower is the effective per lac premium and better coverage. Choose a sum insured which covers your family adequately during Covid-19 times
                  <span class="pop-close">×</span>
                  </span>
                  </span>
               </div>
               <div class="dropdown sum-insured-members-block-dropdown group-insured-pad-btm">
                  <button class="btn dropdown-width-bdr dropdown-toggle" type="button" button-dropdown="cK.sumInusred">
                     <span class="dropdown-txt">₹ {{cK.sumInusred | INR}}  </span>
                     <div class="dis-in dropdown-red-drop-arrow">
                        <i class="fa fa-angle-down"></i>
                     </div>
                  </button>
                  <ul class="dropdown-menu self-insured-menu" aria-labelledby="dropdownMenu1">
                     <li ng-repeat="sum in cK.sumAmounts" class="li-item-text-change" ng-if="sum[cK.planName]" ng-click="cK.updateSumInsured(sum.amount, '')" data-val="{{sum.amount}}"><a  href="javascript:void(0)"><span class="rupee-symbol">&#8377;</span> <span class="option-text">{{sum.value}}</span></a></li>
                  </ul>
               </div>
               <div class="dropdown-lbl-txt">Tenure 
                  <span class="custom-popover large-tooltip" custom-popover>
                  <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                  <span class="custom-tooltip-text pop-over-corona">
                  Duration in which benefits are payable under the policy .
                  <span class="pop-close">×</span>
                  </span>
                  </span>
               </div>
               <!-- <span ng-show="cK.coronaKavachQuoteDetails.PolicyTenure == '1'" class="text-for-tenure "> <b>(Get Discount of 7.5% on preminum for 2 year tenure )</b> </span> -->
               <div class="dropdown sum-insured-members-block-dropdown">
                  <button class="btn dropdown-width-bdr" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="dropdown-txt">{{cK.showCoronaKavachTenure}} </span>
                     <div class="dis-in dropdown-red-drop-arrow">
                        <i class="fa fa-angle-down"></i>
                     </div>
                  </button>
                  <ul class="dropdown-menu self-insured-menu" aria-labelledby="dropdownMenu1">
                     <li><a href="javascript:void(0)" ng-click="cK.updateTenure('1')">3.5 month</a></li>
                     <li><a href="javascript:void(0)" ng-click="cK.updateTenure('2')">6.5 month</a></li>
                     <li><a href="javascript:void(0)" ng-click="cK.updateTenure('3')">9.5 month</a></li>
                  </ul>
               </div>
               <div class="text-right" ng-show="cK.coronaKavachQuoteDetails.PolicyTenure == '2'">
                  <a href="javascript:void(0);" class="btn discount-btn-txt">
                  Discount : 7.5% &nbsp;<i class="fa fa-check-circle"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- multi-individual Div start-->
         <div class="col-md-1 col-sm-1 hidden-xs width-collapse vertical-line-hide pad-l-r-0" ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'MI'">
            <div class="border-verticle-line text-right"></div>
         </div>
         <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 pad-l-r-0" ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'MI'">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mem-grp-row-pad-btm">
               <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 members-in-group-txt pad-l-r-0 hidden-xs hidden-md">Select Members</div>
               <div class="col-lg-5 col-md-5 col-sm-3 col-xs-6 grey-horizontal-line pad-l-r-0 hidden-xs hidden-md"></div>
               <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs pad-l-r-0">
                  <a  class="btn edit-group-mem-btn" data-target="#add-new-member-web" class="member-select-span" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="add-mbr-btn" ng-click="callGtag('quote','click-icon','diamond-quote_add-edit-members')">
                  EDIT GROUP MEMBERS 
                  </a>
               </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  pad-l-r-0">

             <div id="ci-sum-isnured-slider" class="owl-carousel buy-owl-carousel cK-carousel" ng-if="cK.initSlider">
               <div class="mem-grp-pad-r-5" ng-repeat="members in cK.selectedMember">
                  <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 sum-insured-members-block member-section">
                     <div class="dis-in box-txt-hd" ng-show="members.RelationWithProposer != 'KID'">{{members.RelationWithProposer}}</div>
                     <div class="dis-in box-txt-hd" ng-show="members.RelationWithProposer == 'KID'">{{members.RelationType}}</div>
                     <span class="pull-right" ng-if="cK.selectedMember.length > 1">
                     <img class="close-img-mar self-close-mark" src="assets/images/shape.png" ng-click="cK.cKUpdateDeleteMember(members , $index , 'deleteMember' )">
                     </span>
                     <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <div class="box-txt">
                           Sum Insured
                           <!-- <span class="custom-popover large-tooltip" custom-popover>
                           <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                           <span class="custom-tooltip-text">
                           Higher the Sum Insured, lower is the effective per lac premium and better coverage. Choose a sum insured which covers your family adequately during Covid-19 times
                           <span class="pop-close">×</span>
                           </span>
                           </span> -->
                        </div>
                        <div class="dropdown">
                           <button class="btn dropdown-width-bdr dropdown-toggle" type="button" button-dropdown="members.SumInsured">
                           <span class="dropdown-txt">₹ {{members.SumInsured | INR}} </span>
                           <span class="dis-in dropdown-red-drop-arrow">
                           <i class="fa fa-angle-down" aria-hidden="true"></i>
                           </span>                     
                           </button>       
                           <ul class="dropdown-menu self-insured-menu" aria-labelledby="dropdownMenu1">
                              <li ng-repeat="sum in cK.sumAmounts" class="li-item-text-change" ng-if="sum[cK.planName]" ng-click="cK.updateSumInsured(sum.amount, members)" data-val="{{sum.amount}}"><a  href="javascript:void(0)"><span class="rupee-symbol">&#8377;</span> <span class="option-text">{{sum.value}}</span></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <div class="box-txt">
                           Age
                        </div>
                        <div class="age-input">
                           <div class="input-group">
                              <input type="text" class="form-control age-txt-box" ng-model="members.Age" ng-change="cK.cKUpdateDeleteMember(members , $index , 'updateMember' )" ng-model-options="{debounce:2000}" valid-number>
                              <span class="input-group-addon"> yrs </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-12">
               
              <a  class="btn edit-group-mem-btn" data-target="#add-new-member-web" class="member-select-span" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="add-mbr-btn" ng-click="callGtag('quote','click-icon','diamond-quote_add-edit-members')">
               EDIT GROUP MEMBERS
               </a>
               
            </div>
         </div>
         <!-- multi-individual Div end-->
         <!-- Family Floater Div start-->
         <div class="col-md-1 col-sm-1 hidden-xs width-collapse vertical-line-hide pad-l-r-0 " ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'FF'">
            <div class="border-verticle-line text-right"></div>
         </div>
         <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 pad-l-r-0 " ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'FF'">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mem-grp-row-pad-btm">
               <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 members-in-group-txt pad-l-r-0 hidden-xs hidden-md">Select Members</div>
               <div class="col-lg-5 col-md-5 col-sm-3 col-xs-6 grey-horizontal-line pad-l-r-0 hidden-xs hidden-md"></div>
               <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs pad-l-r-0">
                  <a  class="btn edit-group-mem-btn" data-target="#add-new-member-web" class="member-select-span" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="add-mbr-btn" ng-click="callGtag('quote','click-icon','diamond-quote_add-edit-members')">
                  EDIT GROUP MEMBERS 
                  </a>
               </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" >
            <div id="ci-sum-isnured-slider" class="owl-carousel buy-owl-carousel cK-carousel" ng-if="cK.initSlider">
               <div class=" mem-grp-pad-r-5" ng-repeat="members in cK.selectedMember">
                  <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 sum-insured-members-block member-section">
                     <div class="dis-in box-txt-hd" ng-show="members.RelationWithProposer != 'KID'">{{members.RelationWithProposer}}</div>
                     <div class="dis-in box-txt-hd" ng-show="members.RelationWithProposer == 'KID'">{{members.RelationType}}</div>
                     <span class="pull-right" ng-if="cK.selectedMember.length > 1">
                     <img class="close-img-mar self-close-mark" src="assets/images/shape.png" ng-click="cK.cKUpdateDeleteMember(members , $index , 'deleteMember' )">
                     </span> 
                     <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <div class="box-txt">
                           Age
                        </div>
                        <div class="age-input">
                           <div class="input-group">
                              <input type="text" class="form-control age-txt-box" valid-number maxlength="2" ng-change="cK.cKUpdateDeleteMember(members , $index , 'updateMember')" ng-model-options="{debounce:2000}"  ng-model="members.Age" >
                              <span class="input-group-addon"> yrs </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>   
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-12">
               <a  class="btn edit-group-mem-btn" ng-click="cK.openAddMemberModel()">
               EDIT GROUP MEMBERS
               </a>
            </div>
         </div>
         <!-- Family Floater Div end-->
      </div>
   </div>
</div>
<div class="container">
   <div class="row quote-item-block">
      <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
         <div class="item-block-number-border hidden-xs"><span class="item-block-number"> 2</span></div>
         <div class="item-block-number-border-mobile hidden-md hidden-lg hidden-sm"><span class="item-block-number">2</span></div>
      </div>
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-11">
         <div class="quote-item-block-content">
            <div class="item-block-content-header">
               OPTIONAL COVERS
               <span class="custom-popover large-tooltip margin-top-tooltip" custom-popover>
                  <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                  <span class="custom-tooltip-text">
                     Optional Covers under family floater policies, if chosen, will be applicable to all members in the Policy. For Multi Individual policy, any optional cover may be selected for any member
                     <!-- Lifestyle support equipment like ICU bed, wheelchair, walker, belts, collars etc as per written recommendation of your doctor  -->
                     <span class="pop-close">×</span>
                  </span>
               </span>
            </div>
            <div class="item-block-content-desc">
               Optional Covers are like riders on your core policy. Add these covers to broaden your benefits.
               <!-- Optional Covers are like riders on your core policy. Range of comprehensive covers to broaden your benefits. -->
               <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit -->
            </div>
         </div>
      </div>
   </div>
   <div class="container sum-insured-members-padding-initial">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-12 col-xs-12 pad-cont box-mar-btm mob-pad-l-r-0">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 optional-cover-box pad-l-r-0 cross-sell-grey-box">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 check-box-width pad-top-optional-cover" ng-class="{'selected-check-box-width' : cK.BaseCoverFlag == 'Y' }">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 optional-cover-box-ing-pad-top">
                        <label class="container-new protecting" for="BaseCoverFlag-chk">
                           <img class="temp-total-dis-img" src="assets/images/ac_images/room-upgrade@2x.png">
                           <div class="box-checkbox dis-in">
                              <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" id="BaseCoverFlag-chk" ng-change="cK.oCBProductLevel(cK.BaseCoverFlag , 'BaseCoverFlag' , $event)"  ng-model="cK.BaseCoverFlag">
                              <span class="checkmark"></span>
                           </div>
                        </label>
                     </div>
                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 optional-cover-box-ing-pad-top temp-disa-right-bdr nursing-home-checkbox">
                        <div class="opt-cov-box-ttl">Hospital daily cash
                            <span class="custom-popover large-tooltip margin-top-tooltip" custom-popover ng-show="cK.coronaKavachQuoteDetails.PolicyType == 'MI'">
                              <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                              <span class="custom-tooltip-text" >
                                 For Mutli-Individual option this cover can be availed at member level offline. 
                                 <!-- Lifestyle support equipment like ICU bed, wheelchair, walker, belts, collars etc as per written recommendation of your doctor  -->
                                 <span class="pop-close">×</span>
                              </span>
                           </span>
                        </div>
                        <div class="opt-cov-box-txt">
                           <!-- Upgrade to Single Private A.C. Room -->
                          Hospital Cash Benefit of 0.5% of sum insured per day for 24 hours hospitalization for COVID-19 treatment up to 15 days.
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 chk-row-pad-top" ng-if="cK.coronaKavachQuoteDetails.PolicyType == 'MI'">
                           <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 pad-l-r-0" ng-repeat="memb in cK.selectedMember">
                              <label class="container-new protecting">{{memb.RelationWithProposer | uppercase}}
                              <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" id="BaseCoverFlag-{{memb.RelationType}}-chk" ng-model="memb.BaseCoverFlag" ng-change="cK.oCBMemberLevel(memb , memb.BaseCoverFlag , 'BaseCoverFlag')">
                              <span class="checkmark"></span>
                              </label>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>

            <!-- PPN optional covers */ -->

           

            
         </div>
      </div>
   </div>
</div>

<!-- <div class="container">
   <div class="row quote-item-block">
      <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
         <div class="item-block-number-border hidden-xs"><span class="item-block-number"> 3</span></div>
         <div class="item-block-number-border-mobile hidden-md hidden-lg hidden-sm"><span class="item-block-number">2</span></div>
      </div>
      <div class="col-md-10 col-sm-10 col-lg-10 col-xs-11">
         <div class="quote-item-block-content">
            <div class="item-block-content-header">
               Discount
               <span class="custom-popover large-tooltip margin-top-tooltip" custom-popover>
                  <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                  <span class="custom-tooltip-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    
                     <span class="pop-close">×</span>
                  </span>
               </span>
            </div>
            <div class="item-block-content-desc">
               Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              
            </div>
         </div>
      </div>
   </div>
   <div class="container sum-insured-members-padding-initial">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            
            <div class="col-md-6 col-sm-12 col-xs-12 pad-cont box-mar-btm mob-pad-l-r-0">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 optional-cover-box pad-l-r-0 cross-sell-grey-box">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 check-box-width pad-top-optional-cover" ng-class="{'selected-check-box-width' : cK.IsHealthCareWorker == 'Y' }">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 optional-cover-box-ing-pad-top">
                        <label class="container-new protecting" for="IsHealthCareWorker-chk">
                           <img class="temp-total-dis-img" src="assets/images/ac_images/room-upgrade@2x.png">
                           <div class="box-checkbox dis-in">
                              <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" id="IsHealthCareWorker-chk" ng-change="cK.oCBProductLevel(cK.IsHealthCareWorker , 'IsHealthCareWorker' , $event)"  ng-model="cK.IsHealthCareWorker">
                              <span class="checkmark"></span>
                           </div>
                        </label>
                     </div>
                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 optional-cover-box-ing-pad-top temp-disa-right-bdr nursing-home-checkbox">
                        <div class="opt-cov-box-ttl">Is Health Care Worker 
                            <span class="custom-popover large-tooltip margin-top-tooltip" custom-popover >
                              <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                              <span class="custom-tooltip-text" >
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                               
                                 <span class="pop-close">×</span>
                              </span>
                           </span>
                        </div>
                        <div class="opt-cov-box-txt">
                          
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 chk-row-pad-top" ng-show="cK.IsHealthCareWorker == 'Y'">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" >
                              <input type="" class="health-care-worker-details-style" name="" ng-model="cK.healthCareWorkerDetails" ng-blur="cK.oCBProductLevel(cK.IsHealthCareWorker , 'IsHealthCareWorker' , $event)" placeholder="Profession">
                              <span class="custom-popover large-tooltip margin-top-tooltip" custom-popover ng-show="cK.coronaKavachQuoteDetails.PolicyType == 'MI'">
                              <img class="img-responsive question-tooltip-img" src="assets/images/tooltip_Premium.png">
                              <span class="custom-tooltip-text" >
                                 doctors, nurses, midwives, dental practitioners and other health professionals including laboratory assistants, pharmacists, physiotherapists, technicians
                                 
                                 <span class="pop-close">×</span>
                              </span>
                           </span>
                            
                              </label>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>

            
         </div>
      </div>
   </div>
</div> -->


<!-- Cross selection section -->
<div class="container-fluid cross-sell-bg" ng-show="cK.showCrossSell">
   <cross-sell-quote cross="aC"  ></cross-sell-quote>
   <div class="row cross-sell-submit-btn">
      <div class="col-md-12 pad-l-r-0">
         <hr class="last-btn-width">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 pull-right show-button">
         <button class="btn btn-primary qq-save-btn" tabindex="13" id="activ-care-quote-submit" ng-click="cK.submitActivCareQuote($event) ; callGtag('click-button', 'quote' ,'quote-submit_[activCare]')">
            Proceed 
         <img src="assets/images/arrow.png">
         </button>
      </div>
   </div>
</div>
<div class="container-fluid " ng-show="!cK.showCrossSell">
   <div class="row ">
      <div class="col-md-12 pad-l-r-0">
         <hr class="last-btn-width">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 pull-right show-button">
         <button class="btn btn-primary qq-save-btn" tabindex="13" id="activ-care-quote-submit" ng-click="cK.submitActivCareQuote($event) ; callGtag('click-button', 'quote' ,'quote-submit_[activCare]')">
            Proceed 
         <img src="assets/images/arrow.png">
         </button>
      </div>
   </div>
</div>

<addMember addctrl="cK" childcount="4" ></addMember>