<!--

    Page Name :- PA quote page
    Author: Pankaj Patil
    Date: 09-07-2018

-->
<section class="pa-quote-section">
    <!-- PA Quote Header Section -->
    <div class="container-fluid">
        <div class="row cont-pad">
            <div class="col-md-12"><span class="main-header-text1">Activ Secure Personal Accident </span><span
                    class="main-header-text1">&nbsp;| </span><span class="main-header-text2">Plan
                    {{pA.quoteDetails.PAQuote.PAQuoteDetails[0].plan}}</span></div>
        </div>
    </div><!-- End of PA Quote Header Section -->
    <!-- PA Quote page breadcrumb section -->
    <div class="container-fluid">
        <div class="row cont-pad breadcrumb-row">
            <div class="col-md-12">
                <ul class="breadcrumb-cust">
                    <li class="breadcrumb-item-cust breadcrumb-item-cust-active"><a href="javascript:void(0)"
                            ng-click="quoteNavigation()">Quotation</a></li>
                    <!-- <li class="breadcrumb-item-cust"><span class="clickable"><i
                                class="glyphicon glyphicon-menu-right"></i></span></li> -->
                    <!-- <li class="breadcrumb-item-cust"><a ng-href="#!/pa-customize-quote"
                            ng-click="callGtag('click-item', 'buy-universal' ,'buy-universal_breadcrumbs-['+currentRoute[1]+'-Customization]')"
                            class="unbold-fonts" ng-class="{'active' : pA.paCustomize != null}">Customization</a></li> -->
                    <li class="breadcrumb-item-cust"><span class="clickable"><i
                                class="glyphicon glyphicon-menu-right"></i></span></li>
                    <li class="breadcrumb-item-cust"><a href="javascript:void(0)"
                            ng-click="breadcrumbNavigation('breadcrumbs','proposer-details','Proposer_Details',4)"
                            ng-class="{'active' : pA.pName != null}" class="unbold-fonts">Proposal</a></li>
                    <li class="breadcrumb-item-cust"><span class="clickable"><i
                                class="glyphicon glyphicon-menu-right"></i></span></li>
                    <li class="breadcrumb-item-cust"><a href="javascript:void(0)"
                            ng-click="callGtag('click-item', 'buy-universal' ,'buy-universal_breadcrumbs-['+currentRoute[1]+'-Payment]')"
                            class="unbold-fonts">Payment</a></li>
                </ul>
            </div>
        </div>
    </div><!-- End of PA Quote Page breadcrumb section -->
    <!-- Premium display section sticky section -->
    <div class="container-fluid prem-panel sticky" sticky>
        <div class="row prem-row">
            <div class="col-md-12 col-xs-11 col-sm-12 prem-text-panel text-right pad-l-r-0">
                <div class="dropdown dis-in"><a class="btn tooltip-btn dropdown-toggle dropdown-plan plan-dropdown"
                        type="button" data-toggle="dropdown" href="javascript:void(0)" id=""
                        ng-click="callGtag('click-item', 'buy-universal' ,'buy-universal_premium-amount')"><span
                            class="prem-small-txt">Premium:&nbsp;&nbsp;</span> <span class="prem-big-txt"
                            ng-if="pA.quoteDetails.PremiumDetail.TotalPremium"><span
                                class="prem-rupee-symbol">&#8377;</span> <span count-up
                                end-val="pA.quoteDetails.PremiumDetail.TotalPremium"></span> <span
                                ng-show="pA.tenureSelect == '1'">pa </span>&nbsp; <span
                                class="glyphi-drop-down-style pull-right" aria-hidden="true"><img
                                    src="assets/images/icon-chevron-down.png"> </span></span><span class="prem-big-txt"
                            ng-if="!pA.quoteDetails.PremiumDetail.TotalPremium"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span></a>
                    <ul class="dropdown-menu plan-dropdown-menubox">
                        <li ng-repeat="premium in pA.quoteDetails.PremiumDetail.ProductPremium">
                            <p href="javascript:void(0)" class="tooltip-text-hd mar-rght-15">
                                {{premium.ProductName | productFilter}}</p>
                            <p class="tooltip-grey-txt mar-rght-15">Amount : ₹{{premium.Premium | INR}} <span
                                    class="incl-gst">(incl GST)</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- End of Premium display section sticky section -->
    <!-- Sum insured of members section -->
    <div class="container">
        <!-- Sum Insured Header Section -->
        <div class="row quote-item-block res-pad-top-10">
            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-2">
                <div class="item-block-number-border"><span class="item-block-number">1</span></div>
            </div>
            <div class="col-md-11 col-sm-11 col-lg-11 col-xs-10">
                <div class="quote-item-block-content">
                    <div class="item-block-content-header">SUM INSURED OF MEMBERS <span class="custom-popover"
                            custom-popover><img class="img-responsive item-block-tool-tip-img"
                                src="assets/images/tooltip_Premium.png"
                                ng-click="callGtag('click-icon','quote','pa-quote_plan['+pA.quoteDetails.PAQuote.PAQuoteDetails[0].plan+']_sum-insured-i')">
                            <span class="custom-tooltip-text">Maximum Sum Insured eligibility is 12 times of member
                                Annual Income <span class="pop-close">×</span></span></span></div>
                    <div class="item-block-content-desc">The lump sum payout insured will be paid in case of a claim
                    </div>
                </div>
            </div>
        </div><!-- End of sum insured header section -->
        <!-- Sum insured members box slider section -->
        <div class="container sum-insured-members-padding-initial pa-sum-insured" id="insure-dropdown">
            <div class="col-md-12 sum-insured-members-padding-initial" id="pa-slick-section">
                <div id="pa-sum-isnured-slider" class="owl-carousel buy-owl-carousel" ng-if="pA.initSlider">
                    <div class="sum-insured-members-block self-spouse-section"
                        ng-repeat="insuredMember in pA.quoteDetails.PAQuote.PAQuoteDetails"
                        ng-init="insuredMember.objIndex = $index">
                        <div class="self-section">
                            <div class="dis-in box-txt-hd" ng-if="insuredMember.RelationWithProposer != 'KID'">
                                {{insuredMember.RelationWithProposer}}</div>
                            <div class="dis-in box-txt-hd" ng-if="insuredMember.RelationWithProposer == 'KID'">
                                {{insuredMember.RelationType}}</div><a href="javascript:void(0)" class="remove-option"
                                ng-click="pA.pADeleteMember(insuredMember,$index)"><img
                                    class="close-img-mar self-close-mark" src="assets/images/shape.png"></a>
                            <div class="box-txt">Sum Insured</div>
                            <div class="dropdown"><button tabindex="10"
                                    class="btn btn-default dropdown-toggle brand-dropdown grey self-insured-btn"
                                    button-dropdown="insuredMember.suminsured"
                                    ng-click="callGtag('click-dropdown','quote','pa-quote_plan['+pA.quoteDetails.PAQuote.PAQuoteDetails[0].plan+']_'+insuredMember.RelationType+'_sum-insured_dropdown-open')"><span
                                        class="self-insured-txt" class="select-cover-dropdown-txt"><span
                                            class="rupee-symbol">&#8377;</span> {{insuredMember.suminsured | INR}}
                                    </span><span class="glyphi-drop-down-style pull-right" aria-hidden="true">
                                        <img src="assets/images/icon-chevron-down.png"></span></button>
                                <ul ng-if="(insuredMember.RelationWithProposer =='SELF' && insuredMember.RelationWithProposer!='KID')"
                                    class="dropdown-menu self-insured-menu">
                                    <li ng-repeat="sum in pA.sumAmounts" class="li-item-text-change"
                                        ng-if="sum[pA.currentPlan]"
                                        ng-click="pA.calculateSumInsured(insuredMember.RelationWithProposer,sum.amount,insuredMember.objIndex)"
                                        data-val="{{sum.amount}}"><a tabindex="1" href="javascript:void(0)"><span
                                                class="rupee-symbol">&#8377;</span> <span
                                                class="option-text">{{sum.value}}</span></a></li>
                                </ul>
                                <ul ng-if="(insuredMember.RelationWithProposer!='SELF' && pA.otherMember.length!='0')"
                                    class="dropdown-menu self-insured-menu">
                                    <li ng-repeat="sum in pA.sumAmounts" class="li-item-text-change"
                                        ng-if="sum[pA.currentPlan]"
                                        ng-click="pA.calculateSumInsured(insuredMember.RelationWithProposer,sum.amount,insuredMember.objIndex)"
                                        data-val="{{sum.amount}}"><a tabindex="1" href="javascript:void(0)"><span
                                                class="rupee-symbol">&#8377;</span> <span
                                                class="option-text">{{sum.value}}</span></a></li>
                                </ul>
                                <ul ng-if="(insuredMember.RelationWithProposer == 'KID' && pA.otherMember.length!='0')"
                                    class="dropdown-menu self-insured-menu">
                                    <li ng-repeat="sum in pA.kidSumAmount" class="li-item-text-change"
                                        ng-if="sum[pA.currentPlan]"
                                        ng-click="pA.calculateSumInsured(insuredMember.RelationWithProposer,sum.amount,insuredMember.objIndex)"
                                        data-val="{{sum.amount}}"><a tabindex="1" href="javascript:void(0)"><span
                                                class="rupee-symbol">&#8377;</span> <span
                                                class="option-text">{{sum.value}}</span></a></li>
                                </ul>
                            </div>
                            <div class="self-income-div"
                                ng-show="insuredMember.showAnnualIncome || insuredMember.EarningNonEarning == 'Earning'">
                                <div class="box-txt">Annual Income</div>
                                <div class="dropdown">
                                    <div class="dropdown self-income-txtbox">
                                        <div class="input-group"><span
                                                class="input-group-addon earn-mem-bene-mod-box-txt-rup-sym-clr">&#8377;</span>
                                            <input type="text" valid-number
                                                class="form-control earn-mem-bene-mod-box-txt sum-assured-income-digit inp-txt-bg-white"
                                                ng-model="insuredMember.AnnualIncome" maxlength="9"
                                                ng-blur="pA.changeAnnualIncome(insuredMember)"> <span
                                                class="input-group-addon sum-assured-income-digit text-right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End of Sum insured members box slider section -->
    </div><!-- Sum insured selected members display section -->
    <div class="container">
        <div class="row text-center">
            <div id="line-top-mar" class="container">
                <div class="col-md-6 col-md-offset-3">
                    <div class="pad-top-15">
                        <hr class="style2">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End fo sum insured selected members section -->
    <!-- Tenure section -->
    <div class="container">
        <div class="row quote-item-block">
            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-2">
                <div class="item-block-number-border"><span class="item-block-number">2</span></div>
            </div>
            <div class="col-md-11 col-sm-11 col-lg-11 col-xs-10">
                <div class="quote-item-block-content">
                    <div class="item-block-content-header">TENURE</div>
                    <div class="item-block-content-desc">Duration in which benefits are payable under the policy</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 tenure-box-bg tenure-combo-container">
                <div class="col-xs-4" ng-class="{'activ':pA.tenureSelect == 1}" id="tenure-year-act-bdr">
                    <div class="pad-top-10">
                        <div class="pretty circle danger"><input type="radio" name="tenureRadio" value="1"
                                id="tenureRadio1" checked="checked" ng-model="pA.tenureSelect"
                                ng-change="pA.tenureChange()"> <label for="tenureRadio1"><i
                                    class="default"></i>&nbsp;<span class="table-value"> 1 Year</span></label></div>
                    </div>
                </div>
                <div class="col-xs-4" ng-class="{'activ':pA.tenureSelect == 2}" id="tenure-year-act-bdr1">
                    <div class="pad-top-10">
                        <div class="pretty circle danger margin-align-left-devices"><input type="radio"
                                name="tenureRadio" value="2" id="tenureRadio2" ng-model="pA.tenureSelect"
                                ng-change="pA.tenureChange()"> <label for="tenureRadio2"><i class="default"></i>&nbsp;
                                <span class="table-value">2 Years</span>
                                <div class="saving-tenure">
                                    <div class="saving-tenure-discount dis-in">Savings: &#8377;<span count-up
                                            end-val="pA.tenureSaving.TotalTwoYearSaving"></span>
                                        <div>(7.5% Off)</div>
                                    </div>
                                </div>
                            </label></div>
                    </div>
                </div>
                <div class="col-xs-4" ng-class="{'activ':pA.tenureSelect == 3}" id="tenure-year-act-bdr2">
                    <div class="pad-top-10">
                        <div class="pretty circle danger margin-align-left-devices"><input type="radio"
                                name="tenureRadio" id="tenureRadio3" value="3" ng-model="pA.tenureSelect"
                                ng-change="pA.tenureChange()"> <label for="tenureRadio3"><i class="default"></i>&nbsp;
                                <span class="table-value">3 Years</span>
                                <div class="saving-tenure">
                                    <div class="saving-tenure-discount dis-in">Savings: &#8377;<span count-up
                                            end-val="pA.tenureSaving.TotalThreeYearSaving"></span>
                                        <div>(10% Off)</div>
                                    </div>
                                </div>
                            </label></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End of tenure section -->
    <!-- Submit and back button section -->
    <div class="container pad-top-50 pad-btm-32">
        <div class="row">
            <div class="container mar-top-50 mar-btm-50 text-right"><button
                    class="customize-plan btn btn-primary qq-save-btn" id="pa-quote-submit"
                    ng-click="pA.pAQuoteSubmit($event) ; callGtag('click-button','quote','pa-quote_plan['+pA.quoteDetails.PAQuote.PAQuoteDetails[0].plan+']_rfb-proposer-details')">Proceed <img
                        src="http://d33wubrfki0l68.cloudfront.net/480b8f26715697b0044b728e23d9e4f86ea0f998/e33c9/images/arrow.png"></button>
            </div>
        </div>
    </div><!-- End of submit button and back button section -->
</section>
<addmember addctrl="pA" childcount="4"></addmember>
<cross-sell-quote cross="pA" ng-if="pA.membersDetails.length > 0" style="display: none"></cross-sell-quote>
<!-- End of PA Get Quote section -->