.breadcrumb-item-cust>a,
.nav-tabs.wizard-new,
body {
    background-color: #f1f3f6
}

.dropdown-menu,
.name-text-width .input-text-box {
    min-width: 100%
}

.health-panel-number-header,
.health-panel-six-header,
.input-text-box {
    font-style: normal;
    font-stretch: normal
}

body {
    overflow-x: hidden;
    font-family: PF-Handbook-Pro-Regular, PF-Encore-Sans-Pro-Regular;
    counter-reset: healthsection
}

.breadcrumb-item-cust .unbold-fonts,
.breadcrumb-item-cust>a,
.btn.qq-save-btn,
.dropdown-menu li a,
.input-text-box,
.main-header-text1,
.sum-assured-yrs-txt-mob {
    font-family: PF-Handbook-Pro-Regular
}

.counter-span::before {
    counter-increment: healthsection;
    content: counter(healthsection)
}

.nav-members ::-webkit-scrollbar {
    display: none
}

.nav-members ::-webkit-scrollbar-track {
    display: none
}

.nav-members ::-webkit-scrollbar-thumb {
    display: none
}

.breadcrumb-cust li a,
.yes-no-question-section a {
    -webkit-user-drag: none
}

.nav-tabs.wizard-new {
    padding: 0;
    width: 100%;
    border-radius: 0;
    clear: both;
    border-bottom: none
}

.nav-tabs.wizard-new li {
    position: relative;
    padding: 0;
    margin: 0 4px 0 0;
    width: 19.6%;
    float: left;
    text-align: center
}

.nav-tabs.wizard-new li>* {
    position: relative;
    color: #999;
    border-color: #dedede
}

.nav-tabs.wizard-new li.completed a {
    color: #747474 !important
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: table
}

.sticky {
    z-index: 1000;
    position: sticky;
    top: 0
}

.wizard .nav-tabs,
.wizard .tab-pane,
.wizard>div.wizard-inner {
    position: relative
}

.cont-pad {
    padding-top: 21.5px !important;
    padding: 0 50px
}

.main-header-text1 {
    height: 30px;
    font-size: 30px;
    text-align: left;
    color: #000
}

.dis-in {
    display: inline-block
}

.active {
    color: #c7222a !important
}

.tooltip-top {
    margin-right: 10px
}

.item-block-tool-tip-img {
    vertical-align: sub;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 5px
}

.tooltip.bottom .tooltip-arrow {
    visibility: hidden
}

.red-color {
    color: #c7222a
}

.pad-btm-25 {
    padding-bottom: 25.5px
}

.breadcrumb-item-cust-active {
    color: #000;
    display: inline;
    border-bottom: 4px solid;
    padding-bottom: 10.5px;
    line-height: 1.75em
}

.breadcrumb-item-cust>a {
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: #000
}

.breadcrumb-row ul,
li {
    display: inline;
    text-align: left;
    margin: 0
}

.breadcrumb-cust li {
    padding: 0 2px
}

.name-txt-padding,
.pad-l-r-5 {
    padding-left: 0
}

li a:focus,
li a:hover {
    outline: 0;
    text-decoration: none
}

.breadcrumb-menu-right-font-size {
    font-size: 11px
}

ol li a,
ol li a:hover {
    color: #000
}

.breadcrumb>li+li:before {
    color: #000;
    content: ">\00a0"
}

.breadcrumb>.active {
    color: #000;
    text-decoration: underline
}

.breadcrumb-underline {
    width: 106.5px;
    height: 4px;
    border-radius: 5px;
    background-color: #000
}

.btn-default.active,
.btn-default:active:focus,
.input-text-box,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background-color: #fff
}

.margin-question-left {
    margin: 0 -20px
}

.breadcrumb-row {
    padding-top: 15.5px !important;
    padding-bottom: 8.5px !important
}

.dropdown-menu {
    width: 100%
}

.btn.dropdown-toggle.focus,
.btn.dropdown-toggle:active,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:visited {
    outline: 0
}

.dropdown-menu li a {
    font-size: 17px
}

.btn-default:active,
.btn-default:hover {
    color: #fff;
    background-color: #fff;
    border-color: #6c7174
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.btn.dropdown-toggle:focus {
    outline: 0 !important
}

.breadcrumb-item-cust .unbold-fonts {
    font-size: 15px;
    font-weight: 300;
    color: #000
}

.input-text-box {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    height: 44px;
    border-radius: 4px !important;
    border: 1px solid #cdcece;
    color: #000;
    box-shadow: none
}

.input-text-box:focus {
    box-shadow: 0 0 6px 0 #cdcece;
    border: 1px solid #6c7174
}

.placeholder-searchtext {
    border: 1px solid #cdcece;
    color: #000;
    box-shadow: none;
    border-left: 0 !important;
    padding-left: 0
}

.placeholder-right-addon {
    border: 1px solid #cdcece;
    color: #000;
    box-shadow: none;
    border-right: 0 !important
}

.btn.qq-save-btn {
    letter-spacing: .2px;
    text-align: left;
    color: #fff;
    width: 180px;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
    background-color: #694743;
    border: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    margin-bottom: 20px
}

.btn.qq-save-btn:focus,
.btn.qq-save-btn:hover {
    outline: 0;
    color: #fff;
    background-color: #694743
}

.btn.qq-save-btn img {
    float: right;
    height: 50%;
    position: relative;
    top: 4px
}

.btn.qq-save-btn-left {
    text-align: right !important
}

.bg-white {
    color: #000 !important;
    background-color: #f2f3f6 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12) !important;
    border: .5px solid #cfcfcf !important
}

.close {
    color: #c7222a;
    text-shadow: none;
    opacity: 1
}

.name-text-width .input-group {
    width: 100%
}

.health-txtbox-wid .input-text-box,
.height-text-width .input-text-box {
    min-width: auto !important
}

.pad-l-r-5 {
    padding-right: 15px
}

.name-txt-padding,
.pad-r-5 {
    padding-right: 5px
}

.dob-text-width .input-group {
    width: 25% !important
}

.dob-text-width .input-text-box {
    min-width: auto !important;
    padding-right: 5px;
    border-radius: 3px
}

.height-text-width .input-group {
    width: 100% !important
}

.annual-income-rs-sym-txt {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: left;
    color: #666;
    background-color: #fff
}

.toggle-mar-l-r {
    margin-left: 5px;
    margin-right: 20px
}

.sum-assured-yrs-txt-mob {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    text-align: right;
    color: #595959;
    background-color: #fff
}

#health-lifestyle-member-details .nav-tabs li a,
.item-block-number {
    text-align: left;
    font-weight: 700;
    font-family: PF-Handbook-Pro-Regular
}

.pad-btm-50 {
    padding-bottom: 50px
}

@media (max-width:767px) {

    .item-block-content-header,
    .main-header-text1,
    .main-header-text2 {
        font-size: 21px
    }

    .margin-question-left {
        margin: 0
    }

    .caret-pos {
        margin-top: 17px;
        margin-right: -15px
    }

    .sum-tenure-summary-panel {
        height: 50px
    }
}

.dropdown-caret {
    float: right
}

.item-block-number {
    font-size: 36px;
    color: #c7222a;
    margin-right: 8px;
    vertical-align: super
}

.wizard {
    background: #fff
}

.nav-tabs>li>a {
    margin-right: 0;
    border: 0 !important
}

.wizard .nav-tabs {
    margin: 0 auto;
    border-bottom: 0
}

.nav>li>a:hover {
    background-color: transparent;
    transition: none !important;
    border: none
}

.tab-content,
.wizard .tab-pane,
.wizard>div.wizard-inner {
    background-color: #f1f3f6
}

.nav-tabs>li>a:hover {
    border: none !important;
    transition: none !important
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:focus,
.wizard .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
    background-color: #f1f3f6
}

.wizard .nav-tabs>li {
    width: 25%
}

.wizard .tab-pane {
    padding-top: 10px
}

.wizard h3 {
    margin-top: 0
}

.nav-tabs>li.active>a {
    border: none
}

.tab-pad-left {
    padding-left: 100px;
    padding-top: 17.5px
}

.nav>li.disabled>a {
    opacity: .3
}

.inner-tab-bg-clr {
    background-color: #fff
}

#health-lifestyle-member-details .tab-pane {
    position: relative !important;
    padding-top: 0 !important
}

#health-lifestyle-member-details .nav-tabs {
    padding-left: 20px
}

#health-lifestyle-member-details .nav-tabs>li {
    width: auto;
    margin-right: 14px
}

#health-lifestyle-member-details .nav-tabs li a {
    font-size: 18px;
    color: #e2e2e2
}

#health-lifestyle-member-details .nav-tabs>li>a:hover {
    background-color: transparent;
    border: none
}

#health-lifestyle-member-details .nav-tabs>li.active>a,
#health-lifestyle-member-details .nav-tabs>li.active>a:focus,
#health-lifestyle-member-details .nav-tabs>li.active>a:hover {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #353535;
    border-bottom: 5px solid #f7a500 !important;
    background-color: transparent
}

#sixheading .text-right {
    text-align: right;
    margin-left: 32px
}

.health-panel-padding {
    padding: 20px 16px;
    border-bottom: 1px solid #ddd
}

.health-n-lifestyle-input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #000
}

.health-panel-number-header {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    color: #696969;
    display: inline-block;
    height: 50px;
    width: 2.8%;
    padding-left: 2px;
    margin-top: -6px
}

.health-panel-six-header {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 16.5px;
    font-weight: 400;
    line-height: .91;
    letter-spacing: normal;
    color: #000
}

.wizard .nav-tabs li a,
.wizard .nav-tabs li.active {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: PF-Handbook-Pro-Regular
}

.wizard .nav-tabs li.active {
    color: #6a4742 !important;
    cursor: pointer
}

.wizard .nav-tabs li a {
    color: #353535 !important
}

.plan-dropdown-menubox {
    width: 269.5px;
    height: auto;
    background-color: #fff;
    padding-top: 10px;
    border: none;
    box-shadow: 0 12.5px 20px 0 rgba(0, 0, 0, .13);
    border-radius: 0
}

.plan-drop-web-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 10px;
    line-height: 1.45;
    text-align: left;
    color: #6c7174;
    margin-left: 22px
}

.tooltip-grey-txt,
.tooltip-text-hd {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-left: 16.5px
}

.plan-dropdown-menubox>li>a:hover {
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
    color: #c7222a;
    background-color: transparent
}

.plan-dropdown-menubox>li>a,
.tooltip-grey-txt,
.tooltip-text-hd {
    color: #6c7174;
    font-family: PF-Handbook-Pro-Regular
}

#glyphicon-plan-section {
    top: 0
}

.plan-dropdown-menubox>li>a {
    font-size: 15px;
    text-align: left
}

.tooltip-text-hd {
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px
}

.tooltip-grey-txt {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.45
}

.tooltip-second-pad-top {
    padding-top: 10px
}

.tooltip-btn {
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 700;
    color: #c7222a;
    background-color: transparent;
    font-size: 30px;
    padding-bottom: 0
}

.form-background,
.harmful-substance-btn {
    background-color: #fff
}

.tooltip-btn:active,
.tooltip-btn:focus,
.tooltip-btn:hover {
    box-shadow: none;
    outline: 0
}

.form-background {
    border-radius: 3px;
    box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, .14)
}

.form-top-left-pad {
    padding-top: 38px;
    padding-left: 53px;
    padding-right: 53px
}

.form-heading {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 20.5px;
    font-weight: 700;
    text-align: left;
    color: #585858
}

.health-father-form-number,
.yes-no-btn .yes-no-btn-txt {
    font-family: PF-Handbook-Pro-Regular;
    text-align: left;
    font-weight: 700
}

.btn-pad-l-r-0,
.pad-l-r-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.health-member-form-top-left-pad {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0
}

.harmful-substance-btn,
.harmful-substance-btn-white {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    padding: 8px 30px;
    border-radius: 2px
}

.health-father-form-number {
    font-size: 25px;
    color: #696969
}

.yes-btn-red,
.yes-no-btn.selected .yes-no-btn-txt {
    color: #fff
}

.health-father-form-number-width {
    width: 5%
}

.harmful-substance-btn-white {
    background-color: #f7a500
}

.btn-bg-white {
    background-color: #fff !important
}

.yes-btn-red,
.yes-btn-red-initial {
    background-color: #c7222a
}

.yes-btn-white {
    background-color: #fff
}

.yes-no-btn {
    border: 1px solid #6a4742;
    padding: 3px 30px;
    border-radius: 2px 0 0 2px
}

.yes-no-btn.selected {
    background: #6a4742
}

.yes-no-btn.no-answer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px
}

.yes-no-btn.yes-answer {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.yes-no-btn .yes-no-btn-txt {
    color: #6a4742;
    letter-spacing: .2px;
    font-size: 16px
}

.health-relative-dropdown,
.health-selctive-txt {
    font-size: 14px;
    letter-spacing: .2px;
    text-align: left;
    color: #666
}

.hide-selected-btn-sty {
    border-radius: 0 2px 2px 0 !important
}

.hide-unselected-btn-sty {
    border-radius: 2px 0 0 2px !important
}

.pad-btm-27 {
    padding-bottom: 27px
}

.pad-btm-47 {
    padding-bottom: 20px
}

.mar-r-16 {
    margin-right: 16px
}

.dis-none {
    display: none
}

.health-selctive-txt {
    font-family: PF-Handbook-Pro-Regular;
    padding-bottom: 4px;
    margin-left: 12px;
    padding-top: 5px
}

.health-relative-dropdown {
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
    background-color: #f4f4f4;
    border: none
}

.health-dropdown-txt,
.health-form-small-txt,
.health-input-addon-txt {
    opacity: .7;
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 400;
    color: #000;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal
}

.health-add-btn,
.health-remove-btn {
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12)
}

.health-relative-padding {
    padding: 10px
}

.health-relative-add-more-top-pad {
    margin-top: 10px
}

.health-pad-l-r-0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.health-remove-btn {
    background-color: #f7a500;
    padding: 3px 28px
}

.health-add-btn {
    padding: 3px 25px
}

.mar-btm-10 {
    margin-bottom: 10px
}

.health-dropdown-txt {
    font-size: 18px;
    line-height: normal;
    padding-bottom: 10px
}

.health-form-small-txt {
    font-size: 12px;
    line-height: normal;
    text-align: right;
    padding-top: 6px
}

.health-form-small-txt-pad-btm {
    padding-bottom: 26px
}

.health-form-small-txt-pad-top-btm {
    padding-top: 6px
}

.health-input-addon-txt {
    font-size: 18px;
    line-height: 1.11;
    text-align: right
}

.add-another-btn-large-txt,
.add-info-form-hd,
.remove-btn-large-txt {
    font-family: PF-Handbook-Pro-Regular;
    text-align: left;
    letter-spacing: .2px
}

.pad-left-15 {
    padding-left: 15px;
    padding-right: 0
}

.health-type-subtance .input-group {
    width: 100%
}

.pad-btm-87 {
    padding-bottom: 87px
}

#health-lifestyle-member-details .form-background {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, .14)
}

.pad-btm-0 {
    padding-bottom: 0 !important
}

.add-info-form-hd {
    font-size: 14px;
    line-height: 1.29;
    color: #666
}

.pad-btm-30 {
    padding-bottom: 30px
}

.pad-btm-40 {
    padding-bottom: 40px
}

.add-info-grey-bdr {
    width: .5px;
    height: 90.5px;
    border: .5px solid rgba(0, 0, 0, .12);
    margin-top: 30px
}

.bdr-right-wid {
    margin-right: -54px
}

.add-info-text textarea {
    border: none;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: none
}

.pad-btm-80 {
    padding-bottom: 80px
}

.remove-btn-large {
    border-radius: 2px;
    background-color: #f7a500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    padding: 10px 50px
}

.remove-btn-large-txt {
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

.add-another-btn-large {
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #f7a500;
    padding: 10px 50px
}

.add-another-btn-large-txt {
    font-size: 18.5px;
    font-weight: 700;
    color: #f7a500
}

.declare-summary-bold-text,
.declare-summary-text {
    font-size: 16px;
    line-height: 1.13;
    color: #585858;
    text-align: left;
    font-family: PF-Handbook-Pro-Regular
}

.declare-summary-bold-text {
    font-weight: 700
}

.vertical-align-middle {
    vertical-align: middle
}

.declaration-textbox {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 12.5px;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: left;
    color: #6c7174
}

.edit-email-img {
    vertical-align: top;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px
}

.textbox-bg-pad {
    padding: 14px 19px 5px;
    background-color: #fff;
    border: 1px solid #cdcece;
    border-radius: 4px
}

.agree-btn,
.agree-btn:active,
.agree-btn:hover {
    background-color: #f7a500;
    color: #555
}

.textbox-bg-pad:focus {
    box-shadow: 0 0 6px 0 #cdcece;
    border: 1px solid #6c7174
}

.textbox-width {
    width: 195px
}

.textbox-width:focus {
    outline: 0 !important
}

.textbox-mob-width {
    width: 195px;
    font-size: 14px
}

.agree-btn,
.otp-inp-wid .input-group {
    width: 100%
}

.inp-height {
    height: 0;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 5px !important
}

.inp-height:focus {
    outline: 0;
    box-shadow: none;
    border: none
}

.otp-fa-edit-margin-top {
    margin-top: 7px;
    font-size: 15px
}

.pad-top-39 {
    padding-top: 39.5px
}

.pad-btm-39 {
    padding-bottom: 39.5px
}

.pad-btm-10 {
    padding-bottom: 10px
}

.agree-btn {
    padding: 10px;
    font-family: PF-Handbook-Pro-Regular;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    border: none
}

.otp-recv-btn,
.send-otp-btn {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1)
}

.send-btn-right-pad {
    margin-right: 29px
}

.authen-small-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 13px;
    letter-spacing: .2px;
    text-align: left;
    color: #6c7174
}

.otp-recv-txt,
.send-btn-txt {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 700
}

.send-otp-btn {
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #f7a500;
    padding: 6px 24px
}

.send-otp-btn:active,
.send-otp-btn:focus,
.send-otp-btn:hover {
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .1);
    border: 2px solid #f7a500;
    color: #f7a500;
    outline: 0
}

.send-btn-txt {
    color: #f7a500
}

.otp-recv-btn {
    border-radius: 2px;
    background-color: #684743;
    padding: 6px 17px;
    margin-left: 5px
}

.otp-recv-btn:hover {
    background-color: #684743;
    color: #fff
}

.send-btn-pad-l-r-0 {
    padding-left: 0;
    padding-right: 0
}

.mar-top-8 {
    margin-top: 8px
}

.pad-btm-20 {
    padding-bottom: 20px
}

.pad-top-58 {
    padding-top: 58px
}

.otp-section-pad-btm {
    padding-bottom: 25px !important
}

.otp-recv-txt {
    color: #fff
}

.eia-accnt-link-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 15px;
    letter-spacing: .2px;
    text-align: left;
    color: #f8a600;
    text-decoration: underline !important
}

.eia-acct-link-top-15 {
    padding-top: 15px
}

.declr-summ-section .pad-btm-25 {
    padding-bottom: 25px
}

.declr-summ-section .pad-l-r-0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.decl-summ-pad-bottom {
    padding-bottom: 100px
}

.fa-edit-margin-top {
    margin-top: 3px;
    font-size: 15px
}

.declr-summary-btn {
    width: 180px;
    height: 42px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    border: 2px solid #694743;
    font-family: PF-Handbook-Pro-Regular;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .2px;
    text-align: center;
    color: #694743
}

.declr-summary-btn:active,
.declr-summary-btn:focus,
.declr-summary-btn:hover {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    border: 2px solid #694743;
    color: #694743;
    outline: 0
}

.summary-modal-title {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .3px;
    text-align: left;
    color: #000
}

.summary-modal-hd {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    color: #585858
}

.summary-rup-sym {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 400
}

.health-pre-existing-txt,
.plan-summary-sml-hd,
.summary-sm-txt,
.summary-txt-regular {
    font-family: PF-Handbook-Pro-Regular;
    color: #585858
}

.plan-summary-sml-hd {
    font-size: 20.5px;
    font-weight: 700;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 12.5px
}

.summary-sm-txt {
    font-size: 15px;
    font-weight: 500;
    text-align: left
}

.summary-txt-regular {
    font-size: 13px;
    text-align: left
}

.summary-pad-btm-44 {
    padding-bottom: 44.5px
}

.col-width-1 {
    width: 16%
}

.col-width-2 {
    width: 23%
}

.tbl-row-bg-clr {
    background-color: #f3f3f3
}

.table>tbody>tr>td {
    border-top: 5px solid #fff
}

.txt-right-imp {
    text-align: right !important
}

.pad-right-11 {
    padding-right: 11px
}

.pad-left-11 {
    padding-left: 11px
}

.pad-left-0 {
    padding-left: 0
}

.btn-padding-top {
    padding-top: 34px
}

.btn-background-clr {
    background-color: #f1f3f6
}

.health-pre-exist-pad-l-r-0 {
    padding-left: 0;
    padding-right: 0
}

.health-pre-existing-txt {
    font-size: 20.5px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-top: 37.5px;
    padding-bottom: 9px
}

#accordionone .panel-heading,
.health-pre-exist-sml-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #000
}

.health-pre-exist-sml-txt {
    font-size: 15px;
    line-height: 1.87;
    text-align: left;
    padding-bottom: 9px
}

.health-pre-exist-pad-l-r {
    padding-left: 35px;
    padding-right: 35px
}

a:focus,
a:hover {
    outline: 0;
    text-decoration: none
}

#accordionone .panel {
    border: 0;
    box-shadow: none;
    margin-top: 0
}

.panel-default {
    border-color: #fff
}

#accordionone .panel-heading {
    padding: 0;
    font-size: 20px;
    line-height: normal;
    background-color: transparent
}

#accordionone .panel-titleone a.collapsed,
#accordionone a.collapsed-new,
.btn-container {
    background-color: #fff;
    font-weight: 400;
    letter-spacing: normal;
    font-family: PF-Handbook-Pro-Regular;
    font-style: normal;
    font-stretch: normal
}

.panel-titleone {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

#accordionone .panel-titleone a {
    display: block;
    position: relative;
    background: #fff;
    color: #c7222a;
    padding: 15px 16px 15px 6px;
    border: 0 solid #ddd;
    transition: all .1s linear 0s;
    font-family: PF-Handbook-Pro-Regular;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    box-shadow: inset 0 1px 0 0 #c7c8ca;
    border-left: 0 none;
    border-right: 0 none;
    text-align: left
}

#fiveheading .panel-titleone a {
    padding: 20px 16px 20px 6px !important
}

.arrow-headingone [data-toggle=collapse].collapsed:after {
    content: url(../../img/arrow-right.svg);
    float: right
}

.arrow-headingone [data-toggle=collapse]:after {
    content: url(../../img/arrow-up.svg);
    float: right
}

#accordionone .panel-titleone a.collapsed:before {
    border: 0
}

#accordionone .panel-titleone a.collapsed:before,
#accordionone .panel-titleone a:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 36px;
    border-top: 7px solid #de4d4e
}

#accordionone .panel-body {
    border-top: 0 none;
    font-family: PF-Handbook-Pro-Regular;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6c7174;
    padding-left: 7px
}

.btn-container {
    font-size: 18px;
    line-height: normal;
    color: #c7222a;
    border: none;
    padding-top: 19px;
    outline: 0;
    padding-left: 0
}

#accordionone .panel-titleone a.collapsed,
#accordionone a.collapsed-new {
    margin: 0;
    border: 0 solid #ddd;
    border-left: 0 none;
    border-right: 0 none;
    text-align: left;
    font-size: 24px;
    line-height: 1.17;
    color: #000
}

.accordian-numbering {
    font-size: 25px
}

#accordionone .panel-titleone a.collapsed .accordian-numbering {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #696969;
    width: 2.3%
}

.accordian-ttl-sml-grey-txt,
.accordian-ttl-sml-orange-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 15px;
    font-style: italic;
    line-height: 1.87;
    text-align: right;
    font-weight: 400;
    letter-spacing: normal
}

#accordionone .panel-titleone a .accordian-numbering {
    color: #c7222a;
    width: 2.3%
}

.first-point-box-shadow {
    box-shadow: none !important
}

#toggle {
    border: none;
    background-color: transparent;
    outline: 0
}

.aco-last-border {
    border-top: 1px solid #ddd !important
}

.hl-text {
    position: absolute;
    right: 0
}

.accordian-ttl-sml-grey-txt {
    font-stretch: normal;
    color: #787878
}

.accordian-ttl-sml-orange-txt {
    font-stretch: normal;
    color: #f7a500
}

.checkbox-label,
.chronic-disease-blck-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-style: normal;
    font-stretch: normal
}

.panel-body-top-btm {
    padding-top: 39px;
    padding-bottom: 38px
}

.chronic-disease-blck-txt {
    font-size: 16.5px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000
}

.health-disease-dropdown,
.text-info {
    font-weight: 700;
    letter-spacing: .2px;
    text-align: left
}

.yes-brown-btn {
    padding: 20px;
    border-radius: 2px;
    background-color: #6a4742;
    border: 1px solid #6a4742
}

.health-disease-dropdown,
.select-two-dropdown-bg {
    background-color: #f4f4f4
}

.disease-btn-pad-btm {
    padding-bottom: 12px
}

.panel-collapse .selected-yes-btn {
    padding: 3px 28px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: -4px
}

.panel-collapse .unselected-no-btn {
    padding: 3px 30px;
    margin-left: -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.chr-dis-text-pad-r-15 {
    padding-right: 15px
}

@media (max-width:991px) and (min-width:320px) {
    #accordionone .panel-titleone a {
        font-size: 20px;
        padding: 10px 0
    }

    #accordionone .panel-titleone a.collapsed {
        font-size: 20px
    }

    #accordionone .panel-body {
        font-size: 18px
    }

    #accordionone .panel-titleone a.collapsed .accordian-numbering {
        margin-top: -3px
    }
}

.select-box-width {
    width: 250px
}

.min-select-box-width {
    min-width: 250px
}

.health-disease-dropdown {
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    border: 1px solid #cecece;
    width: 100%
}

.health-disease-glyphicon .glyphicon.glyphicon-chevron-down {
    top: 8px
}

.text-info {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 12.5px;
    color: #6c7174
}

.text-info:focus {
    outline: 0
}

.summary-modal-opt-cov-pad-left {
    padding-left: 20px !important
}

.summary-pad-btm-50 {
    padding-bottom: 50px
}

.bdr-radius-4 {
    border-radius: 4px
}

.health-pad-top-18 {
    padding-top: 5px
}

.health-pad-top-38 {
    padding-top: 30px
}

.any-claim-pad-btm {
    padding-bottom: 40px
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 30.5px;
    margin-bottom: 20px
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px
}

.checkbox:hover input~.checkmark {
    background-color: none
}

.checkbox input:checked~.checkmark {
    background-color: #fff;
    border: 1px solid #dc2727 !important
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.checkbox input:checked~.checkmark:after {
    display: block
}

.checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #dc2727;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.checkbox-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #585858;
    padding-left: 30px !important
}

.declaration-pad-align {
    padding-top: 20px;
    padding-left: 22.5px;
    padding-right: 22.5px
}

.desktop-pad-l-r-0 {
    padding-left: 0;
    padding-right: 0
}

.health-member-form-top-left-pad .input-text-box,
.loan-emi-tablet-pad-l-r .input-text-box {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important
}

.harmful-substance-question .input-text-box {
    border-radius: 3px 0 0 3px !important
}

.annual-income-input-txt .input-text-box,
.annual-income-radius .input-text-box {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

.others-text-box .harmful-substance-other-text-radius {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important
}

.pin-code-pad-l {
    padding-left: 0
}

@media (min-width:992px) and (max-width:1200px) {
    .adhr-no .input-text-box {
        min-width: 143px
    }

    .sm-desk-pad-l-15 {
        padding-left: 15px !important
    }

    .nav-tabs>li>a {
        padding: 10px 13px
    }

    .select-box-width {
        width: 200px !important
    }

    .tab-header-text {
        font-size: 14px
    }

    .wizard .nav-tabs>li {
        margin-right: 0
    }

    .tab-pad-left {
        padding-left: 60px
    }

    .form-lbl {
        font-size: 13px
    }

    .dob-pad .pad-left-15 {
        padding-left: 0
    }

    .tab-arrow {
        margin-left: 35px
    }

    .tab-arrow-tab3 {
        margin-left: 65px
    }

    .panel-collapse .unselected-no-btn {
        padding: 3px 23px
    }

    .panel-collapse .selected-yes-btn {
        padding: 3px 24px
    }
}

@media (min-width:768px) and (max-width:991px) {
    #fiveheading .panel-titleone a {
        padding: 20px 6px 20px 0 !important
    }

    .accordian-ttl-sml-grey-txt,
    .accordian-ttl-sml-orange-txt {
        right: 20px
    }

    .health-pre-exist-pad-l-r-0 {
        padding-left: 0;
        padding-right: 0
    }

    .chronic-disease-blck-txt {
        line-height: 1.2;
        padding-bottom: 5px
    }

    .tracker-pad-l-top {
        padding-left: 50px;
        padding-top: 7px
    }

    .health-disease-dropdown {
        width: 100%
    }

    .date-tab-pad-l-0 {
        padding-left: 0 !important
    }

    .city-tab-pad-l-15 {
        padding-left: 15px !important
    }

    .city-tab-pad-r-15 {
        padding-right: 0 !important
    }

    .annual-income-input-txt .input-text-box,
    .annual-income-radius .input-text-box {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important
    }

    #health-lifestyle-member-details .nav-tabs {
        padding-top: 10px;
        padding-left: 20px
    }

    .cont-pad {
        padding: 0 21px
    }

    .wizard .nav-tabs>li {
        width: 25%
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .wizard .tab-pane {
        padding-top: 10px
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .health-pad-l-r-0,
    .pad-left-15 {
        padding-bottom: 15px
    }

    .pad-l-r-0 {
        padding-right: 12px !important;
        padding-left: 12px !important
    }

    .horizontal-pad {
        padding-right: 31.5px;
        padding-left: 31.5px
    }

    .input-group {
        min-width: 100%
    }

    .health-txtbox-wid .input-text-box,
    .health-type-subtance .input-text-box {
        max-width: 100% !important
    }

    .pad-left-15 {
        padding-left: 0
    }

    .health-form-small-txt {
        padding-bottom: 5px
    }

    .health-form-small-txt-pad-top-btm {
        padding-top: 0
    }

    .mar-btm-10 {
        margin-bottom: 0
    }

    .add-another-btn-large {
        padding: 9px 15px
    }

    .add-another-btn-large-txt {
        font-size: 15.5px
    }

    .remove-btn-large {
        padding: 10px 26px
    }

    .add-info-text textarea {
        margin-bottom: 42px
    }

    .any-claim-section .pad-btm-80 {
        padding-bottom: 20px
    }

    .any-claim-section .pad-l-r-0,
    .any-claim-section .pad-l-r-5 {
        padding-right: 0;
        padding-left: 0
    }

    .health-father-form-txt-hd {
        padding-bottom: 26px !important
    }

    .pad-btm-40 {
        padding-bottom: 16px
    }

    .name-txt-padding {
        padding-left: 15px;
        padding-right: 15px
    }

    .health-add-btn,
    .health-remove-btn {
        float: right
    }

    .select-box-width {
        width: 500px !important
    }

    .tab-arrow-mobile {
        margin-left: 37px
    }

    .tab-pad-left {
        padding-left: 70px
    }

    .mobile-pad-l-r-0 {
        padding-left: 0;
        padding-right: 0
    }

    .tab-arrow-width {
        width: 100px
    }

    .tab-pad-l-r-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .wizard .nav-tabs li a {
        text-align: center
    }

    #sixheading .text-right {
        margin-left: 22px;
        text-align: left;
        padding-top: 10px
    }

    .state-mob-pad .pad-l-r-0 {
        padding-left: 12px !important
    }

    .harmful-substance-question .text-right,
    .professional-details-question .text-right {
        text-align: left
    }
}

@media (min-width:600px) and (max-width:768px) {
    .input-text-box {
        max-width: 100% !important
    }
}

@media (min-width:335px) and (max-width:580px) {
    .health-disease-dropdown {
        padding-top: 8px !important;
        padding-bottom: 8px !important
    }

    .health-disease-glyphicon .glyphicon.glyphicon-chevron-down {
        top: 8px !important
    }

    .tab-arrow-mobile {
        margin-left: 18px
    }

    .tab-pad-left {
        padding-left: 20px !important
    }
}

@media (min-width:581px) and (max-width:767px) {

    .checkbox,
    .item-block-content-header-mob {
        margin-top: 0
    }

    .adhr-no .input-text-box,
    .input-group {
        min-width: 100%
    }

    #fiveheading .panel-titleone a {
        padding: 20px 16px 20px 0 !important
    }

    .pad-btm-50 {
        padding-bottom: 0
    }

    .tab-arrow-width {
        width: 90px
    }

    .annual-income-input-txt .input-text-box,
    .annual-income-radius .input-text-box {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important
    }

    .checkbox-label {
        font-size: 12px
    }

    #health-lifestyle-member-details .nav-tabs {
        padding-top: 10px
    }

    .select-box-width {
        width: 350px !important
    }

    .textbox-bg-pad,
    .wizard {
        width: 100%
    }

    .down-arew {
        text-align: center;
        margin-right: 0
    }

    .show-sel-text {
        padding-top: 20px;
        font-family: PF-Handbook-Pro-Regular;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #6c7174
    }

    .item-block,
    .quote-item-block {
        padding-top: 0
    }

    .tool-tip-img {
        position: absolute;
        top: -5px;
        right: -17px
    }

    .btn-modal .mar-l-15,
    .tooltip-top {
        margin-left: 0
    }

    .quote-item-block-content {
        padding-bottom: 25px
    }

    .pad-btm-25,
    .pad-tb-100 {
        padding-bottom: 0
    }

    .pad-l-r-0 {
        padding-right: 12px !important;
        padding-left: 12px !important
    }

    .form-top-left-pad,
    .horizontal-pad {
        padding-left: 9px;
        padding-right: 9px
    }

    .pad-tb-100 {
        padding-top: 20px
    }

    .form-top-left-pad {
        padding-top: 22.5px
    }

    .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 5px
    }

    .pad-l-r-5 {
        padding-right: 15px;
        padding-left: 15px
    }

    .mob-pad-l-r-0 {
        padding-right: 0;
        padding-left: 0
    }

    .pad-top-18 {
        padding-top: 18px
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .cont-pad {
        padding: 0
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .tab-pad-left {
        padding-left: 45px
    }

    .form-background {
        padding-bottom: 40px
    }

    .health-pad-l-r-0,
    .pad-left-15 {
        padding-bottom: 15px
    }

    .pre-pad {
        padding-right: 18.5px
    }

    .pad-r-5 {
        padding-left: 5px
    }

    .pad-l-r-0-mob {
        padding-right: 0;
        padding-left: 0
    }

    .pad-left-15 {
        padding-left: 0
    }

    .health-form-small-txt {
        padding-bottom: 5px;
        font-size: 12px
    }

    .health-form-small-txt-pad-top-btm {
        padding-top: 0
    }

    .health-father-form-number {
        margin-left: -14px;
        font-size: 30px;
        color: #3f3f3f
    }

    .mar-btm-10 {
        margin-bottom: 0
    }

    .health-type-subtance .input-text-box {
        max-width: 100% !important
    }

    .pad-btm-40 {
        padding-bottom: 16px
    }

    .health-father-form-txt-hd {
        padding-bottom: 26px !important
    }

    .any-claim-section .pad-btm-80 {
        padding-bottom: 20px
    }

    .add-info-text textarea {
        margin-bottom: 42px
    }

    .add-another-btn-large {
        padding: 9px 15px
    }

    .add-another-btn-large-txt {
        font-size: 15.5px
    }

    .remove-btn-large {
        padding: 10px 26px
    }

    .name-txt-padding,
    .pad-right-11 {
        padding-right: 15px
    }

    .btn.qq-save-btn {
        font-size: 15px
    }

    .send-otp-btn {
        margin-top: 20px
    }

    .pad-top-39 {
        padding-top: 20.5px
    }

    .pad-top-58,
    .wizard .tab-pane {
        padding-top: 0
    }

    .decl-summ-pad-bottom {
        padding-bottom: 0
    }

    .declr-summary-btn {
        width: 45%
    }

    .summary-product-btm-15 {
        padding-bottom: 15px
    }

    .breadcrumb-menu-right-font-size {
        font-size: 8px;
        font-weight: 600
    }

    .name-txt-padding {
        padding-left: 15px
    }

    .pad-left-7 {
        padding-left: 7.5px
    }

    #health-lifestyle-member-details .nav-tabs>li {
        margin-right: 0
    }

    .health-disease-dropdown {
        padding-top: 8px;
        padding-bottom: 8px
    }

    .health-disease-glyphicon .glyphicon.glyphicon-chevron-down {
        top: 8px
    }

    #health-lifestyle-member-details .form-background {
        padding-bottom: 0
    }

    .pad-btm-87 {
        padding-bottom: 40px
    }

    .health-father-form-txt-hd {
        font-size: 14px
    }

    .health-father-form-pad-top {
        padding-top: 5px
    }

    #additional-info-details .form-background {
        padding-bottom: 0
    }

    .dob-pad .pad-left-15 {
        padding-left: 0
    }

    .summary-pad-btm-50 {
        padding-bottom: 0;
        padding-top: 0 !important
    }

    .health-remove-btn {
        float: left
    }

    .health-add-btn,
    .otp-recv-btn,
    .send-otp-btn {
        float: right
    }

    .tab-arrow-mobile {
        margin-left: 45px
    }

    .item-block-number {
        margin-right: 1px
    }

    .earn-text-pad {
        margin-top: 5px;
        margin-bottom: 10px
    }

    .table-responsive {
        border: none !important
    }

    .declare-summary-bold-text,
    .declare-summary-text {
        font-size: 12px
    }

    .health-relative-padding {
        padding: 0 0 10px
    }

    .any-claim-pad-btm {
        padding-bottom: 20px
    }

    .any-claim-bck-bdr-pad-mob {
        padding-top: 30px
    }

    .health-relative-add-more-top-pad {
        margin-top: 15px
    }

    .pad-btm-25-mobile {
        padding-bottom: 25px
    }

    .dob-row-pad-btm .pad-btm-20 {
        padding-bottom: 0 !important
    }

    .form-heading {
        color: #818181;
        font-size: 24px
    }

    .mob-pad-l-r-5 {
        padding-left: 5px;
        padding-right: 5px
    }

    .tracker-pad-l-top {
        padding-left: 29px;
        padding-top: 7px
    }

    .health-pre-exist-pad-l-r {
        padding-left: 0;
        padding-right: 0
    }

    .chronic-disease-blck-txt {
        line-height: 1.2;
        padding-bottom: 5px
    }

    .health-pre-exist-sml-txt,
    .health-pre-existing-txt {
        padding-left: 10px
    }

    .panel-body-top-btm {
        padding-top: 6px;
        padding-bottom: 32.5px
    }

    #health-lifestyle-member-details .nav-tabs>li.active>a,
    #health-lifestyle-member-details .nav-tabs>li.active>a:focus,
    #health-lifestyle-member-details .nav-tabs>li.active>a:hover {
        padding-bottom: 7px
    }

    .panel-default-mob-pad {
        padding-left: 7px !important;
        padding-right: 7px !important
    }

    .health-pre-exist-sml-txt {
        padding-bottom: 0
    }

    .harmful-substance-question .text-right,
    .professional-details-question .text-right {
        text-align: left
    }
}

@media(max-width :585px) {
    .wizard {
        width: 100%;
        height: auto !important
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px
    }

    .wizard .nav-tabs>li a {
        text-align: center;
        padding-left: 0
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%
    }

    .wizard .nav-tabs>li {
        margin-right: 0;
        width: 25%
    }

    .form-lbl {
        font-size: 12px
    }

    .emi-option-text {
        font-size: 11.5px;
        margin-right: -15px
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .input-group {
        min-width: 100%
    }

    .form-top-left-pad {
        padding-left: 9px;
        padding-right: 9px
    }

    .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 5px
    }

    .pad-l-r-5 {
        padding-right: 15px;
        padding-left: 15px
    }

    .mob-pad-l-r-0 {
        padding-right: 0;
        padding-left: 0
    }

    .pad-top-18 {
        padding-top: 18px
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .cont-pad {
        padding: 0
    }
}

@media (min-width:320px) and (max-width:580px) {

    .otp-recv-btn,
    .send-otp-btn {
        float: right
    }

    .harmful-substance-question .text-right,
    .professional-details-question .text-right {
        text-align: left
    }

    .name-mob-pad-l-r-5 {
        padding-left: 5px;
        padding-right: 5px
    }

    #fiveheading .panel-titleone a {
        padding: 20px 5px 20px 0 !important
    }

    #sixheading .text-right {
        text-align: left;
        padding-left: 30px;
        margin-left: 0;
        padding-top: 25px
    }

    .health-panel-number-header {
        padding-left: 0
    }

    .health-pre-exist-sml-txt,
    .pad-btm-50 {
        padding-bottom: 0
    }

    .chronic-disease-blck-txt {
        line-height: 1.2;
        padding-bottom: 5px
    }

    .health-pre-exist-sml-txt,
    .health-pre-existing-txt {
        padding-left: 10px
    }

    .panel-body-top-btm {
        padding-top: 6px;
        padding-bottom: 32.5px
    }

    #health-lifestyle-member-details .nav-tabs>li.active>a,
    #health-lifestyle-member-details .nav-tabs>li.active>a:focus,
    #health-lifestyle-member-details .nav-tabs>li.active>a:hover {
        padding-bottom: 7px
    }

    .grey-row-height {
        bottom: -16px;
        position: relative
    }

    .health-pre-exist-pad-l-r {
        padding-left: 0;
        padding-right: 0
    }

    .tracker-pad-l-top {
        padding-left: 29px;
        padding-top: 7px
    }

    .popover {
        top: -23.5px !important
    }

    .mob-pad-l-r-5 {
        padding-left: 5px;
        padding-right: 5px
    }

    .annual-income-input-txt .input-text-box,
    .annual-income-radius .input-text-box {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important
    }

    .checkbox-label {
        font-size: 12px
    }

    .checkbox {
        margin-top: 0
    }

    .health-relative-add-more-top-pad,
    .otp-recv-btn {
        margin-top: 15px
    }

    .mob-pad-new-l-r-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .form-heading {
        font-size: 24px
    }

    .pad-btm-25-mobile {
        padding-bottom: 25px
    }

    .any-claim-pad-btm {
        padding-bottom: 20px
    }

    .any-claim-bck-bdr-pad-mob {
        padding-top: 30px
    }

    .health-relative-padding {
        padding: 0 0 10px
    }

    .declare-summary-bold-text,
    .declare-summary-text {
        font-size: 12px
    }

    .table-responsive {
        border: none !important
    }

    .earn-text-pad {
        margin-top: 5px;
        margin-bottom: 10px
    }

    .item-block-number {
        margin-right: 1px
    }

    .select-box-width {
        width: 180px !important
    }

    .summary-pad-btm-50 {
        padding-bottom: 0;
        padding-top: 0 !important
    }

    .pad-top-58,
    .wizard .tab-pane {
        padding-top: 0
    }

    .dob-pad .pad-left-15 {
        padding-left: 0
    }

    #additional-info-details .form-background {
        padding-bottom: 0
    }

    .health-father-form-txt-hd {
        font-size: 14px
    }

    .pad-btm-87 {
        padding-bottom: 40px
    }

    #health-lifestyle-member-details .form-background {
        padding-bottom: 0
    }

    .health-remove-btn {
        float: left
    }

    .health-add-btn {
        float: right
    }

    .health-disease-glyphicon .glyphicon.glyphicon-chevron-down {
        top: -14px
    }

    .health-disease-dropdown {
        padding-left: 0;
        padding-right: 6px
    }

    .pad-left-7 {
        padding-left: 7.5px
    }

    .pad-right-11 {
        padding-right: 15px
    }

    #gender-modal .select-cover-dropdown-txt {
        color: #515151
    }

    .input-text-box {
        border-radius: 4px !important
    }

    .form-heading {
        color: #818181
    }

    .breadcrumb-menu-right-font-size {
        font-size: 8px;
        font-weight: 600
    }

    .pad-left-0 {
        padding-left: 15px
    }

    .imp-mob-pad-l-r-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .summary-product-btm-15 {
        padding-bottom: 15px
    }

    .declr-summary-btn {
        width: 135px
    }

    .decl-summ-pad-bottom {
        padding-bottom: 0
    }

    .pad-top-39 {
        padding-top: 20.5px
    }

    .send-otp-btn {
        margin-top: 10px;
        margin-bottom: 15px
    }

    .textbox-bg-pad {
        width: 100%
    }

    .btn.qq-save-btn {
        font-size: 13px
    }

    .add-another-btn-large {
        padding: 9px 15px
    }

    .add-another-btn-large-txt {
        font-size: 15.5px
    }

    .remove-btn-large {
        padding: 10px 26px
    }

    .add-info-text textarea {
        margin-bottom: 42px
    }

    .any-claim-section .pad-btm-80 {
        padding-bottom: 20px
    }

    .health-father-form-txt-hd {
        padding-bottom: 26px !important
    }

    .pad-btm-40 {
        padding-bottom: 16px
    }

    #health-lifestyle-member-details .nav-tabs {
        padding-left: 0;
        white-space: nowrap;
        overflow-x: auto
    }

    ::-webkit-scrollbar {
        width: 0;
        background: 0 0
    }

    #health-lifestyle-member-details .nav-tabs>li {
        margin-right: 0;
        display: inline-block;
        float: none;
        width: 30% !important;
        padding-top: 15px
    }

    #health-lifestyle-member-details .nav-tabs>li a {
        width: auto !important;
        line-height: auto !important;
        padding: 0;
        text-align: center !important
    }

    .mar-btm-10 {
        margin-bottom: 0
    }

    .health-father-form-pad-top {
        padding-top: 5px
    }

    .health-father-form-number {
        margin-left: -14px;
        font-size: 30px;
        color: #3f3f3f
    }

    .health-form-small-txt {
        padding-bottom: 5px;
        font-size: 12px
    }

    .health-form-small-txt-pad-top-btm {
        padding-top: 0
    }

    .pad-left-15 {
        padding-left: 0;
        padding-bottom: 15px
    }

    .pad-l-r-0-mob {
        padding-right: 0;
        padding-left: 0
    }

    .dob-row-pad-btm .pad-btm-20 {
        padding-bottom: 0 !important
    }

    .pre-pad {
        padding-right: 18.5px
    }

    .name-txt-padding {
        padding-right: 12px;
        padding-left: 15px
    }

    .form-background {
        padding-bottom: 40px
    }

    .tab-pad-left {
        padding-left: 6px;
        margin-left: -3px;
        padding-bottom: 10px
    }

    .pad-btm-25,
    .pad-tb-100 {
        padding-bottom: 0
    }

    .table-value {
        font-size: 13px
    }

    .state-mob-pad .pad-l-r-0 {
        padding-right: 0 !important;
        padding-left: 10px !important
    }

    .pad-l-r-0 {
        padding-right: 10px !important;
        padding-left: 10px !important
    }

    .panel-rfb .pad-l-r-0 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .horizontal-pad,
    .pad-r-5 {
        padding-left: 5px
    }

    .pad-tb-100 {
        padding-top: 20px
    }

    .form-lbl {
        font-size: 12px
    }

    .emi-option-text {
        font-size: 11.5px;
        margin-right: -15px
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .input-group {
        min-width: 100%
    }

    .horizontal-pad {
        margin-top: 28px;
        padding-right: 5px
    }

    .form-top-left-pad {
        padding-top: 22.5px;
        padding-left: 8px;
        padding-right: 8px
    }

    .dob-mob-pad-l-r-0 {
        padding-left: 5px !important
    }

    .dob-row-pad-btm .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 0
    }

    .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 5px
    }

    .pad-l-r-5 {
        padding-right: 15px;
        padding-left: 15px
    }

    .wizard {
        width: 100%
    }

    .mob-pad-l-r-0 {
        padding-right: 0;
        padding-left: 0
    }

    .pad-top-18 {
        padding-top: 18px
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .cont-pad {
        padding: 0
    }

    .modal-hdr {
        height: auto
    }

    .summary-btn {
        width: 100%;
        display: block;
        font-size: 9px;
        padding: 12px 15px
    }

    .back-btn1 {
        display: block;
        width: 100% !important
    }

    .done-btn1 {
        width: 100%;
        display: block
    }

    .mar-l-14 {
        margin-left: 5px
    }

    .breadcrumb-item-cust-active {
        padding-bottom: 12px
    }

    .main-header-text1 {
        font-size: 21px
    }

    .mbr-sel-txt-big,
    .mbr-sel-txt-sml {
        font-size: 15px
    }

    .tenure-year {
        font-size: 14px
    }

    .pretty {
        margin: 0 !important
    }

    .dup-bene-btn-new {
        font-size: 16px
    }

    .panel-default-mob-pad {
        padding-left: 7px !important;
        padding-right: 7px !important
    }

    .item-block1 {
        padding-left: 0;
        padding-top: 0
    }

    .item-block-content {
        padding-bottom: 0;
        padding-top: 21px;
        margin-left: -2%
    }

    .item-block {
        padding-left: 0 !important
    }

    .temp-disa-left-bdr {
        margin-left: -15px;
        height: 175px
    }

    .pad-cont {
        padding-left: 5px !important;
        padding-right: 5px !important
    }

    .pad-mar-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .temp-total-dis-text1 {
        padding-top: 20px
    }

    .btn.qq-save-btn {
        width: 140px !important
    }

    .quote-item-block {
        padding-top: 0
    }

    .sum-tenure-topmost-row {
        padding-left: 0;
        padding-top: 0 !important
    }

    .temp-total-dis-img {
        width: 50px;
        height: 50px;
        margin-left: 11px;
        margin-top: 0
    }

    .mar-l-15 {
        margin-left: 0
    }

    .btn-pad-box {
        padding-left: 20px !important;
        padding-right: 10px !important
    }

    .temp-total-dis-text2 {
        font-size: 14px
    }

    .earn-mem-bene-lbl-txt {
        padding-left: 14px
    }

    .tooltip-top {
        top: -10px;
        right: -10px
    }

    .tooltip-bg {
        background-color: transparent
    }

    .tool-tip-img {
        position: absolute;
        top: -5px;
        right: -18.5px
    }

    .tooltip.bottom .tooltip-inner {
        margin-right: 30px
    }

    .mob-mar-toggle {
        margin-top: 15px
    }

    .item-block-content-header-mob {
        margin-top: 0
    }

    .get-cover-line-float {
        text-align: left;
        float: left;
        margin-top: 17.5px
    }

    .get-cover-line {
        margin-right: 0;
        font-size: 14px
    }
}

@media (min-width:320px) and (max-width:379px) {
    .breadcrumb-item-cust>a {
        font-family: PF-Handbook-Pro-Regular;
        font-size: 11px !important;
        font-weight: 700;
        text-align: left;
        color: #000
    }
}


/* Health AddOn */

.dropdown.addonAmt .tooltip-btn{
    padding-top: 0px;
    margin-bottom: 6px;
}
li.dv-Addon {
    background-color: #f7a500;
    margin-bottom: -5px;
    display: block;
}
li.dv-Addon .tooltip-text-hd{
    color: #fff;
    font-weight: 500;
    padding: 2px 0;
}
span.span-addon {
    display: block;
    line-height: 0;
    margin: -2px auto -11px;
    position: relative;
    background-color: #f7a500;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s;
}
.dis-in.open span.span-addon,  .zeroAmt span.span-addon, .zeroAmt li.dv-Addon {
    opacity: 0;
}
span.tooltip-text-hd.mar-rght-15.ng-binding {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    margin-left: 0;
}
.dv-addOnQues .errormsg.redColorClass.ng-scope {
    font-size: 13px;
    font-weight: 400;
}
@media(min-width: 600px){
.dv-addOnQues .row{
    margin: 15px 0;
}
.custom-popover .custom-tooltip-text {
    left: -180px;
    width: 476px;
}
.custom-popover .custom-tooltip-text:after, .custom-popover .custom-tooltip-text:before {
    left: 190px;
}
}

@media(max-width: 600px){
    .temp-total-dis-img {
        width: 80px;
    }
    .dropdown.addonAmt .tooltip-btn {
        padding-top: 0;
        margin-bottom: 23px;
        line-height: 0.5;
    }
    .prem-panel .addonAmt .glyphi-drop-down-style {
        margin-top: 10px;
    }
    span.span-addon {
        display: block;
        line-height: 0;
        margin: 10px auto -22px;
        position: relative;
        background-color: #f7a500;
        color: #fff;
        opacity: 1;
        transition: opacity .3s;
    }
    span.tooltip-text-hd.mar-rght-15.ng-binding, span.span-addon .incl-gst {
        font-size: 9px;
    }
    li.dv-Addon .tooltip-text-hd, .dv-Addon .incl-gst{
        font-size: 10px;
    }

    .custom-popover.large-tooltip .custom-tooltip-text {
        width: 325px;
        left: -140px;
    }
    .custom-popover.large-tooltip .custom-tooltip-text:after, .custom-popover.large-tooltip .custom-tooltip-text:before {
        margin-left: 20px;
    }
}