<!--
    Page: New Renewal Landing
	Author: Pandurang Sarje 
    Date: 11-07-2020
-->

<div class="container-fluid pad-l-r-0">
    <div class="container-fluid view-member-landing pad-l-r-0">
        <!-- Desktop View -->
        <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs view-member-padding">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-l-r-0">
                <div class="member-name-ttl" style="margin-bottom: 33px;">{{policyDetails.NameOfTheProposer}},</div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-member-red-box">
                    <a ng-click="newRenewRouting('renewal-view-member-landing');gotoPageGAParam('click-button','view members','renew')">
                        <div class="view-members-bold-txt">View Members</div>
                        <div class="add-delete-txt">Add Member</div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" ng-class="{'edit-member-pad-btm': upsellFlag=='Y' && insuredMembers[0].UpSellSumInsured != 0}">
                    <a ng-click="newRenewRouting('renewal-edit-member-landing');gotoPageGAParam('click-button','edit member details','renew')">
                        <div class="edit-member-details-txt">View or Edit Member details</div>
                    </a>
                </div>
                <div ng-if="upsellFlag=='Y' && parseIntString(insuredMembers[0].UpSellSumInsured) != 0 && upFF" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                    <a  ng-click="newRenewRouting('renewal-increase-sum-insured-landing');gotoPageGAParam('click-button','increase sum insure','renew')">
                        <div class="edit-member-details-txt">Increase Sum Insured</div>
                    </a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                    <div class="grey-horizontal-line"></div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0" ng-if="ModificationProduct !='Super Top Up' && ModificationProduct !='Arogya Sanjeevani Policy' && platinumPlan !='Platinum - Premiere' && AS_PAPlan">
                    <a ng-click="newRenewRouting('renewal-edit-optional-covers');gotoPageGAParam('click-button','Edit optional covers','renew')">
                        <div class="edit-member-details-txt">Optional Covers</div>
                    </a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0" ng-if="policyDetails.ProductName != 'Arogya Sanjeevani Policy'">
                    <a  ng-click="newRenewRouting('renewal-increase-policy-tenure-landing');gotoPageGAParam('click-button','increase policy tenure','renew')">
                        <div class="edit-member-details-txt">Tenure Change</div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                    <a  ng-click="newRenewRouting('renewal-edit-nominee-details-landing');gotoPageGAParam('click-button','edit nominee detail','renew')">
                        <div class="edit-member-details-txt">Edit Nominee Details</div>
                    </a>
                </div>
                <!-- ng-hide="roomupgradeflag" -->
                <div ng-if="(diamondProduct && insuredMembers[0].SumInsured == 400000 && upsellFlag=='Y') || (diamondProduct && insuredMembers[0].SumInsured > 400000) || (platinumProduct)"  class="col-lg-12 col-md-12 col-sm-12 edit-member-pad-btm col-xs-12 pad-l-r-0">
                   <a  ng-click="newRenewRouting('renewal-upgrade-zone-landing');gotoPageGAParam('click-button','upgrade zone and room','renew')">
                        <div class="edit-member-details-txt">Upgrade <span ng-if="diamondProduct">Room</span><span ng-if="platinumProduct">Zone</span></div>
                   </a>
                </div> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                    <a ng-click="newRenewRouting('renewal-change-address-details');gotoPageGAParam('click-button','change address details','renew')">
                        <div class="edit-member-details-txt">Change Address Details</div>
                    </a>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-l-r-0">
                
                <header-details></header-details>
                
                <div ng-hide="show" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-21-0 group-member-section">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-bg">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                            <div class="group-members-bold-txt">Group Members</div>
                        </div>
                        <!-- ng-hide="(memberListMembers.length == 0)" -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 text-right">
                            <a ng-click="insureNew('renewal-view-member-add-user');gotoPageGAParam('click-button','insure new user','renew')" class="insure-new-user-btn" >+ INSURE NEW MEMBER</a>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                            <div class="horizontal-border"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                            <div ng-repeat="member in insuredMembers"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box-padd-r-7">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-box">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                        <div class="insurer-name">{{member.Name}}</div>
                                        <div class="insurer-relation-txt">{{member.RelationWithProposer}}</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 text-right">
                                        <div class="sum-insured-grey-txt">Sum Insured</div>
                                        <div class="sum-amount-txt">₹ {{member.SumInsured | INRNODEC}}</div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" style="margin-top: 13px;">

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btn-pad-right">
                                            <button ng-click="fetchMemberDetails(member)" class="btn view-details-btn view-details-sec-on">View Details</button>
                                        </div>
                                        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btn-pad-left" ng-if="member.RelationWithProposer != 'Self'">
                                            <button ng-click="deleteMember(member)" class="btn remove-btn">
                                                REMOVE USER
                                            </button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="show" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-21-0 view-member-details-section">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-bg">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                            <div class="group-members-bold-txt">Members
                                <span class="view-member-details-blck-txt">/ View Member Details</span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                            <div class="horizontal-border"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                            <div class="personal-details-ttl">
                                Personal Details
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">Name</div>
                                    <div class="member-name-txt">{{insuredMemberDetails.personalDetails.FirstName +' '+ insuredMemberDetails.personalDetails.LastName}}</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">ID No.</div>
                                    <div class="member-name-txt">{{insuredMemberDetails.MemberId}}</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">D.O.B.</div>
                                    <div class="member-name-txt" id="cobrowsing-input-15">{{insuredMemberDetails.personalDetails.DOB}}</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">Address</div>
                                    <div class="member-name-txt" id="cobrowsing-input-16">{{insuredMemberDetails.addressDetails.AddressLine1}}</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">City</div>
                                    <div class="member-name-txt">{{insuredMemberDetails.addressDetails.City}}</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">State</div>
                                    <div class="member-name-txt">{{insuredMemberDetails.addressDetails.State}}</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">Pincode</div>
                                    <div class="member-name-txt">{{insuredMemberDetails.addressDetails.Pincode}}</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">                                
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">Relation with Proposer</div>
                                    <div class="member-name-txt">{{insuredMemberDetails.relationWithProposer.RelationWithProposer}}</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-l-0">
                                    <div class="member-category-ttl">Email ID</div>
                                    <div class="member-name-txt" id="cobrowsing-input-17">{{insuredMemberDetails.personalDetails.Email}}</div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-section-pad-lr btns-pad-top btns-section" style="margin-bottom: 16px; padding-left: 0;">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-0">
                                    <a href="javascript:void(0);" ng-click="hideMemberDetails()" class="back-btn back-group-member">BACK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Desktop View -->

        <!-- Mobile View -->
        <div class="col-xs-12 hidden-lg hidden-md hidden-sm pad-l-r-0 view-member-mobile">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-member-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-section-pad-lr">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 pad-l-r-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-name-bg pad-l-r-0">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pad-l-r-0 ">
                                <div class="plan-name-ttl">{{policyDetails.ProductName}}</div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                    <div class="tenure-txt">Members - <span class="years-txt">{{insuredMembers.length}}</span></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                    <div class="tenure-txt">Tenure - <span class="years-txt">{{policyDetails.Tenure}} <span ng-if="policyDetails.Tenure== '1'">yr</span><span ng-if="policyDetails.Tenure!= '1'">yrs</span></span></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                    <div class="tenure-txt">Status - <span class="years-txt">Active</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad-l-r-0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="premium-pa-txt">Premium</div>
                            <div class="premium-amt-red-txt">₹ {{policyDetails.RenewalGrossPremium | INRNODEC}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                                <div class="currently-on-txt">Currently On:
                                    <span class="edit-member-details-bold">View Members Details</span>
                                </div>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-member-red-box">
                                    <a ng-click="newRenewRouting('renewal-view-member-landing');gotoPageGAParam('click-button','view members','renew')">
                                        <div class="view-members-bold-txt">View Members</div>
                                        <div class="add-delete-txt">Add Member</div>
                                    </a>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" ng-class="{'edit-member-pad-btm': upsellFlag=='Y' && insuredMembers[0].UpSellSumInsured != 0}">
                                    <a ng-click="newRenewRouting('renewal-edit-member-landing');gotoPageGAParam('click-button','edit member details','renew')">
                                        <div class="edit-member-details-txt">View or Edit Member details</div>
                                    </a>
                                </div>
                                <div ng-if="upsellFlag=='Y' && parseIntString(insuredMembers[0].UpSellSumInsured) != 0 && upFF" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                    <a ng-click="newRenewRouting('renewal-increase-sum-insured-landing');gotoPageGAParam('click-button','increase sum insure','renew')">
                                        <div class="edit-member-details-txt">Increase Sum Insured</div>
                                    </a>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                    <div class="grey-horizontal-line"></div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0" ng-if="ModificationProduct !='Super Top Up' && ModificationProduct !='Arogya Sanjeevani Policy' && platinumPlan !='Platinum - Premiere' && AS_PAPlan">
                                    <a ng-click="newRenewRouting('renewal-edit-optional-covers');gotoPageGAParam('click-button','Edit optional covers','renew')">
                                        <div class="edit-member-details-txt">Optional Covers</div>
                                    </a>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0" ng-if="policyDetails.ProductName != 'Arogya Sanjeevani Policy'">
                                    <a ng-click="newRenewRouting('renewal-increase-policy-tenure-landing');gotoPageGAParam('click-button','increase policy tenure','renew')">
                                        <div class="edit-member-details-txt">Tenure Change</div>
                                    </a>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                                    <a  ng-click="newRenewRouting('renewal-edit-nominee-details-landing');gotoPageGAParam('click-button','edit nominee detail','renew')">
                                        <div class="edit-member-details-txt">Edit Nominee Details</div>
                                    </a>
                                </div>
                                <div ng-if="(diamondProduct && insuredMembers[0].SumInsured == 400000 && upsellFlag=='Y') || (diamondProduct && insuredMembers[0].SumInsured > 400000) || (platinumProduct)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                                   <a  ng-click="newRenewRouting('renewal-upgrade-zone-landing');gotoPageGAParam('click-button','upgrade zone and room','renew')">
                                        <div class="edit-member-details-txt">Upgrade <span ng-if="diamondProduct">Room</span><span ng-if="platinumProduct">Zone</span></div>
                                   </a>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                    <a ng-click="newRenewRouting('renewal-change-address-details');gotoPageGAParam('click-button','change address details','renew')">
                                        <div class="edit-member-details-txt">Change Address Details</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="show" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-bg">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-r-0">
                        <div class="group-members-bold-txt">Members</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <div class="horizontal-border"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <div ng-hide="(showThirdTenureVal == true && insuredMembers.length == 2) || (memberListMembers.length == 0)" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-r-0 add-new-member-pad-tb">
                            <a ng-click="insureNew('renewal-view-member-add-user')" class="insure-new-user-btn" ng-class="{'insure-new-user-btn-dis': !canAddMember.active}">+ Add New Member</a>
                        </div>
                        <div ng-repeat="member in insuredMembers" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box-padd-r-7">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-box">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                    <div class="insurer-name">{{member.Name}}</div>
                                    <div class="insurer-relation-txt">{{member.RelationWithProposer}}</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 text-right">
                                    <div class="sum-insured-grey-txt">Sum Insured</div>
                                    <div class="sum-amount-txt">₹ {{member.SumInsured | INRNODEC}}</div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" style="margin-top: 13px;">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn-pad-right">
                                        <button ng-click="fetchMemberDetails(member)" class="btn view-details-btn view-details-sec-on">View Details</button>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn-pad-left" style="display: none;">
                                        <button ng-click="deleteMember(member)" class="btn remove-btn">
                                            REMOVE USER
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="show" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-member-details-section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-bg">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-r-0">
                        <div class="group-members-bold-txt">Members
                            <span class="view-member-details-blck-txt">/ View Member Details</span>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <ul class="nav nav-tabs scroll-horizontal">
                            <li ng-repeat="members in insuredMembers" ng-class="{'active' : activeMember == members.RelationWithProposer}" ng-click="fetchMemberDetails(members)">
                                <a data-toggle="tab" data-target="#slf" href="">{{members.RelationWithProposer}}</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="slf" class="tab-pane fade in active">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="personal-details-ttl">
                                        Personal Details
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-l-0">
                                            <div class="member-category-ttl">Name</div>
                                            <div class="member-name-txt">{{insuredMemberDetails.personalDetails.FirstName +' '+ insuredMemberDetails.personalDetails.LastName}}</div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-l-0">
                                            <div class="member-category-ttl">ID No.</div>
                                            <div class="member-name-txt">{{insuredMemberDetails.MemberId}}</div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-l-0">
                                            <div class="member-category-ttl">D.O.B.</div>
                                            <div class="member-name-txt" id="cobrowsing-input-18">{{insuredMemberDetails.personalDetails.DOB}}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-l-0">
                                            <div class="member-category-ttl">Address</div>
                                            <div class="member-name-txt" id="cobrowsing-input-19">{{insuredMemberDetails.addressDetails.AddressLine1}}
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 pad-l-0">
                                            <div class="member-category-ttl">City</div>
                                            <div class="member-name-txt">{{insuredMemberDetails.addressDetails.City}}</div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 pad-l-0">
                                            <div class="member-category-ttl">State</div>
                                            <div class="member-name-txt">{{insuredMemberDetails.addressDetails.State}}</div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 pad-l-0">
                                            <div class="member-category-ttl">Pincode</div>
                                            <div class="member-name-txt">{{insuredMemberDetails.addressDetails.Pincode}}</div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 pad-l-0">
                                            <div class="member-category-ttl">Relation with Proposer</div>
                                            <div class="member-name-txt">{{insuredMemberDetails.relationWithProposer.RelationWithProposer}}</div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-l-0">
                                            <div class="member-category-ttl">Email ID</div>
                                            <div class="member-name-txt" id="cobrowsing-input-20">{{insuredMemberDetails.personalDetails.Email}}</div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-section-pad-lr btns-pad-top btns-section" style="margin-bottom: 16px; padding-left: 0;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-0">
                                            <a href="javascript:void(0);" ng-click="hideMemberDetails()" class="back-btn back-group-member">BACK</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>    
                            
                        </div>
                        
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btns-pad-top btns-position btns-section">
                <div ng-show="showHealthReturn" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mob-pad-l-r-0 helth-return-mobile-container">
                    <label class="container-new" style="left: 0;">Use Health Returns of <span class="checkbox-green-txt">₹ {{heathReturnAmt | INRNODEC}}</span>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" name="healthreturn" ng-model="applyHealthReturn" ng-change="applyForHealthReturn(applyHealthReturn)">
                        <span class="checkmark"></span>
                   </label> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mob-pad-l-r-0">
                    <a href="javascript:void(0);" ng-click="requestPgURL();gotoPageGAParam('click-button','pay premium','renew')">
                        <span class="btn btn proceed-btn">Pay Premium 
                            <span style="font-size: inherit; margin-left: 40px;">₹ {{policyDetails.RenewalGrossPremium | INRNODEC}}</span> 
                            <img class="pull-right" src="assets/images/new-renew/right-arrow.svg">
                        </span>
                    </a>
                </div>
                <div class="pre-btn-container pre-update-btn get-update-btn">
                    <a href="javascript:void(0);" ng-click="alertRevert(); gotoPageGAParam('click-button','get quote','renew')" class="premuim-btn"><img src="assets/images/refresh.png"></a>
                </div>
            </div>
        </div>
        <!-- End of Mobile View -->
    </div>
</div>


