<!--
    Page: Renewal Increse Sum Insured Landing Page
	Author: Pandurang Sarje 
    Date: 11-07-2020
-->

<div class="container-fluid view-member-landing pad-l-r-0">
    <!-- Desktop View -->
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs view-member-padding">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-l-r-0">
            <div class="member-name-ttl" style="margin-bottom: 33px;">{{policyDetails.NameOfTheProposer}},</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                <a ng-click="newRenewRouting('renewal-view-member-landing');gotoPageGAParam('click-button','view members','renew')">
                    <div class="edit-member-details-txt">View Members</div>
                    <div class="edit-add-sml-txt">Add Member</div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" ng-class="{'edit-member-pad-btm': upsellFlag=='Y' && insuredMembers[0].UpSellSumInsured != 0}">
                <a ng-click="newRenewRouting('renewal-edit-member-landing');gotoPageGAParam('click-button','edit member details','renew')">
                    <div class="edit-member-details-txt">View or Edit Member details</div>
                </a>
            </div>
            <div ng-if="upsellFlag=='Y' && insuredMembers[0].UpSellSumInsured != 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 view-member-red-box" style="margin-bottom: 0px;">
                <a ng-click="newRenewRouting('renewal-increase-sum-insured-landing');gotoPageGAParam('click-button','increase sum insure','renew')">
                    <div class="view-members-bold-txt">Increase Sum Insured</div>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                <div class="grey-horizontal-line"></div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0" ng-if="ModificationProduct !='Super Top Up' && ModificationProduct !='Arogya Sanjeevani Policy' && platinumPlan !='Platinum - Premiere' && AS_PAPlan">
                <a ng-click="newRenewRouting('renewal-edit-optional-covers');gotoPageGAParam('click-button','option cover','renew')">
                    <div class="edit-member-details-txt">Optional Covers</div>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0" ng-if="policyDetails.ProductName != 'Arogya Sanjeevani Policy'">
                <a  ng-click="newRenewRouting('renewal-increase-policy-tenure-landing');gotoPageGAParam('click-button','increase policy tenure','renew')">
                    <div class="edit-member-details-txt">Tenure Change</div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                <a ng-click="newRenewRouting('renewal-edit-nominee-details-landing');gotoPageGAParam('click-button','edit nominee detail','renew')">
                    <div class="edit-member-details-txt">Edit Nominee Details</div>
                </a>
            </div>
            <div ng-if="(diamondProduct && insuredMembers[0].SumInsured == 400000 && upsellFlag=='Y') || (diamondProduct && insuredMembers[0].SumInsured > 400000) || (platinumProduct)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 edit-member-pad-btm">
                <a ng-click="newRenewRouting('renewal-upgrade-zone-landing');gotoPageGAParam('click-button','upgrade zone and room','renew')">
                    <div class="edit-member-details-txt">Upgrade <span ng-if="diamondProduct">Room</span><span ng-if="platinumProduct">Zone</span></div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                <a ng-click="newRenewRouting('renewal-change-address-details');gotoPageGAParam('click-button','change address details','renew')">
                    <div class="edit-member-details-txt">Change Address Details</div>
                </a>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pad-l-r-0">
            
            <header-details></header-details>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-21-0 group-member-section">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-bg">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                        <div class="group-members-bold-txt">Increase Sum Insured</div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <div class="horizontal-border"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                        <!-- ng-show="((policyDetails.ProductName == 'Activ Assure' || policyDetails.ProductName == 'Activ Assure V2' || policyDetails.ProductName == 'Activ Health' || policyDetails.ProductName == 'Activ Health V2' || policyDetails.ProductName == 'Active Care V2' || policyDetails.ProductName == 'Activ Care') && (policyDetails.SumInsuredType == 'Family Floater'))" -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 input-pad" ng-show="policyDetails.SumInsuredType == 'Family Floater' && parseIntString(UpSellSumInsured) > 0">
                            <label class="check-btn" style="left: 0;" ng-if="parseIntString(UpSellSumInsured) > usedDeductible">
                                <span>Increase Sum Insured to ₹ {{UpSellSumInsured | INRALPHA}}</span>
                                <input type="checkbox" name="suminsured" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="parseIntString(insuredMembers[0].SumInsured) >= parseIntString(UpSellSumInsured)" ng-model="updateMembers" ng-click="updateSumInsured()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="check-btn" style="left: 0; padding-left: 0;" ng-if="parseIntString(UpSellSumInsured) <= usedDeductible">
                                <span>Sum Insured ₹ {{UpSellSumInsured | INRALPHA}}</span>
                            </label>
                        </div>
                        <!-- ng-show="policyDetails.ProductName == 'Activ Secure' || ((policyDetails.ProductName == 'Activ Assure' || policyDetails.ProductName == 'Activ Assure V2' || policyDetails.ProductName == 'Activ Health' || policyDetails.ProductName == 'Activ Health V2' || policyDetails.ProductName == 'Active Care V2' || policyDetails.ProductName == 'Activ Care') && (policyDetails.SumInsuredType == 'Individual'))" -->
                        <div ng-show="policyDetails.SumInsuredType == 'Individual' && parseIntString(member.UpSellSumInsured) > 0" ng-repeat="member in insuredMembers" class="col-lg-12 col-md-12 col-sm-12 pad-l-0 input-pad" style="margin-top: 10px; font-size: large;">
                            <div class="col-sm-5 col-md-5 col-lg-5">{{member.RelationWithProposer}} Sum Insured ₹ {{member.SumInsured | INRALPHA}}</div>
                            <div class="col-sm-6 col-md-6 col-lg-6" ng-show="parseIntString(member.SumInsured) > parseIntString(usedDeductibleAmount)">Opt for increased Sum Insured to ₹ {{member.UpSellSumInsured | INRALPHA}}</div>
                            <div class="col-sm-1 col-md-1 col-lg-1" ng-show="parseIntString(member.SumInsured) > parseIntString(usedDeductibleAmount)">
                                <label class="switch slider-label">
                                    <input type="checkbox" class="slider-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="parseIntString(member.SumInsured) >= parseIntString(member.UpSellSumInsured)" ng-model="updateMember[member.RelationWithProposer]" ng-click="updateSumInsured(member.RelationWithProposer,member)">
                                    <span class="slider round"></span>
                                </label>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Desktop View -->

    <!-- Mobile View -->
    <div class="col-xs-12 hidden-lg hidden-md hidden-sm pad-l-r-0 increase-sum-insured-mobile">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 view-member-padding">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-section-pad-lr">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 pad-l-r-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-name-bg pad-l-r-0">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pad-l-r-0 ">
                            <div class="plan-name-ttl">{{policyDetails.ProductName}}</div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                <div class="tenure-txt">Members -
                                    <span class="years-txt">{{insuredMembers.length}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                <div class="tenure-txt">Tenure -
                                    <span class="years-txt">{{policyDetails.Tenure}} <span ng-if="policyDetails.Tenure== '1'">yr</span><span ng-if="policyDetails.Tenure!= '1'">yrs</span></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0">
                                <div class="tenure-txt">Status -
                                    <span class="years-txt">Active</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad-l-r-0">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="premium-pa-txt">Premium</div>
                        <div class="premium-amt-red-txt">₹ {{policyDetails.RenewalGrossPremium | INR}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel-group" id="accordion">
                <!-- First Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                            <div class="currently-on-txt">Currently On:
                                <span class="edit-member-details-bold">Increase Sum Insured Details</span>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                                <a ng-click="newRenewRouting('renewal-view-member-landing');gotoPageGAParam('click-button','view members','renew')">
                                    <div class="edit-member-details-txt">View Members</div>
                                    <div class="edit-add-sml-txt">Add Member</div>
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0" ng-class="{'edit-member-pad-btm': upsellFlag=='Y' && insuredMembers[0].UpSellSumInsured != 0}">
                                <a ng-click="newRenewRouting('renewal-edit-member-landing');gotoPageGAParam('click-button','edit member details','renew')">
                                    <div class="edit-member-details-txt">View or Edit Member details</div>
                                </a>
                            </div>
                            <div ng-if="upsellFlag=='Y' && insuredMembers[0].UpSellSumInsured != 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 view-member-red-box" style="margin-bottom: 0px;">
                                <a ng-click="newRenewRouting('renewal-increase-sum-insured-landing');gotoPageGAParam('click-button','increase sum insure','renew')">
                                    <div class="view-members-bold-txt">Increase Sum Insured</div>
                                </a>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                <div class="grey-horizontal-line"></div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                                <a ng-click="newRenewRouting('renewal-increase-policy-tenure-landing');gotoPageGAParam('click-button','increase policy tenure','renew')">
                                    <div class="edit-member-details-txt">Tenure Change</div>
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                                <a ng-click="newRenewRouting('renewal-edit-nominee-details-landing');gotoPageGAParam('click-button','edit nominee detail','renew')">
                                    <div class="edit-member-details-txt">Edit Nominee Details</div>
                                </a>
                            </div>
                            
                            <div ng-if="(diamondProduct && insuredMembers[0].SumInsured == 400000 && upsellFlag=='Y') || (diamondProduct && insuredMembers[0].SumInsured > 400000) || (platinumProduct)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-member-pad-btm pad-l-r-0">
                                <a ng-click="newRenewRouting('renewal-upgrade-zone-landing');gotoPageGAParam('click-button','upgrade zone and room','renew')">
                                    <div class="edit-member-details-txt">Upgrade <span ng-if="diamondProduct">Room</span><span ng-if="platinumProduct">Zone</span></div>
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                                <a ng-click="newRenewRouting('renewal-change-address-details');gotoPageGAParam('click-button','change address details','renew')">
                                    <div class="edit-member-details-txt">Change Address Details</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-section">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 group-member-bg">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-l-r-0">
                    <div class="group-members-bold-txt">Increase Sum Insured</div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                    <div class="horizontal-border"></div>
                </div>

                <div class="col-xs-12 pad-l-r-0 pad-input-bg">
                    <!-- ng-show="((policyDetails.ProductName == 'Activ Assure' || policyDetails.ProductName == 'Activ Assure V2' || policyDetails.ProductName == 'Activ Health' || policyDetails.ProductName == 'Activ Health V2' || policyDetails.ProductName == 'Active Care V2' || policyDetails.ProductName == 'Activ Care') && (policyDetails.SumInsuredType == 'Family Floater'))" -->
                        <div class="col-xs-12 pad-l-r-0 input-pad" ng-show="policyDetails.SumInsuredType == 'Family Floater' && parseIntString(UpSellSumInsured) > 0">
                            <label class="check-btn" style="left: 0;" ng-if="parseIntString(UpSellSumInsured) > usedDeductible">
                                <span>Increase Sum Insured to ₹ {{UpSellSumInsured | INRALPHA}}</span>
                                <input type="checkbox" name="suminsured" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="parseIntString(insuredMembers[0].SumInsured) >= parseIntString(UpSellSumInsured)" ng-model="updateMembers" ng-click="updateSumInsured()">
                                <span class="checkmark"></span>
                            </label>
                            <label class="check-btn" style="left: 0; padding-left: 0;" ng-if="parseIntString(UpSellSumInsured) <= usedDeductible">
                                <span>Sum Insured ₹ {{UpSellSumInsured | INRALPHA}}</span>
                            </label>
                        </div>
                        <!-- ng-show="policyDetails.ProductName == 'Activ Secure' || ((policyDetails.ProductName == 'Activ Assure' || policyDetails.ProductName == 'Activ Assure V2' || policyDetails.ProductName == 'Activ Health' || policyDetails.ProductName == 'Activ Health V2' || policyDetails.ProductName == 'Active Care V2' || policyDetails.ProductName == 'Activ Care') && (policyDetails.SumInsuredType == 'Individual'))" -->
                        <div ng-show="policyDetails.SumInsuredType == 'Individual' && parseIntString(member.UpSellSumInsured) > 0" ng-repeat="member in insuredMembers" class="col-xs-12 pad-l-0 input-pad" style="margin-top: 10px; font-size:large;">
                            <div class="col-sm-5 col-md-5 col-lg-5">{{member.RelationWithProposer}} Sum Insured ₹ {{member.SumInsured | INRALPHA}}</div>
                            <div class="col-sm-6 col-md-6 col-lg-6" ng-show="parseIntString(member.SumInsured) > parseIntString(usedDeductibleAmount)">Opt for increased Sum Insured to ₹ {{member.UpSellSumInsured | INRALPHA}}</div>
                            <div class="col-sm-1 col-md-1 col-lg-1" ng-show="parseIntString(member.SumInsured) > parseIntString(usedDeductibleAmount)">
                                <label class="switch slider-label">
                                    <input type="checkbox" class="slider-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="parseIntString(member.SumInsured) >= parseIntString(member.UpSellSumInsured)" ng-model="updateMember[member.RelationWithProposer]" ng-click="updateSumInsured(member.RelationWithProposer,member)">
                                    <span class="slider round"></span>
                                </label>
                            </div> 
                        </div>
                    </div>
                </div>

        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btns-pad-top btns-position btns-section">
            <div ng-show="showHealthReturn" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mob-pad-l-r-0 helth-return-mobile-container">
                <label class="container-new" style="left: 0;">Use Health Returns of <span class="checkbox-green-txt">₹ {{heathReturnAmt | INR}}</span>
                    <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" name="healthreturn" ng-model="applyHealthReturn" ng-change="applyForHealthReturn(applyHealthReturn)">
                    <span class="checkmark"></span>
               </label> 
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mob-pad-l-r-0">
                <a href="javascript:void(0);" ng-click="requestPgURL();gotoPageGAParam('click-button','pay premium','renew')">
                    <span class="btn btn proceed-btn">Pay Premium
                        <span style="font-size: inherit; margin-left: 40px;">₹ {{policyDetails.RenewalGrossPremium | INR}}</span>
                        <img class="pull-right" src="assets/images/new-renew/right-arrow.svg">
                    </span>
                </a>
            </div>
            <div class="pre-btn-container pre-update-btn get-update-btn">
                <a href="javascript:void(0);" ng-click="alertRevert(); gotoPageGAParam('click-button','get quote','renew')" class="premuim-btn"><img src="assets/images/refresh.png"></a>
            </div>
        </div>
    </div>
    <!-- End of Mobile View -->
</div>

<!----------- Page Script ------------>

<script>
    $(".view-member-details-section").hide();
    $(document).ready(function () {
        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function () {
            $(this).siblings(".panel-heading").find(".arrow-right").addClass("rotate");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).parent().find(".arrow-right").addClass("rotate");
        }).on('hide.bs.collapse', function () {
            $(this).parent().find(".arrow-right").removeClass("rotate");
        });
    });
</script>

<!----------- End of Page Script ------------>