.hide-on-load,
.send-sms-btn {
    display: none
}

.container-new,
.container-new-sc {
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    opacity: .7;
    cursor: pointer
}

.age-span {
    position: relative;
    padding-left: 4px
}

.age-span:before {
    position: absolute;
    content: ',';
    left: -2px;
    font-size: 20px;
    bottom: -5px
}

.age-span:last-child:before {
    content: '.'
}

.padReset {
    padding: 0
}

.padResetL {
    padding-left: 0
}

.grey-max-height {
    max-height: 300px;
    overflow-y: scroll
}

.pd-area {
    background-color: #f6f6f6;
    padding: 13px 16px 0 13px
}

.sizeActiveCare {
    width: 500px !important
}

.container-new {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 3px;
    font-family: PFHandbookPro-Regular;
    font-size: 18px;
    line-height: normal;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.active-assure-fnt,
.modal-txt,
.yellow-note-txt {
    font-family: PF-Handbook-Pro-Regular
}

.modal-txt-red {
    color: #d0021b
}

.modal-txt {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6c7174;
    text-align: left;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 10px
}

.pad-l-r-0 {
    padding-left: 0;
    padding-right: 0
}

.yellow-note-txt {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #f5a623;
    padding-top: 7px;
    text-align: left
}

.container-new-sc {
    font-family: PFHandbookPro-Regular;
    font-size: 18px;
    line-height: normal;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sc-checkbox {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #cdcece;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-width: 0;
    transition: all .3s linear
}

.sc-checkbox:checked {
    left: 9px;
    background: #F6F6F6;
    width: 11px;
    height: 20px;
    border: solid red;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.sc-checkbox :focus {
    outline: 0;
    box-shadow: none
}

.pre-quote-page input[type=text],
.pre-quote-page input[type=number],
.pre-quote-page input[type=tel] {
    border: 0;
    background: 0 0;
    border-bottom: 1px solid #000;
    outline: 0;
    font-size: 22px;
    color: #c7222a;
    letter-spacing: .3px;
    line-height: 28px;
    min-width: 85px;
    max-width: 450px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0
}

.screen-full {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 96px
}

.screen-full .showSelected input[type=radio]+label i.default:before {
    background-color: #d9534f !important;
    color: transparent
}

.screen-full .q-static {
    padding-top: 40px;
    padding-bottom: 40px
}

.screen-full .q-static h5 {
    font-size: 20px;
    letter-spacing: .3px;
    color: #303030;
    opacity: .67;
    margin-bottom: 28px
}

.screen-full .q-static h3 {
    font-size: 32px;
    letter-spacing: .3px;
    color: #303030;
    opacity: .67
}

.screen-full .q-box .q-heading {
    color: #4a4949;
    font-family: PF-Handbook-Pro-Regular, PF-Encore-Sans-Pro-Bold;
    font-size: 30px;
    letter-spacing: .2px;
    margin-top: 40px;
    margin-bottom: 30px
}

.screen-full .q-box .q-count,
.screen-full .q-box .q-count span {
    color: #f7a500;
    font-size: 40px;
    letter-spacing: .2px;
    margin-top: 20px;
    margin-bottom: 0
}

.screen-full .q-box .q-count img {
    height: 24px;
    width: 24px;
    cursor: pointer
}

.screen-full .q-box .q-count img.backToPrevious {
    display: none
}

.screen-full .q-box .q-name,
.screen-full .q-box .q-next {
    color: #000;
    font-size: 50px;
    letter-spacing: .5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: PF-Handbook-Pro-Thin, PF-Encore-Sans-Pro-Thin
}

.screen-full .q-box .q-help {
    font-size: 12px;
    color: #c7222a;
    text-transform: uppercase
}

.screen-full .q-box .q-next {
    color: #535353;
    opacity: .09
}

.screen-full .q-box .q-label {
    font-size: 25px;
    font-family: PF-Handbook-Pro-Regular, PF-Encore-Sans-Pro-Bold;
    letter-spacing: .3px;
    color: #111;
    padding-bottom: 10px
}

.screen-full .q-box .q-input .input-group input {
    max-width: 100px;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px
}

.screen-full .q-box .q-input .input-group input.screen-7-question {
    max-width: 450px
}

.screen-8 .input-group {
    width: 100%
}

.screen-full .q-box .q-input .input-group-addon {
    background: 0 0;
    font-size: 34px;
    color: #000;
    letter-spacing: .5px;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding: 0
}

.screen-full .q-box .q-input,
.screen-full .q-box .q-next-input {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative
}

.screen-full .q-box .q-input .q-enternext {
    border-bottom: 1px solid #333;
    vertical-align: bottom;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-left: -3px;
    cursor: pointer
}

.screen-full .q-box .q-input .next-enter-btn {
    vertical-align: bottom;
    padding-bottom: 2px;
    cursor: pointer
}

.screen-full .q-box .q-next-input {
    border-color: #656565;
    opacity: .09
}

.screen-full .q-box .q-next-input input {
    height: 15px;
    max-width: 135px
}

.screen-full .q-box .q-button {
    margin-top: 30px
}

.screen-full .q-box .showOpt {
    text-align: right;
    cursor: pointer;
    width: 85%;
    user-select: none;
    padding-right: 40px;
    z-index: 9999
}

.screen-full .q-box .showOptChevron {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: -1
}

.screen-full .popOpt {
    background: #fff;
    border-radius: 4px;
    width: 320px;
    right: 0;
    position: absolute;
    visibility: hidden;
    left: auto;
    opacity: 0;
    bottom: -100%;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s;
    -moz-transition: visibility 0s .3s, opacity .3s, -moz-transform .3s;
    transition: visibility 0s .3s, opacity .3s, transform .3s;
    padding: 20px 15px
}

.screen-full .popOpt>li {
    font-size: 22px;
    color: #434343;
    letter-spacing: .2px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
    font-family: PF-Handbook-Pro-Thin, PF-Encore-Sans-Pro-Thin
}

.screen-full .popOpt>li.active,
.screen-full .popOpt>li:hover {
    font-family: PF-Handbook-Pro-Regular, PF-Encore-Sans-Pro-Regular;
    font-weight: 400
}

.screen-full .popOpt>li span {
    width: 25%;
    border-radius: 2px;
    display: block;
    margin: 20px auto 0;
    opacity: .2;
    border: 2px solid rgba(97, 97, 97, .81)
}

.screen-full .popOpt>li.active {
    color: #2c2c2c
}

.screen-full .otherFamilyConstruct {
    padding: 0
}

.screen-full .otherFamilyConstruct li {
    text-align: left;
    font-size: 18px;
    letter-spacing: .2px;
    color: #4b4b4b;
    padding: 8px 20px
}

.screen-full .popOpt.optopen.sizeActiveCare,
.screen-full .showOpt-open .popOpt.sizeActiveCare {
    -webkit-transform: translateY(-75%) scale(1);
    -moz-transform: translateY(-75%) scale(1);
    -ms-transform: translateY(-75%) scale(1);
    transform: translateY(-75%) scale(1);
    bottom: initial
}

.member-containers {
    height: 300px;
    overflow: auto
}

.member-containers~.active-care-footer {
    -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, .75)
}

.screen-full .otherFamilyConstruct.sizeActiveCare li {
    display: inline-block;
    width: 50%
}

.screen-full .otherFamilyConstruct .ofconst {
    background-color: #694744;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, .21);
    padding: 15px;
    border-radius: 4px 4px 0 0;
    font-family: PF-Handbook-Pro-Regular;
    font-size: 20px;
    letter-spacing: .2px;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    text-align: left
}

.ofconst img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    cursor: pointer
}

.screen-full .otherFamilyConstruct>li:hover {
    font-weight: 400;
    font-family: PF-Handbook-Pro-Thin, PF-Encore-Sans-Pro-Thin
}

.screen-full .otherFamilyConstruct .ofconst:hover {
    font-family: PF-Handbook-Pro-Regular
}

.screen-full .otherFamilyConstruct .btn-familyConstruct {
    border-radius: 2px;
    background-color: #694744;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    width: 115px;
    color: #fff;
    font-size: 16px;
    letter-spacing: .2px;
    outline: 0 !important;
    margin: 10px 0 20px;
    text-align: left
}

.screen-full .otherFamilyConstruct .btn-familyConstruct img {
    float: right;
    margin-top: 5px
}

.screen-full .otherFamilyConstruct .radio-label-spacing {
    font-size: 18px;
    letter-spacing: .2px;
    color: #4b4b4b;
    margin-left: 10px
}

.screen-full .otherFamilyConstruct #hideFamilyConstruct img {
    margin: 5px 0 0 7px
}

.screen-full .daughterInput,
.screen-full .sonsInput {
    max-width: 100%
}

.screen-full .btn-button {
    border-radius: 3px;
    background-color: #694743;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    width: 200px;
    color: #fff;
    font-size: 21px;
    letter-spacing: .3px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0 !important;
    position: relative
}

.screen-full .btn-button img {
    position: absolute;
    right: 15px;
    top: 15px
}

.screen-full .body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .62);
    opacity: 0;
    z-index: 9991;
    visibility: hidden;
    -webkit-transition: visibility 0s .3s, opacity .3s;
    -moz-transition: visibility 0s .3s, opacity .3s;
    transition: visibility 0s .3s, opacity .3s
}

.screen-full .showOpt-open {
    position: relative
}

.screen-full .showOpt-open .body-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s
}

.screen-full .popOpt.optopen,
.screen-full .showOpt-open .popOpt {
    visibility: visible;
    z-index: 9992;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: visibility 0s 0s, opacity .3s, -webkit-transform .3s;
    -moz-transition: visibility 0s 0s, opacity .3s, -moz-transform .3s;
    transition: visibility 0s 0s, opacity .3s, transform .3s
}

.brief-info {
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
    max-width: 550px;
    width: 95%;
    display: inline-block;
    margin-top: 15px;
    background: #f3f3f3;
    padding: 15px
}

.brief-info span span {
    color: #df8e88;
    font-size: 15px
}

.active-assure-fnt,
.pa-fnt {
    letter-spacing: .2px;
    color: #000
}

.new-product-img {
    width: 200px;
    height: 175px
}

.active-assure-fnt {
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    padding-left: 13px;
    padding-top: 40px
}

.get-free-quote,
.pa-fnt {
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    padding-left: 13px
}

.q-static.left-side-bg-top {
    padding-bottom: 0
}

.pa-fnt {
    font-size: 24px;
    padding-bottom: 35px
}

.get-free-quote {
    opacity: .67;
    font-size: 32px;
    letter-spacing: .3px;
    color: #313131
}

@media(max-width:768px) {
    .new-product-img {
        height: 95px;
        width: 110px;
        margin-top: 15px;
        display: inline-block
    }

    .active-assure-fnt {
        font-size: 28px;
        padding-top: 25px;
        padding-left: 20px
    }

    .pa-fnt {
        font-size: 16.8px;
        padding-left: 20px
    }
}

@media only screen and (max-width:1150px) {
    .sonsdaugh-xs .input-group input {
        width: 100% !important;
        max-width: 100% !important
    }
}

@media only screen and (max-width:991px) {
    .screen-full {
        padding-left: 48px;
        padding-right: 48px
    }
}

@media only screen and (max-width:768px) {
    .screen-full .otherFamilyConstruct.sizeActiveCare .ofconst {
        font-size: 16px
    }

    .member-containers {
        height: 270px
    }

    .screen-full .otherFamilyConstruct.sizeActiveCare li {
        padding: 8px 10px
    }

    .screen-full .otherFamilyConstruct.sizeActiveCare .radio-label-spacing {
        margin: 0;
        font-size: 13px
    }

    .screen-full .otherFamilyConstruct.sizeActiveCare.ul-activ {
        right: initial;
        left: 50%;
        transform: translateX(-50%) scale(1);
        top: -340px;
        width: 310px !important
    }

    .screen-full {
        padding-left: 12px;
        padding-right: 12px
    }

    .sizeActiveCare {
        top: -350px;
        height: 500px;
        width: 293px !important;
        position: relative
    }

    .grey-max-height {
        max-height: 200px;
        overflow-y: scroll
    }

    .screen-full .q-box .q-count,
    .screen-full .q-box .q-count span {
        font-size: 30px
    }

    .screen-full .q-box .q-input .q-enternext-mobile {
        display: inline-block !important;
        padding-bottom: 4px
    }

    .screen-full .q-box .q-input .q-enternextAge-mobile {
        display: inline-block !important;
        padding-bottom: 0
    }
}

@media only screen and (max-width:600px) {
    .sonsdaugh-xs {
        width: 30% !important
    }

    .sonsdaugh-xs.col-xs-offset-6 {
        margin-left: 40%
    }

    .sonsdaugh-xs .input-group input {
        width: 100% !important;
        min-width: 100%
    }
}

@media only screen and (max-width:520px) {
    .screen-full {
        padding-left: 0;
        padding-right: 0
    }

    .screen-full .q-box .q-heading {
        font-size: 30px;
        letter-spacing: .1px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px
    }

    .screen-full .q-box .q-count {
        font-size: 30px;
        letter-spacing: .1px;
        margin-top: 20px;
        margin-bottom: 20px
    }

    .screen-full .q-box .q-name,
    .screen-full .q-box .q-next {
        font-size: 30px;
        letter-spacing: .2px;
        padding-top: 15px;
        padding-bottom: 15px
    }

    .screen-full .q-box .q-label {
        font-size: 19px;
        letter-spacing: .1px;
        color: #111;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .screen-full .q-box .q-input {
        padding-top: 0
    }

    .screen-full .q-box .q-input .input-group-addon,
    .screen-full .q-box .q-input input {
        font-size: 24px;
        max-width: 270px !important
    }

    .screen-full .q-box .q-button {
        margin-top: 30px
    }

    .screen-full .q-box .btn-button {
        font-size: 16px;
        width: 150px;
        padding: 5px 10px
    }

    .screen-full .otherFamilyConstruct li:first-child {
        font-size: 18px;
        letter-spacing: .1px
    }

    .screen-full #hideFamilyConstruct img {
        margin-top: 3px
    }

    .screen-full .btn-button img {
        top: 10px;
        right: 10px
    }

    .screen-full .otherFamilyConstruct .radio-label-spacing {
        font-size: 15px;
        letter-spacing: .1px
    }

    .screen-full .popOpt {
        width: 225px;
        right: 0
    }

    .screen-full .popOpt li {
        font-size: 18px;
        letter-spacing: .1px
    }

    .screen-full .popOpt li span {
        border-width: 1px
    }

    .showOpt {
        padding-right: 30px !important
    }

    .showOptChevron {
        top: 8px !important;
        right: 5px !important
    }

    .showOptChevron img {
        width: 12px
    }
}

@media only screen and (max-width:420px) {
    .sonsdaugh-xs {
        width: 40% !important
    }

    .sonsdaugh-xs.col-xs-offset-6 {
        margin-left: 20%
    }
}