<!--
    Page: Vil Track
    Author: Pandurang Sarje
	Date: 12-05-2021
-->

<!-- Vil Track Page Header Section -->
<div class="container-fluid ">
    <div class="row cont-pad">
        <div class="col-md-12 ">
            <span class="main-header-text1">
                Track Calim
            </span>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<!-- Vil Track Page Header Section Ends-->

<!-- Vil Track Page Body Section -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 pad-l-r-0">
            <div class="col-md-12 col-xs-12  mob-pad-l-r-0">
                <div class="wizard">
                    <!-- Vil Track Page Form Section -->
                    <form role="form" name="vilTrackForm" novalidate="" ng-class="{'form-errors': showErrors}" autocomplete="nope">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div id="proposal-tab-main1">
                                    <div id="vil-track-details">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-background pad-l-r-0">
                                            <div class="">
                                                <div class="form-top-left-pad">
                                                    <div class="form-heading pad-btm-25 pad-btm-14">
                                                        Check Your Claim Status
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="row name-txt">
                                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pad-btm-14 pad-btm-25">
                                                                    <div class="form-lbl" style="font-size: 18px;">
                                                                        Claim Number <span class="requiredFieldStyle">*</span>
                                                                    </div>
                                                                    <div class="">
                                                                        <input style="border-left:3px solid #C4A484;" class="form-control input-text-box" maxlength="13" type="text" id="claimNumber" ng-model="claimNumber" name="claimNumber" minlength="4" valid-number placeholder="Enter Claim Number" required="">
                                                                    </div>
                                                                    <div class="errormsg redColorClass" ng-if="vilTrackForm.claimNumber.$error.required">
                                                                        Please enter claim number.
                                                                    </div>
                                                                    <div class="errormsg redColorClass" ng-if="vilTrackForm.claimNumber.$error.minlength">
                                                                        Please enter valid claim number.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-primary qq-save-btn" type="button" ng-click="trackClaim(vilTrackForm.$valid,$event)">Submit</button>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </form>
                    <!-- End of Vil Track Page Form Section -->                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Vil Track Page Body Section -->