<!--

	Page Name :- Pre Quote (Landing Page)
	Author: Pankaj Patil
	Date: 15-06-2018

-->
<section class="screen-full pre-quote-page" pre-quote="pQA">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 hidden-sm hidden-xs">
				<div class="q-static"><img src="assets/images/interactive.png" class="img-responsive"><br><br>
					<h5>Buying a health insurance policy doesn’t have to be difficult.</h5>
					<h3>Get your free quote here.</h3>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-2 col-sm-12 col-xs-12">
				<form name="pQA.preQuoteForm" novalidate="" autocomplete="nope">
					<div class="q-box text-right">
						<div class="q-heading">Let's get you a quote - it only takes a few minutes</div>
						<!-- <div class="q-heading">Get Started</div>						 -->
						<div class="q-count"><img ng-show="pQA.showNextPreviousBtn" src="assets/images/if-arrow-up.svg"
								class="backToPrevious"> <span>Get Started </span><img ng-show="pQA.showNextPreviousBtn"
								src="assets/images/if-arrow-down.svg" class="backToNext"></div>
						<!-- I am looking for dropdown section -->
						<div class="screen-box screen-1 screen-Active prequote-dropdown screen-scroll"
							data-type="looking-for-change" data-section="question-1" data-cnt="2" data-scroll="1">
							<div class="q-name">I am looking for</div>
							<div class="q-input"><input autocomplete="nope" type="text" class="showOpt pre-input"
									ng-model="pQA.selectCategory" id="q2showOpt" dropdown="pQA.preQuote.ProductCategory"
									ng-click="callGtag('click-input','pre-quote','prequote_looking-for')"
									autocomplete="off" placeholder="Protection against ..." readonly="readonly"> <span
									class="showOptChevron"><img src="assets/images/chevron.png" width="16"> <i
										class="fa fa-spinner" aria-hidden="true"
										ng-if="pQA.categories.length == 0"></i></span>
								<ul class="hide-on-load q2showOpt popOpt" data-for="q2showOpt"
									ng-show="pQA.categories.length != 0">
									<li ng-repeat="category in pQA.categories" data-val="{{category.CategoryCode}}"
										data-cnt="2"
										ng-click="callGtag('click-input','pre-quote','prequote_looking-for_'+category.Category)">
										{{category.Category}}<span></span></li>
								</ul>
								<div class="body-overlay reg-overlay" ng-show="pQA.categories.length != 0"></div>
							</div>

							<div class="q-help">Press enter for next question</div>
						</div><!-- I like to cover dropdown section -->
						<div class="screen-box screen-2 prequote-dropdown hide-on-load" data-type="cover-for-change"
							data-section="question-2" data-cnt="3" data-scroll="2">
							<div class="q-name">And I'd like to cover</div>
							<div class="q-input" ng-show="pQA.preQuote.ProductCategory != 'SC'"><input
									autocomplete="nope" type="text" autocomplete="off" class="showOpt pre-input"
									ng-model="pQA.coverTo" placeholder="Pick / choose members"
									ng-click="callGtag('click-input','pre-quote','prequote_liketo-cover')"
									dropdown="pQA.preQuote.Cover" id="q3showOpt" readonly="readonly"> <span
									class="showOptChevron"><img src="assets/images/chevron.png" width="16"> <i
										class="fa fa-spinner" aria-hidden="true"
										ng-if="pQA.familyConsturcts.length == 0"></i></span>
								<ul class="hide-on-load q3showOpt popOpt" data-for="q3showOpt"
									ng-show="pQA.familyConsturcts.length != 0">
									<li ng-repeat="member in pQA.familyConsturcts" data-val="{{member.Key}}"
										ng-click="callGtag('click-input','pre-quote','prequote_looking-for_'+member.Value)">
										{{member.Value}}<span></span></li>
								</ul>
								<ul class="hide-on-load otherFamilyConstruct popOpt" data-for="otherFamilyConstruct">
									<div class="ofconst">Other family construct <img src="assets/images/close-w.png"
											class="close-other-family-construct"></div>
									<li ng-repeat="addMember in pQA.additionalMembers" data-val="D">
										<div class="pretty primary danger"><input autocomplete="nope" type="checkbox"
												autocomplete="off" ng-model="pQA.selectedMembers[addMember]"
												tabindex="{{$index + 1}}" value="{{addMember}}"
												name="check-{{addMember}}" class="radio-checkbox"
												id="add-member-{{$index}}" data-for=""> <label
												for="add-member-{{$index}}"><i class="default"></i> <label
													class="radio-label-spacing">{{addMember}}</label></label></div>
									</li>
									<div class="container-fluid"><button type="button"
											class="btn btn-familyConstruct pull-right"
											ng-click="pQA.familyConstructSubmit(pQA.selectedMembers)">DONE <img
												src="assets/images/forward.png" width="12"></button></div>
								</ul>
								<div class="body-overlay reg-overlay" ng-show="pQA.familyConsturcts.length != 0"></div>
							</div>
							<div class="q-input activ-care" ng-show="pQA.preQuote.ProductCategory == 'SC'"><input
									autocomplete="nope" type="text" autocomplete="off" class="showOpt pre-input"
									ng-model="pQA.coverTo" placeholder="Pick / choose members"
									dropdown="pQA.preQuote.Cover" id="q3showOpt" readonly="readonly"> <span
									class="showOptChevron"><img src="assets/images/chevron.png" width="16"><i
										class="fa fa-spinner" aria-hidden="true"
										ng-if="pQA.activeCareFamilyContruct.length == 0"></i></span>
								<ul class="hide-on-load q3showOpt otherFamilyConstruct popOpt sizeActiveCare"
									data-for="otherFamilyConstruct" ng-show="pQA.activeCareFamilyContruct.length != 0">
									<div class="ofconst">Activ Care comes as a package for elderly individuals &
										couples. <img src="assets/images/close-w.png"
											class="close-other-family-construct"></div>
									<div class="member-containers">
										<li data-val="SC" ng-repeat="addMember in pQA.activeCareFamilyContruct">
											<div class="pretty primary danger"><input autocomplete="nope"
													type="checkbox" autocomplete="off"
													ng-model="pQA.selectedMembers[addMember.RelationWithProposer]"
													tabindex="{{$index + 1}}" value="{{addMember.RelationWithProposer}}"
													name="check-{{addMember.RelationWithProposer}}"
													class="radio-checkbox"
													id="add-member-{{addMember.RelationWithProposer}}"
													ng-change="pQA.chooseActiveCareMember(pQA.selectedMembers[addMember.RelationWithProposer] , pQA.selectedMembers , addMember)"
													data-for=""> <label
													for="add-member-{{addMember.RelationWithProposer}}"><i
														class="default"></i> <label
														class="radio-label-spacing">{{addMember.RelationWithProposer}}</label></label>
											</div>
										</li>
									</div>
									<div class="active-care-footer">
										<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 yellow-note-txt">Activ Care
											allows only individuals or spouses as members. To select other members among
											the ones you see disabled for you, uncheck your current selection.</div>
										<div class="container-fluid"><button type="button"
												class="btn btn-familyConstruct pull-right"
												ng-click="pQA.submitActiveCareFamilycontruct(pQA.selectedMembers)">DONE
												<img src="assets/images/forward.png" width="12"></button></div>
									</div>
								</ul>
								<div class="body-overlay ac-overlay" ng-show="pQA.activeCareFamilyContruct.length != 0">
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Self Age enter section -->
						<div class="screen-box screen-3 hide-on-load" data-section="question-3"
							data-type="self-age-change" data-cnt="4" data-scroll="3">
							<div class="q-name">My age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										name="age" ng-model="pQA.preQuote.Age" aria-describedby="basic-addon2"
										class="numeric pre-input" id="ques_1_age" valid-number minlength="1"
										maxlength="2"> <span class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-enternextAge"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-enternextAge q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Spouse Age enter section -->
						<div class="screen-box screen-4 hide-on-load" data-section="question-4"
							data-type="spouse-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Spouse's age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.spouseAge"
										class="numeric pre-input" id="ques_4_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-sposeAge"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-sposeAge q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Father's Age enter section -->
						<div class="screen-box screen-4_1 hide-on-load" data-section="question-4_1"
							data-type="father-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Father's age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.fatherAge"
										class="numeric pre-input" id="ques_4_1_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-fatherAge"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-fatherAge q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Mother's Age enter section -->
						<div class="screen-box screen-4_2 hide-on-load" data-section="question-4_2"
							data-type="mother-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Mother's age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" class="numeric pre-input"
										ng-model="pQA.preQuote.motherAge" id="ques_4_2_age" minlength="1" maxlength="2">
									<span class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-motherAge"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-motherAge q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Father-in-law's Age enter section -->
						<div class="screen-box screen-4_3 hide-on-load" data-section="question-4_3"
							data-type="fil-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Father-in-law's age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.fILAge"
										class="numeric pre-input" id="ques_4_3_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-fILAge"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-fILAge q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Mother-in-law's Age enter section -->
						<div class="screen-box screen-4_4 hide-on-load" data-section="question-4_4"
							data-type="mil-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Mother-in-law's age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.mILAge"
										class="numeric pre-input" id="ques_4_4_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-mILage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-mILage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Brother Age enter section -->
						<div class="screen-box screen-4_5 hide-on-load" data-section="question-4_5"
							data-type="bro-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Brother age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.broAge"
										class="numeric pre-input" id="ques_4_5_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-broage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-broage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Sister-In-Law Age enter section -->
						<div class="screen-box screen-4_6 hide-on-load" data-section="question-4_6"
							data-type="sisl-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Sister-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.sislAge"
										class="numeric pre-input" id="ques_4_6_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-sislage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-sislage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Sister enter section -->
						<div class="screen-box screen-4_7 hide-on-load" data-section="question-4_7"
							data-type="sis-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Sister age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.sisAge"
										class="numeric pre-input" id="ques_4_7_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-sisage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-sisage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Brother-In-Law Age enter section -->
						<div class="screen-box screen-4_8 hide-on-load" data-section="question-4_8"
							data-type="bil-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Brother-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.bilAge"
										class="numeric pre-input" id="ques_4_8_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-bilage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-bilage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Grandfather Age enter section -->
						<div class="screen-box screen-4_9 hide-on-load" data-section="question-4_9"
							data-type="gf-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Grandfather age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.gfAge"
										class="numeric pre-input" id="ques_4_9_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-gfage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-gfage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Grandmother Age enter section -->
						<div class="screen-box screen-4_10 hide-on-load" data-section="question-4_10"
							data-type="gm-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Grandmother age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.gmAge"
										class="numeric pre-input" id="ques_4_10_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-gmage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-gmage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Uncle Age enter section -->
						<div class="screen-box screen-4_11 hide-on-load" data-section="question-4_11"
							data-type="un-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Uncle age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.unAge"
										class="numeric pre-input" id="ques_4_11_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-unage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-unage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Aunt Age enter section -->
						<div class="screen-box screen-4_12 hide-on-load" data-section="question-4_12"
							data-type="au-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Aunt age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.auAge"
										class="numeric pre-input" id="ques_4_12_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-auage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-auage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Son Age enter section -->
						<div class="screen-box screen-4_13 hide-on-load" data-section="question-4_13"
							data-type="so-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Son age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.soAge"
										class="numeric pre-input" id="ques_4_13_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-soage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-soage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Daughter-In-Law Age enter section -->
						<div class="screen-box screen-4_14 hide-on-load" data-section="question-4_14"
							data-type="dil-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Daughter-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.dilAge"
										class="numeric pre-input" id="ques_4_14_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-dilage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-dilage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Daughter Age enter section -->
						<div class="screen-box screen-4_15 hide-on-load" data-section="question-4_15"
							data-type="dul-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Daughter age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.dulAge"
										class="numeric pre-input" id="ques_4_15_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-dulage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-dulage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Son-In-Law Age enter section -->
						<div class="screen-box screen-4_16 hide-on-load" data-section="question-4_16"
							data-type="sil-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Son-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.silAge"
										class="numeric pre-input" id="ques_4_16_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-silage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-silage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Nephew Age enter section -->
						<div class="screen-box screen-4_17 hide-on-load" data-section="question-4_17"
							data-type="np-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Nephew age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.npAge"
										class="numeric pre-input" id="ques_4_17_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-npage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-npage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Niece-In-Law Age enter section -->
						<div class="screen-box screen-4_18 hide-on-load" data-section="question-4_18"
							data-type="nil-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Niece-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.nilAge"
										class="numeric pre-input" id="ques_4_18_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-nilage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-nilage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Niece Age enter section -->
						<div class="screen-box screen-4_19 hide-on-load" data-section="question-4_19"
							data-type="ni-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Niece age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.niAge"
										class="numeric pre-input" id="ques_4_19_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-niage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-niage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Nephew-In-Law Age enter section -->
						<div class="screen-box screen-4_20 hide-on-load" data-section="question-4_20"
							data-type="np-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Nephew-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.nplAge"
										class="numeric pre-input" id="ques_4_20_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-nplage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-nplage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Grandson Age enter section -->
						<div class="screen-box screen-4_21 hide-on-load" data-section="question-4_21"
							data-type="gs-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Grandson age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.gsAge"
										class="numeric pre-input" id="ques_4_21_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-gsage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-gsage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Granddaughter-In-Law Age enter section -->
						<div class="screen-box screen-4_22 hide-on-load" data-section="question-4_22"
							data-type="gdl-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Granddaughter-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.gdlAge"
										class="numeric pre-input" id="ques_4_22_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-gdlage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-gdlage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Granddaughter Age enter section -->
						<div class="screen-box screen-4_23 hide-on-load" data-section="question-4_23"
							data-type="gd-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Granddaughter age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.gdAge"
										class="numeric pre-input" id="ques_4_23_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-gdage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-gdage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Grandson-In-Law Age enter section -->
						<div class="screen-box screen-4_24 hide-on-load" data-section="question-4_24"
							data-type="gsl-age-change" data-cnt="3" data-scroll="3">
							<div class="q-name">and my Grandson-In-Law age is</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" ng-model="pQA.preQuote.gslAge"
										class="numeric pre-input" id="ques_4_24_age" minlength="1" maxlength="2"> <span
										class="input-group-addon" id="basic-addon2">yrs <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-gslage"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-gslage q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Taking kids count section -->
						<div class="screen-box screen-5 hide-on-load" data-section="question-5"
							data-type="kids-no-change" data-cnt="3" data-scroll="3">
							<div class="q-name">I have</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										valid-number aria-describedby="basic-addon2" minlength="1"
										ng-model="pQA.preQuote.Kids" maxlength="1" class="numeric pre-input"
										id="ques_5_age"> <span class="input-group-addon" id="basic-addon2">kids <img
											src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm kidsChange"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm kidsChange q-enternextAge-mobile"></span>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Taking kids age section -->
						<div class="screen-box screen-6 hide-on-load" data-section="question-6"
							data-type="kids-age-change" data-cnt="4" data-scroll="3">
							<div class="q-name">Aged</div>
							<div class="q-input addKidsOnIHave">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-4 sonsdaugh-xs padResetL"
										ng-repeat="child in pQA.kidsObject"
										ng-class="{'col-xs-offset-5 col-sm-offset-9 col-md-offset-8': pQA.kidsObject.length == 1 || (pQA.kidsObject.length == 3 && $index == 2),'col-xs-offset-6 col-sm-offset-6 col-md-offset-4': $even && pQA.kidsObject.length != 1 && ($index != 2 || pQA.kidsObject.length == 4)}">
										<div class="input-group kid2"><input autocomplete="nope" type="text"
												autocomplete="off" valid-number aria-describedby="basic-addon2"
												ng-model="child.age" class="numeric pre-input child-age-change"
												placeholder="Kid-{{$index + 1}}" id="ques_kid_{{$index + 1}}_age"
												min="1" maxlength="2"> <span class="input-group-addon"
												id="basic-addon2">yrs <img src="assets/images/enter_web.png"
													class="next-enter-btn hidden-xs hidden-sm q-kidsAge"
													ng-show="$index == pQA.kidsObject.length - 1"> <img
													src="assets/images/enter_mobile.png"
													class="visible-xs visible-sm q-kidsAge q-enternextAge-mobile"
													ng-show="$index == pQA.kidsObject.length - 1"></span></div>
									</div>
								</div>
							</div>
							<div class="q-help">Press enter for next question</div>
						</div><!-- Taking mobile number section -->
						<div class="screen-box screen-7 hide-on-load" data-section="question-7"
							data-type="mobile-no-change" data-cnt="4" data-scroll="4"><br><br class="hidden-xs">
							<div class="q-label">My Mobile No</div>
							<div class="q-input">
								<div class="input-group"><input autocomplete="nope" type="text" autocomplete="off"
										class="text-right pre-input screen-7-question" valid-number
										ng-model="pQA.preQuote.MobileNo" id="ques_7_mobile" maxlength="10"
										ng-readonly="pQA.whatsAppCall"> <span class="input-group-addon"
										id="basic-addon2"><img src="assets/images/enter_web.png"
											class="next-enter-btn hidden-xs hidden-sm q-mobileNo"> <img
											src="assets/images/enter_mobile.png"
											class="next-enter-btn visible-xs visible-sm q-mobileNo q-enternext-mobile"></span>
								</div>
							</div>

							<div class="q-help">Press enter for next question</div>
						</div><!-- Taking email section -->
						<div class="screen-box screen-8 hide-on-load" data-section="question-8"
							data-type="email-id-change" data-cnt="4" data-scroll="4"><br><br class="hidden-xs">
							<div class="q-label">My Email</div>
							<div class="q-input">
								<div class="input-group"><input type="text"
										class="text-right pre-input screen-7-question" name="myEmail"
										ng-model="pQA.preQuote.EmailId" placeholder="abc@gmail.com" id="ques_7_email">
									<!-- <span class="input-group-addon" id="basic-addon2"></span> -->
								</div>
								<div class="q-button emailShow"><button ng-if="pQA.showNextPreviousBtn" type="button"
										ng-if="pQA.showBuyBtn" class="btn btn-button" id="check-products"
										ng-click="pQA.checkProducts($event) ; callGtag('click-button', 'pre-quote' ,'pre-quote_[check-product]')">Check
										Products<img src="assets/images/forward.png" width="12"></button></div>
							</div>
						</div>
						<div class="previous-next-btn" ng-show="!pQA.showNextPreviousBtn"><button type="button"
								class="btn btn-previous-next previous-btn backToPrevious" id="previous">Previous<img
									style="float: left;padding-top: 9px" src="assets/images/path-1.png"
									width="12"></button> <button type="button"
								class="btn btn-previous-next next-btn backToNext" id="next">Next<img
									style="float: right;padding-top: 9px" src="assets/images/arrow.png"
									width="12"></button> <button type="button" ng-if="pQA.showBuyBtn "
								class="btn btn-button" id="check-products"
								ng-click="pQA.checkProducts($event) ; callGtag('click-button', 'pre-quote' ,'pre-quote_[check-product]')">Check
								Products<img src="assets/images/forward.png" width="12"></button></div>
						<!-- Brief Info Section -->
						<div class="brief-info" ng-if="pQA.selectCategory"><span id="select-category"
								ng-if="pQA.selectCategory">I am looking
								for <span>{{pQA.selectCategory}}.</span></span> <span id="cover-to"
								ng-if="pQA.coverTo">And I'd like
								to cover <span>{{pQA.coverTo}}.</span></span> <span id="pre-quote-age"
								ng-if="pQA.preQuote.Age">My Age is
								<span>{{pQA.preQuote.Age}}</span></span> <span id="spouse-age" class="age-span"
								ng-if="pQA.preQuote.spouseAge">my Spouse's Age is
								<span>{{pQA.preQuote.spouseAge}}</span></span> <span id="father-age" class="age-span"
								ng-if="pQA.preQuote.fatherAge">my Father's Age is
								<span>{{pQA.preQuote.fatherAge}}</span></span> <span id="mother-age" class="age-span"
								ng-if="pQA.preQuote.motherAge">my Mother's Age is
								<span>{{pQA.preQuote.motherAge}}</span></span> <span id="father-in-law-age"
								class="age-span" ng-if="pQA.preQuote.fILAge">my Father-In-Law's Age is
								<span>{{pQA.preQuote.fILAge}}</span></span> <span id="mother-in-law-age"
								class="age-span" ng-if="pQA.preQuote.mILAge">my Mother-In-Law's Age is
								<span>{{pQA.preQuote.mILAge}}</span></span> <span id="brother-age" class="age-span"
								ng-if="pQA.preQuote.broAge">my Brother Age is
								<span>{{pQA.preQuote.broAge}}</span></span> <span id="sister-in-law-age"
								class="age-span" ng-if="pQA.preQuote.sislAge">my Sister-In-Law Age is
								<span>{{pQA.preQuote.sislAge}}</span></span> <span id="sister-age" class="age-span"
								ng-if="pQA.preQuote.sisAge">my Sister Age is <span>{{pQA.preQuote.sisAge}}</span></span>
							<span id="brother-in-law-age" class="age-span" ng-if="pQA.preQuote.bilAge">my Brother-In-Law
								Age is
								<span>{{pQA.preQuote.bilAge}}</span></span> <span id="grandfather-age" class="age-span"
								ng-if="pQA.preQuote.gfAge">my Grandfather Age is
								<span>{{pQA.preQuote.gfAge}}</span></span> <span id="grandmother-age" class="age-span"
								ng-if="pQA.preQuote.gmAge">my Grandmother Age is
								<span>{{pQA.preQuote.gmAge}}</span></span> <span id="uncle-age" class="age-span"
								ng-if="pQA.preQuote.unAge">my Uncle Age is <span>{{pQA.preQuote.unAge}}</span></span>
							<span id="aunt-age" class="age-span" ng-if="pQA.preQuote.auAge">my Aunt Age is
								<span>{{pQA.preQuote.auAge}}</span></span> <span id="son-age" class="age-span"
								ng-if="pQA.preQuote.soAge">my Son Age is <span>{{pQA.preQuote.soAge}}</span></span>
							<span id="daughter-in-law-age" class="age-span" ng-if="pQA.preQuote.dilAge">my
								Daughter-In-Law Age is
								<span>{{pQA.preQuote.dilAge}}</span></span> <span id="daughter-age" class="age-span"
								ng-if="pQA.preQuote.duAge">my Daughter Age is <span>{{pQA.preQuote.duAge}}</span></span>
							<span id="son-in-law-age" class="age-span" ng-if="pQA.preQuote.silAge">my Son-In-Law Age is
								<span>{{pQA.preQuote.silAge}}</span></span> <span id="nephew-age" class="age-span"
								ng-if="pQA.preQuote.npAge">my Nephew Age is <span>{{pQA.preQuote.npAge}}</span></span>
							<span id="niece-in-law-age" class="age-span" ng-if="pQA.preQuote.nilAge">my Niece-In-Law Age
								is
								<span>{{pQA.preQuote.nilAge}}</span></span> <span id="niece-age" class="age-span"
								ng-if="pQA.preQuote.niAge">my Niece Age is <span>{{pQA.preQuote.niAge}}</span></span>
							<span id="nephew-in-law-age" class="age-span" ng-if="pQA.preQuote.nplAge">my Nephew-In-Law
								Age is
								<span>{{pQA.preQuote.nplAge}}</span></span> <span id="grandson-age" class="age-span"
								ng-if="pQA.preQuote.gsAge">my Grandson Age is <span>{{pQA.preQuote.gsAge}}</span></span>
							<span id="granddaughter-in-law" class="age-span" ng-if="pQA.preQuote.gdlAge">my
								Granddaughter-In-Law Age is
								<span>{{pQA.preQuote.gdlAge}}</span></span> <span id="granddaughter-age"
								class="age-span" ng-if="pQA.preQuote.gdAge">my Granddaughter Age is
								<span>{{pQA.preQuote.gdAge}}</span></span> <span id="grandson-in-law-age"
								class="age-span" ng-if="pQA.preQuote.gslAge">my Grandson-In-Law Age is
								<span>{{pQA.preQuote.gslAge}}</span></span> <span id="kid-first-age" class="age-span"
								ng-if="pQA.kidsObject[0].age">my first kid's Age is
								<span>{{pQA.kidsObject[0].age}}</span></span> <span id="kid-second-age" class="age-span"
								ng-if="pQA.kidsObject[1].age">my second kid's Age is
								<span>{{pQA.kidsObject[1].age}}</span></span> <span id="kid-third-age" class="age-span"
								ng-if="pQA.kidsObject[2].age">my third kid's Age is
								<span>{{pQA.kidsObject[2].age}}</span></span> <span id="kid-fourth-age" class="age-span"
								ng-if="pQA.kidsObject[3].age">my fourth kid's Age is
								<span>{{pQA.kidsObject[3].age}}.</span></span> <span id="pre-quote-mob"
								ng-if="pQA.preQuote.MobileNo">. My
								Mobile No. is <span>{{pQA.preQuote.MobileNo}}.</span></span> <span id="pre-quote-email"
								ng-if="pQA.preQuote.EmailId">My Email is <span>{{pQA.preQuote.EmailId}}.</span></span>
						</div>
						<div class="row get-quote-whatsapp mr-0">
							<div class="col-lg-8 col-sm-8 col-md-11 col-xs-12 pr-0">
								<label class="whatsapp-label" for="checkWhatsapp">
									<input type="checkbox" id="checkWhatsapp"  ng-true-value="'Y'" ng-false-value="'N'" ng-model="pQA.whatsappconcent" ng-init="pQA.whatsappconcent ='Y'"/>									
									<span class="checkmark"></span>Get Quote on <img
									src="assets/images/WhatsApp.svg" alt=""/>WhatsApp
								</label>
							</div>
						</div>
						<div class="brief-info">
							<p class="text-center">I authorize ABHICL and associate partners to contact me through my
								email/call/SMS. This will override registry on the DNCR.</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section><!-- End of Pre Quote Page -->


<!--PAN CARD modal-->

<div class="modal app-modal" id="pan-card-modal" role="dialog">
	<div class="modal-dialog model-head-Width">
		<div class="modal-content">
			<form name="pancard">
				<div class="modal-header modal-hdr model-head-banner-otp">
					<button type="button" class="close close-class-alert" data-dismiss="modal"><img
							src="assets/images/close-white.svg"></button>
					<div class="modal-hdr-txt model-head-otp">{{pQA.otpResponse.ResponseMessage}} </div>
				</div>
				<div class="modal-body">
					<div>
						<label class="otp-label-style color-change">Just one step away from your quote! <br>

							We are here to make health insurance simpler for you!</label><br>

						<label class="otp-label-style">Please enter OTP</label><span class="requiredFieldStyle">*</span>

						<input autocomplete="nope" type="text" class="form-control input-text-box pancardtensform"
							id="otp-no" valid-number name="panNo" ng-model="pQA.otpVal" placeholder="Enter OTP"
							ng-pattern="" maxlength="6" minlength="6">

						<div class="red-color-error" ng-if="pancard.panNo.$dirty && pancard.panNo.$error.required">
							Please enter OTP No.</div>
						<div class="red-color-error" ng-if='pancard.panNo.$dirty && pancard.panNo.$error.pattern'>Please
							enter valid otp.</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="container-fluid">
							<button class="btn btn-primary modal-save-btn text-center" ng-disabled="!pQA.hideTimer"
								ng-click="pQA.triggerOTP('resend')">Resend OTP <span
									ng-show="!pQA.hideTimer">{{pQA.numCount}}</span></button>
							<button class="btn btn-primary modal-save-btn text-center"
								ng-disabled="(pancard.panNo.$error.pattern || pancard.panNo.$error.required)"
								ng-click="pQA.submitOTPVal()">Submit OTP</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- End of PAN Card modal -->