.pad-l-r-0,
.pad-r-0 {
    padding-right: 0
}

.pad-l-0,
.pad-l-r-0 {
    padding-left: 0
}

.health-insurance-small-txt,
.referal-program-txt {
    font-style: normal;
    font-stretch: normal;
    color: #5d413b
}

.panel-title>a:focus,
.panel-title>a:hover,
.product-box-bg a:hover {
    text-decoration: none
}

.dis-in {
    display: inline-block
}

.grey-background {
    background-color: #f1f3f6;
    background: linear-gradient(to right, #fff 0, #fff 50%, #fff 30%, #f2f3f6 30%, #f1f3f6 100%)
}

.renew-policy-bg {
    background-color: #ffe5e0;
    padding: 20px 120px 20px 50px;
    position: absolute;
    left: -33px;
    top: 350px
}

.download-img-width {
    width: 70%;
    padding-top: 16%;
    padding-left: 15%
}

.health-insurance-small-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .18px
}

.referal-program-txt {
    font-family: PF-Handbook-Pro-Bold;
    font-size: 36px;
    font-weight: 500;
    line-height: .72;
    letter-spacing: .31px
}

.right-side-padding {
    padding: 38px 20px 28px 63px
}

.btn-buy {
    border-radius: 2px;
    background-color: #f7a500;
    color: #fff !important;
    font-size: 14px;
    font-family: PF-Handbook-Pro-Regular, PF-Encore-Sans-Pro-Regular;
    line-height: initial;
    letter-spacing: 1px;
    outline: 0 !important;
    font-weight: 400;
    min-width: 70px
}

.user-name-txt,
.user-referance-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 400;
    color: #000;
    font-style: normal;
    font-stretch: normal
}

.user-name-txt {
    font-size: 35px;
    line-height: .8;
    letter-spacing: normal;
    padding-bottom: 12px
}

.prod-cnt-pink-txt,
.product-name-accordion,
.product-name-pink-txt,
.user-referance-txt {
    line-height: normal;
    letter-spacing: normal
}

.user-referance-txt {
    opacity: .8;
    font-size: 20px;
    padding-bottom: 22px
}

.ul-styling-refer {
    padding-left: 40px;
    list-style: outside
}

.user-referance-txt-bold {
    font-family: PFEncoreSansPro-Medium;
    font-weight: 500
}

.accordion-bg-clr {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .11);
    background-color: #f1f3f6;
    cursor: pointer
}

#accordion1 .accordion-bg-clr,
#accordion12 .accordion-bg-clr {
    border-radius: 5px;
    border: 1px solid #ececec;
    background-color: #fff;
    box-shadow: none
}

.panel-heading-new.collapsed .accordion-toggle:after {
    content: "\f078";
    opacity: .2;
    margin-top: 8px
}

.panel-heading-new .accordion-toggle:after {
    font-family: FontAwesome;
    content: "\f077";
    float: right;
    color: #000;
    opacity: .6;
    margin-top: 8px
}

.panel-heading-new .accordion-toggle.collapsed:after {
    content: "\f078";
    opacity: .2;
    margin-top: 8px
}

.panel-default>.panel-heading {
    background-color: #fff;
    border-color: transparent;
    padding: 20px 19px 20px 17px;
    border-radius: 4px
}

.panel-body {
    padding: 0 15px 15px
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding: 0 19px 10px 17px;
    background-color: #f1f3f6
}

.prod-cnt-pink-txt {
    font-family: PF-Handbook-Pro-Bold;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: #cd877e
}

.product-img-width {
    width: 36px;
    height: 36px;
    vertical-align: middle
}

.product-name-accordion {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #000;
    padding-left: 10px
}

.product-box-bg {
    border-radius: 5px;
    border: 1px solid #ececec;
    background-color: #fff;
    padding: 10px 19px;
    margin-bottom: 5px
}

.product-description-grey-txt,
.product-name-pink-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-style: normal;
    font-stretch: normal;
    padding-left: 10px
}

.product-name-pink-txt {
    font-size: 20px;
    font-weight: 500;
    color: #cd877e
}

.product-description-grey-txt {
    opacity: .6;
    font-size: 17px;
    font-weight: 400;
    line-height: .94;
    letter-spacing: normal;
    color: #000
}

.bullet-txt,
.get-quote-btn {
    font-family: PF-Handbook-Pro-Regular;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}

.sub-product-img {
    vertical-align: sub;
    height: 36px;
    width: 36px
}

.sub-prod-right-arrow {
    margin-top: 16px;
    opacity: .2;
    color: #000
}

.get-quote-btn {
    width: 266px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid #5d413b;
    font-size: 18px;
    color: #fff;
    margin-top: 8px;
    text-align: left;
    background-color: #694743
}

.bullet-pt-52 {
    padding-left: 52px
}

.bullet-txt {
    opacity: .6;
    font-size: 14px;
    color: #000;
    padding-bottom: 6px
}

#accordion1 .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background-color: #fff;
    border-radius: 0;
    border: none
}

#accordion12 .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background-color: #fff
}

.panel-group {
    margin-bottom: 0
}

#accordion1 .collapse.in,
#accordion1 .panel-default>.panel-heading+.panel-collapse.collapse.in>.panel-body,
#accordion12 .collapse.in {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

ul {
    margin-left: -28px
}

@media (min-width:1401px) and (max-width:1650px) {
    .mob-div-width {
        width: 86%
    }
}

@media (min-width:1201px) and (max-width:1400px) {
    .download-img-width {
        width: 86%
    }

    .right-side-padding {
        padding: 36px 20px 28px 40px
    }

    .mob-div-width {
        width: 85%
    }

    .sub-product-img {
        vertical-align: top
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .download-img-width {
        width: 100%;
        padding-top: 70px
    }

    .renew-your-policy-txt {
        font-size: 50px
    }

    .right-side-padding {
        padding: 38px 20px 28px 95px
    }

    .product-name-accordion {
        width: 83%
    }

    .product-img-width {
        vertical-align: baseline
    }

    .panel-default>.panel-heading {
        padding: 10px 19px 10px 17px
    }

    .mob-div-width {
        width: 82%
    }

    .sub-product-img {
        vertical-align: top
    }

    .img-vert-middle {
        vertical-align: middle
    }
}

@media (min-width:768px) and (max-width:991px) {

    .product-img-width,
    .sub-product-img {
        vertical-align: top
    }

    .download-img-width {
        width: 100%;
        padding-top: 70px
    }

    .renew-policy-bg {
        padding: 15px 46px 15px 35px;
        top: 216px;
        left: 0
    }

    .renew-your-policy-txt {
        font-size: 35px
    }

    .tab-pad-l-r-0 {
        padding-left: 0;
        padding-right: 0
    }

    .health-insurance-small-txt {
        font-size: 20px
    }

    .referal-program-txt {
        font-size: 25px
    }

    .right-side-padding {
        padding: 38px 20px 28px 90px
    }

    .user-name-txt {
        font-size: 28px
    }

    .user-referance-txt {
        font-size: 18px
    }

    .product-name-accordion {
        width: 70%;
        font-size: 17px
    }

    .panel-default>.panel-heading {
        padding: 10px 19px 10px 17px
    }

    .mob-div-width {
        width: 80%
    }

    .product-name-pink-txt {
        font-size: 16px
    }

    .product-description-grey-txt {
        font-size: 14px
    }

    #accordion1 .panel-default>.panel-heading,
    #accordion12 .panel-default>.panel-heading {
        padding: 10px
    }

    .get-quote-btn {
        width: 100%
    }
}

@media (min-width:320px) and (max-width:767px) {
    .mob-pad-l-r-0 {
        padding-left: 0;
        padding-right: 0
    }

    .mob-pad-l-r-15 {
        padding-left: 15px;
        padding-right: 15px
    }

    .grey-background {
        background: linear-gradient(to right, #fff 0, #fff 0, #fff 0, #fff 3%, #fff 100%)
    }

    .right-side-padding {
        padding: 13px 0 28px
    }

    .user-name-txt {
        padding-left: 20px;
        font-size: 24px
    }

    .user-referance-txt {
        padding: 0 20px 18px;
        font-size: 18px
    }

    .panel-default>.panel-heading {
        border-radius: 0;
        box-shadow: 0 6px 5px 0 rgba(0, 0, 0, .09);
        padding: 18px 19px 18px 17px
    }

    #accordion1 .panel-default>.panel-heading,
    #accordion12 .panel-default>.panel-heading {
        border-radius: 5px
    }

    .product-name-accordion {
        width: 80%;
        font-size: 18px
    }

    .product-img-width {
        vertical-align: sub
    }

    .accordion-bg-clr {
        border: 1px solid #ececec;
        border-radius: 5px
    }

    .panel-default {
        border: 0
    }

    .img-vert-middle {
        vertical-align: middle
    }

    .prod-cnt-pink-txt {
        font-family: PF-Handbook-Pro-Regular
    }

    .product-name-pink-txt {
        font-family: PFEncoreSansPro-Medium;
        font-size: 17px
    }

    .product-description-grey-txt {
        font-size: 15px
    }

    .mob-div-width {
        width: 77%
    }

    .sub-product-img {
        vertical-align: super
    }

    .panel-group .panel {
        margin-bottom: 17px
    }

    .panel-body {
        padding: 0 15px
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        padding: 0 10px 10px
    }

    .download-img-width {
        width: 100%;
        padding-top: 3%;
        padding-left: 0
    }

    .health-insurance-small-txt {
        font-size: 16px
    }

    .referal-program-txt {
        font-size: 28px;
        line-height: .93
    }

    .mob-img-txt {
        position: absolute;
        top: 30%;
        left: 22px
    }

    .bullet-pt-52 {
        padding-left: 0
    }

    .get-quote-btn {
        width: 100%
    }

    ul {
        margin-left: -14px
    }
}