<div class="editable-h1">
  <h1>Editable Proposal Form</h1>
</div>
<div class="row middle">
 
    <label>
      <input type="radio" name="radio" checked />
      <div class="front-end box">
        <h4 class="e-upload-h4"><a href="#" target="_blank">Click Here</a> to download the proposal form</h4>
        <span class="e-label">Product Type</span>
        <select class="editable-select"  ng-model="ePF.productType"  name="product">
          <option value="">----Please Select----</option>
          <option ng-repeat="pt in ePF.newProductObj.productArrat" ng-value="pt"   > {{pt.ProductName}}</a> </option>
          </select>
        <div class="e-download-btn">
          <a type="button" class="e-download" ng-click="ePF.FiledownloadPAth = ePF.productType.productPDFPath " ng-href="{{ePF.FiledownloadPAth}}" target="_blank" > Download e-Proposal
          </a>
        </div>
      </div>
    </label>


    <label>
      <input type="radio" name="radio" />
      <div class=" back-end box">
        <div class="form-group e-upload">
          <h4>Fill your details in the form and please upload it below</h4>
          <label class="e-file-select" for="fil-upload">Select a file:</label>
          <div id="cv-upload-filename" class="e-file-select-margin"></div>
          <input class="e-file-input" type="file" id="filUpload" name="myfile" ng-model="ePF.epfDetails.fileName"
            accept="application/pdf" required="">
          <div class="">
            <label class="e-select-label">Product Type</label>
            <select class="e-file-contactno e-file-select" ng-model="ePF.epfDetails.selectproductType" name="lead_type">
              <option ng-repeat="pt in ePF.prouctdropdown">{{pt}}</option>
            </select>
          </div>
          <div class="e-file-select-margin">
            <label class="e-file-contactno">Mobile Number</label>
            <input type="text" maxlength="10"  valid-number ng-model="ePF.epfDetails.mobno"
              name="mobileNo" class="form-control e-upload-mobileno" placeholder="Enter mobile Number" id="mob_no"
              valid-number />
          </div>

          <div class="link-text" class="e-file-select-margin10">
            <input type="checkbox" class="inputchk" ng-true-value="'Y'" ng-false-value="'N'" ng-model="ePF.epfDetails.chkval" ng-disabled =" !ePF.epfDetails.mobno" name="inputchk"
              >&nbsp;<label>I accept enterd mobile number which is equal to proposal
              number</label>
          </div>
        </div>
        <div class="auth-btn text-center" class="mt-1">
          <span ng-show="errorVal"></span>
          <button type="button" ng-click ="ePF.getOtp()" class="e-upload-btn">
            Generate OTP
          </button>

        </div>
      </div>
    </label>
  

  <p>Made <span></span> by <a href="https://github.com/gabrielferreiraa" target="_blank">@gabrielferreiraa</a></p>
</div>



<!-- otp modal start -->
<div class="modal app-modal" id="otp-modal" role="dialog">
  <div class="modal-dialog model-head-Width">
    <div class="modal-content">
      <form name="pancard">
        <div class="modal-header modal-hdr model-head-banner-otp">
          <button type="button" class="close close-class-alert" data-dismiss="modal"><img
              src="assets/images/close-white.svg"></button>
          <div class="modal-hdr-txt model-head-otp">{{ ePF.quoteDetails.ResponseMessage}} </div>
        </div>
        <div class="modal-body">
          <div>
            <label class="otp-label-style color-change">Just one step away from buying your product <br>

              We are here to make health insurance simpler for you!</label><br>

            <label class="otp-label-style">Please enter OTP</label><span class="requiredFieldStyle">*</span>

            <input autocomplete="nope" type="text" class="form-control input-text-box pancardtensform" id="otp-no"
              valid-number name="panNo" ng-model="ePF.epfDetails.otpVal" placeholder="Enter OTP" ng-pattern=""
              maxlength="6" minlength="6">

            <div class="red-color-error" ng-if="pancard.panNo.$dirty && pancard.panNo.$error.required">
              Please enter OTP No.</div>
            <div class="red-color-error" ng-if='pancard.panNo.$dirty && pancard.panNo.$error.pattern'>Please
              enter valid otp.</div>
          </div>
        </div>
        
        <div class="modal-footer">
          <div class="row">
            <div class="container-fluid">
              <button type="button" class="btn btn-primary modal-save-btn text-center" ng-disabled="!ePF.hideTimer"
                ng-click=" ePF.resendOTP()">Resend OTP <span ng-show="!ePF.hideTimer">{{ePF.numCount}}</span></button>
              <button type="button" ng-click="ePF.varifyOTP()" class="btn btn-primary modal-save-btn text-center">Submit
                OTP</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- otp modal end -->