.e-radio{
    display: flex;
    justify-content: space-between;
}
.e-radio ,.e-label{
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    position: relative;
}
.tab-content{
  padding: 10px 30px;
}

/* Outside from health site styling */

body.outside #main-header {
    display: none;
  }
  
  body .margin-top-0 {
    margin-top: 0 !important;
  }
  
  body.outside footer {
    display: none;
  }
  
  .help-icon {
    height: 50px;
  }
  
  .crm-logo {
    display: none;
  }
  /* editable proposal form style 2 */

/* Editable proposal form start */
/* html {
  background-color: #1a1a1a;
  overflow: hidden;
} */
.editable-h1{
  display: flex;
  justify-content: center;
  padding: 15px;
}
.editable-select{
  width: 80%;
  background: #FFF;
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-radius: 7px;
  box-shadow: 0 0 10px #e8e8e8 inset;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  top: 126px;
  left: 45px;
  padding: 10px;
  color: #272222;
}
.e-download{
  width: 81%;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  line-height: 10px;
  font-size: 20px;
  margin: 4px 2px;
  position: absolute;
  bottom: 0;
  left: 40px;
  height: 50px;
  color: #c7222a;
  transition-duration: .4s;
  border-radius: 7px;
  background-color: #fff;
  /* color: #000; */
  border: 2px solid #c7222a;
}
 .e-download, a:focus a:hover {
  color: #c7222a !important;
  text-decoration: underline;
}

.e-file-select{
  position: relative !important;
  color:#fff;
  left:0px;
  display:none
}
.e-file-select-margin{
  margin-top:8px;
}
.e-file-select-margin10{
  margin-top: 14px;
}
.e-upload-h4{
  position: absolute;
  top: 43px;
  left: 90px;
  font-weight: 900;
}
.e-upload-h4 a{
  color: #88accc;
  font-weight: 900;
  text-decoration: underline;
}
.e-upload-h4 a:focus, a:hover {
  color: #88accc;
  text-decoration: underline;
}

.e-file-input{
  border: none !important;
  box-shadow: none !important;
  padding: 10px 3px !important
}
.e-file-contactno{
  font-size: 20px;
   margin-bottom: 10px;
   display: flex
}
.e-upload-btn{
  width: 81%;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    line-height: 10px;
    margin: 4px 2px;
    bottom: 0;
    position: absolute;
    left: 40px;
    color: #c7222a;
    transition-duration: .4s;
    background-color: #fff;
    border: 2px solid #c7222a;
    font-size: 20px;
    line-height: 10px;
    border-radius: 7px;
}
.e-upload{
  position: absolute;
  top: 50px;
  left: 40px;
}
@media screen and (max-width: 760px) {
  .e-upload{
    margin: 0px;
    margin-right: 40px;
  }
}
.middle {
  /* display: flex; */
  justify-content: center;
  /* padding: 10px 200px 10px 300px; */
  width: 100%;
  text-align: center;
  /* Made by */
}
/* resposive design */
@media screen and (max-width: 990px) {
  .middle {
    margin: 0px;
  }
}
@media screen and (max-width: 760px) {
  .middle {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .e-upload-h4 {
    position: absolute;
    top: 43px;
    left: 60px;
   }
}


.middle h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}

.middle input[type="radio"] {
  display: none;
  position: relative;
}

.middle input[type="radio"]:checked + .box {
  background-color: #c7222a;
  color: #fff;
}

.middle input[type="radio"]:checked + .box span {
  color: white;
  /* -webkit-transform: translateY(70px);
          transform: translateY(70px); */
}

.middle input[type="radio"]:checked + .box span:before {
  /* -webkit-transform: translateY(0px);
          transform: translateY(0px); */
  opacity: 1;
}

.middle .box {
  width: 450px;
  height: 450px;
  background-color: #fff;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}
@media screen and (max-width: 990px) {
  .middle .box {
    width: 374px;
  }
}
@media screen and (max-width: 760px) {
  .middle .box  {
    width: 105%;
  }
  .app-modal .modal-footer .modal-save-btn {
    margin: 5px !important;
    width: 100%;
  }
}

/* .middle .box:active {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
} */

.middle .box span {
  position: absolute;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
  left: 0;
  right: 0;
  /* -webkit-transition: all 300ms ease;
  transition: all 300ms ease; */
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #272222;
}

.middle .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.e-upload-mobileno{
  width: 100%;
  height: 45px;
  border-radius: 7px;
  font-size: 20px;
}

/* .middle .front-end span:before {
  content: "\f121";
} */

/* .middle .back-end span:before {
  content: "\f0f4";
} */

.middle p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}

.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

/* .middle p span:after {
  content: "\f0e7";
  font-family: FontAwesome;
  color: yellow;
} */
 .e-file-select{
  width: 100%;
  background: #FFF;
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  box-shadow: 0 0 10px #e8e8e8 inset;
  font-weight: 500;
  font-size: 20px;
  border-radius: 7px;
  /* position: absolute;
  top: 126px;
  left: 45px; */
  padding: 10px;
  color: #272222;

}
.e-select-label{
  font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    /* position: relative; */
    width: 100%;
    text-align: initial;
}

/*Editable proposal form end */

/* otp modal css start */
.app-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
}

.app-modal .modal-dialog {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  max-width: 95%;
  transform: translate(-50%, -50%) !important;
}

.model-head-Width {
  width: auto!important;
}

.modal-content {
  border: none;
  border-radius: 0;
}
.app-modal .modal-header {
  background-color: #c7222a;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 12px 30px;
  border: none;
}

.color-change {
  color: #f7a500;
}

.otp-label-style {
  padding-bottom: 10px;
  font-size: 18px;
  padding-left: 10px;
}

.app-modal .add-member-btns .btn {
  width: 100%;
}

.app-modal .add-member-btns {
  display: inline-block;
}

.app-modal .modal-body {
  max-height: calc(100vh - 191px);
  overflow: auto;
  padding: 15px;
}

.app-modal .modal-body p,
.app-modal .modal-body .modal-bind-text,
.app-modal .modal-body .modal-bind-text li {
  font-size: 16px;
  font-family: "PF-Encore-Sans-Pro-Regular";
  line-height: 1.4;
}

.app-modal .modal-hdr-txt {
  font-family: "PF-Handbook-Pro-Regular";
  letter-spacing: 0.2px;
  text-align: left;
  color: #fff;
  font-size: 22px;
  line-height: 1.17;
}

.app-modal .modal-save-btn {
  cursor: pointer;
  color: #fff;
  width: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
  background-color: #c7222a;
  border: transparent;
  padding: 6px 40px;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: .2px;
  text-align: center;
  position: relative;
  pointer-events: auto;
}
.app-modal .modal-submit-btn{
  cursor: pointer;
  color: #fff;
  width: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
  background-color: #c7222a!important;
  border: transparent;
  padding: 6px 40px;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: .2px;
  text-align: center;
  position: relative;
  pointer-events: auto;
  
}
.app-modal .modal-footer .modal-save-btn {
  margin: 0;
}

.app-modal .modal-footer .modal-save-btn:active,
.app-modal .modal-footer .modal-save-btn:focus {
  background: #ccc;
  color: #694743;
  outline: none;
}
.app-input .radio-label-spacing {
  font-family: "PF-Handbook-Pro-Regular";
  font-size: 18px;
  font-weight: 500;
  color: #6c7174;
  padding-left: 10px;
  position: relative;
  top: 1px;
}

.app-modal button.close {
  background-color: #5a5a5a!important;
  color: #fff;
  float: right;
  opacity: 2;
  text-shadow: none;
  font-size: 21px;
  font-weight: 700;
  margin: -13px -30px;
  padding: 8px 11px;
  pointer-events: auto;
}

.app-modal .delete-option {
  border: none;
  background: #c7222a;
  padding: 1px 5px 0 5px;
  border-radius: 2px;
}

.app-modal .delete-option img {
  height: 10px;
}

.app-modal table td,
.app-modal table th {
  border: 0 !important;
}

.app-modal table th label {
  font-size: 16px;
  text-transform: uppercase;
  color: #777;
  font-weight: normal;
}

.app-modal .app-close-modal {
  height: 14px;
  cursor: pointer;
  margin-top: 15px;
}

.app-input>input[type=radio]:checked+label>i.default:before,
.app-input>input[type=checkbox]:checked+label>i.default:before {
  background-color: #c7222a !important;
}

.app-input>input[type=radio]:checked+label>i.default:after,
.app-input>input[type=checkbox]:checked+label>i.default:after {
  border: 1px solid #c7222a !important;
}

.app-input>input[type=radio]:checked+.radio-label-spacing,
.app-input>input[type=checkbox]:checked+.radio-label-spacing {
  color: #c7222a;
}

.app-modal table th,
.app-modal table td {
  vertical-align: middle !important;
}

.app-modal .modal-close-btn {
  height: 12px;
  margin-top: 5px;
}
.app-modal .modal-combo-txt-hcb {
  font-family: "PF-Handbook-Pro-Regular";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #6c7174;
}

.app-modal .open>.dropdown-menu {
  width: 200px;
  min-width: initial;
  position: fixed;
  top: auto;
  left: auto;
  z-index: 100;
}

.app-modal .chk-modal-data {
  padding-top: 10px;
}

.app-modal .earn-mem-bene-lbl-txt {
  padding-top: 5px;
}

.app-modal .modal-footer {
  border: none;
}
/* otp modal css end */