<div class="container-fluid banner">
    <div ng-include="'partials/header.html'"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 pink-bg">Thank You for taking the step towards protecting your
          health with Aditya Birla Health Insurance.</div>
    </div>
 </div>
 <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pre-filled-section-pad">
       <div class="pre-filled-txt">Save your precious time by pre-filling your form.</div>
       <div style="opacity: 0.67;font-size: 22px;padding-bottom: 15px; letter-spacing: 0.3px;color: rgb(49, 49, 49);">
          <!-- I consent and request to retrieve my data from my existing account by clicking here. -->
       </div>
       <div style="opacity: 0.67;font-size: 22px;padding-bottom: 15px; letter-spacing: 0.3px;color: rgb(49, 49, 49);">I
          consent and request to retrieve my data from my existing account by clicking here.</div>
       <div class="row">
          <div class="btn-pad-btm col-lg-6" ng-click="ePQA.clickToPrefill('1')"><a href="javascript:void(0);"
                class="btn pre-filled-btn">Click For Pre-Filled Form</a></div>
          <div class="btn-pad-btm col-lg-6" ng-click="ePQA.clickToPrefill('2')"><a href="javascript:void(0);"
                class="btn pre-filled-btn">Click To Fill The Form Yourself</a></div>
       </div>
       <div class="make-choice-txt">Make the right choice by selecting a partner who cares for your health. From timely
          health check-ups to plan is designed to comprehensively take care of the most important aspect of your life -
          your health.</div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
          <div class="features-txt">Activ Assure Features</div>
          <div class="col-lg-12 col-md-12 col-dm-12 col-xs-12 border-btm-red pad-l-r-0">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 border-right box-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pad-l-r-0"><img class="box-image-pad-top"
                         src="assets/images/new-hili/health_heart _red.png"></div>
                   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 pad-l-r-0">
                      <div class="box-number-txt">150%</div>
                      <div class="reload-sum-insured-txt">Reload of sum Insured*</div>
                   </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="box-sml-txt">Even if your Sum Insured gets exhausted, we will reload your Sum Insured
                      amount by another 150%</div>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 box-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pad-l-r-0"><img class="box-image-pad-top"
                         src="assets/images/new-hili/health_heart _red.png"></div>
                   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 pad-l-r-0">
                      <div class="box-number-txt">586</div>
                      <div class="reload-sum-insured-txt">Day Care Procedures</div>
                   </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="box-sml-txt">We cover you for 586 listed day care procedures even if hospitalization is
                      less than 24 hours</div>
                </div>
             </div>
          </div>
          <div class="col-lg-12 col-md-12 col-dm-12 col-xs-12 pad-l-r-0">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 border-right box-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pad-l-r-0"><img class="box-image-pad-top"
                         src="assets/images/new-hili/health_heart _red.png"></div>
                   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 pad-l-r-0">
                      <div class="box-number-txt">up to 30%</div>
                      <div class="reload-sum-insured-txt">HealthReturns TM</div>
                   </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="box-sml-txt">Earn up to 30% of your premium as HealthReturnsTM</div>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad-l-r-0 box-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pad-l-r-0"><img class="box-image-pad-top"
                         src="assets/images/new-hili/health_heart _red.png"></div>
                   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 pad-l-r-0">
                      <div class="box-number-txt">Discounts</div>
                      <div class="reload-sum-insured-txt">on Premiums</div>
                   </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="box-sml-txt">7.5% - 2 year Policy, 10% - 3 year Policy, 5% - 2-3 member multi individual
                      Policy, 10% - 4 or more members Multi Individual Policy</div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
  -->
 <div class="app-modal modal hilimodelBody" id="alertBoxModal1" role="dialog">
    <div class="modal-dialog hiliModel">
       <div class="modal-content">
          <div class="modal-header modal-hdr"><button type="button" class="close close-class-alert" data-dismiss="modal"
                ng-click="aD.closeModal()"><img src="assets/images/close-white.svg"></button>
             <!-- <div class="modal-hdr-txt" >Aditya Birla Health Insurance </div> -->
             <div style="font-size: 15px;">
                <!-- Being a ABC customer we have your details. --> Here are the details we can fill to save you
                time.<br>Don’t worry! You can edit them during the purchase.</div>
          </div>
          <div class="modal-body">
             <div class="container-fluid">
                <div class="modal-bind-text">
                   <table align="center" border="0" cellpadding="6" cellspacing="0" class="table hilitableView">
                      <tbody class="hilitbody">
                         <!--  <tr>
                                      <td bgcolor="#C5252F" style="font-weight:bold; padding: 3px !important;valign="bottom">Fields</td>
                                      <td bgcolor="#C5252F" style="font-weight:bold; color:#fff;" valign="bottom">Value</td>
                                   </tr> -->
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Name</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.FirstName}} {{ePQA.hiLiData.LastName}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Date Of
                               Birth</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.DOB}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Gender</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.Gender}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Mobile</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.Mobile}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Email</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.Email}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">PinCode</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.PinCode}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">PanNumber
                            </td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.PanNumber}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Address</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.Address1}} {{ePQA.hiLiData.Address2}} {{ePQA.hiLiData.Address3}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Nominee Name
                            </td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.NomineeName}}</td>
                         </tr>
                         <tr>
                            <td align="left" style="font-weight:bold; padding: 3px !important;" valign="top">Nominee
                               number</td>
                            <td align="left" colspan="2" valign="top" style="padding: 3px !important;">
                               {{ePQA.hiLiData.NomineeContactNo}}</td>
                         </tr>
                         <!-- <tr><td bgcolor="#694743" colspan="4" style="color:#fff; font-weight:bold;">I. &nbsp; Basic Covers</td></tr> -->
                      </tbody>
                   </table>
                   <div>
                      <!-- <div>
                                         I understand that the above data has been retrieved from earlier data submitted with Group Company of Aditya Birla Capital. The data has been retrieved basis my specific request. 
                                 </div> --> <input type="checkbox" name="" ng-model="ePQA.consent">By clicking ok
                      button, I’am of my freewill and volition submitting the above information to Aditya Birla Health
                      Insurance Co. Limited for the purpose of making a proposal for Health Insurance. </div>
                </div>
             </div>
          </div>
          <div class="modal-footer">
             <div class="row">
                <div class="container-fluid">
                   <div class="col-xs-12 dis-in text-right"><button
                         class="btn btn-primary modal-save-btn bg-white text-center hilibtmstyle" id="cancelBtn"
                         data-dismiss="modal"
                         ng-click="ePQA.navigateProductPage('0') ; callGtag('click-button','hi-li-page','Submit')">No,
                         fill it myself</button> <button class="btn btn-primary modal-save-btn text-center"
                         ng-click="ePQA.navigateProductPage('1') ;callGtag('click-button','hi-li-page','Okay, To Prefill')"
                         ng-disabled="!ePQA.consent " id="doneBtn" data-dismiss="modal">OK, To Prefill</button></div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="app-modal-backdrop"></div>
 </div>