.pink-bg,
.pre-filled-txt {
    line-height: normal;
    text-align: left;
    font-family: PF-Handbook-Pro-Regular;
    letter-spacing: normal
}

.make-choice-txt,
.pink-bg,
.pre-filled-btn,
.pre-filled-txt {
    font-family: PF-Handbook-Pro-Regular
}

.box-number-txt,
.make-choice-txt,
.pink-bg,
.pre-filled-txt {
    letter-spacing: normal
}

.pad-l-r-0 {
    padding-left: 0;
    padding-right: 0
}

.banner {
    background-color: #938f86;
    background-image: url(../images/new-hili/main-banner-new.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 500px
}

.pink-bg {
    background-color: #ce8782;
    font-size: 30px;
    color: #fff;
    position: absolute;
    margin-top: 7%;
    margin-left: 30px
}

.pre-filled-txt {
    font-size: 43px;
    color: #000;
    padding-bottom: 8px
}

.pre-filled-section-pad {
    padding: 30px 80px
}

.pre-filled-btn {
    width: 309px;
    height: 52px;
    background-color: #c7222a;
    border-radius: 15px;
    font-size: 25px;
    color: #fff;
    padding: 10px 5px
}

.btn-pad-btm {
    padding-bottom: 25px
}

.make-choice-txt {
    font-size: 34px;
    color: #000;
    line-height: 1.2;
    padding-bottom: 30px;
    padding-top: 20px
}

.box-number-txt,
.features-txt {
    font-size: 50px;
    color: #c7222a;
    line-height: normal;
    font-family: PF-Handbook-Pro-Regular
}

.features-txt {
    text-align: center;
    padding-bottom: 30px
}

.box-padding {
    padding: 20px
}

.border-btm-red {
    border-bottom: 2px solid #c7222a
}

.border-right {
    border-right: 2px solid #c7222a
}

.reload-sum-insured-txt {
    font-family: PF-Handbook-Pro-Regular;
    font-size: 22px;
    color: #000
}

.box-image-pad-top {
    padding-top: 10px
}

.box-sml-txt {
    font-family: PFHandbookPro-Regular;
    font-size: 20px;
    color: #000;
    text-align: left;
    padding-top: 20px
}

@media (min-width:992px) and (max-width:1200px) {
    .pink-bg {
        font-size: 27px;
        margin-top: 37%
    }

    .pre-filled-section-pad {
        padding: 30px 40px
    }

    .pre-filled-txt {
        font-size: 35px
    }

    .make-choice-txt {
        font-size: 21px
    }

    .features-txt {
        font-size: 40px
    }

    .box-number-txt {
        font-size: 46px;
        padding-left: 20px
    }

    .box-sml-txt {
        font-size: 18px
    }

    .reload-sum-insured-txt {
        font-size: 19px;
        padding-left: 20px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pink-bg {
        font-size: 33px;
        margin-top: 40%
    }

    .pre-filled-section-pad {
        padding: 30px 40px
    }

    .pre-filled-txt {
        font-size: 30px
    }

    .pre-filled-btn {
        width: 270px;
        font-size: 21px
    }

    .make-choice-txt {
        font-size: 24px
    }

    .features-txt {
        font-size: 40px
    }

    .box-padding {
        padding: 14px
    }

    .box-sml-txt {
        font-size: 16px
    }
}

@media (min-width:320px) and (max-width:767px) {
    .pink-bg {
        font-size: 22px;
        margin-top: 40%;
        left: 0;
        margin-left: 0
    }

    .hilibtmstyle {
        padding: 6px 30px !important
    }

    .hiliModel {
        top: 47% !important
    }

    .pre-filled-section-pad {
        padding: 30px 0
    }

    .banner {
        height: 400px;
        background-image: url(../images/new-hili/Mobile-Banners.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 100%
    }

    .pre-filled-txt {
        font-size: 30px
    }

    .pre-filled-btn {
        width: 100%;
        font-size: 22px
    }

    .make-choice-txt {
        font-size: 23px
    }

    .box-number-txt {
        font-size: 28px
    }

    .features-txt {
        font-size: 40px
    }

    .box-padding {
        padding: 10px 0
    }

    .reload-sum-insured-txt {
        font-size: 16px
    }

    .box-sml-txt {
        font-size: 15px;
        padding-bottom: 10px
    }
}