<!--
    Page: Header Details Directive Template (View)
    Author: Pandurang Sarje
	Date: 20-08-2020
-->

<!-- Directive Template (View) -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-section-pad-lr" style="margin-bottom: 20px; display: flex;" ng-if="locPath != '/new-renewal-landing'">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pad-l-r-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-name-bg pad-l-r-0">
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 pad-l-r-0 ">
                <div class="plan-name-ttl">{{policyDetails.ProductName}}</div>
                <div class="member-count-txt">Members ({{insuredMembers.length}})</div>
                <div class="member-insured-txt">{{FamilyConstructString}}</div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 pad-l-r-0 text-right">
                <div class="activ-up-green-txt" ng-show="showSumInsured">
                    Active: Up For Renewal
                    <!-- Sum Insured {{suminsured | INRALPHA}} -->
                </div>
                <div class="activ-up-green-txt" style="cursor: pointer;" ng-show="!showSumInsured" ng-click="openModal()">Click here to view Sum Insured</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 text-right">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="tenure-txt">Tenure</div>
                        <div class="years-txt">{{policyDetails.Tenure}} <span ng-if="policyDetails.Tenure== '1'">yr</span><span ng-if="policyDetails.Tenure!= '1'">yrs</span></div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pad-l-r-0">
                        <div class="tenure-txt">Active Since</div>
                        <div class="years-txt">{{policyStart | date:'dd MMMM yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-l-r-0 header-premium-section">
        <div class="Premium-row">
            <div class="col-6">
                <div class="row" style="display: flex;">
                    <div>
                        <div>
                            <div class="label">Premium p.a</div>
                            <div class="premium-text">₹ {{policyDetails.RenewalGrossPremium | INRNODEC}} </div>
                            <!-- <div class="pre-btn-container">
                                <a href="javascript:void(0);" ng-click="requestPgURL();gotoPageGAParam('click-button','update quote','renew')" class="premuim-btn Refresh-btn"><img class="path-up" src="assets/images/new-renew/Path-r-up.png"><img class="path-down" src="assets/images/new-renew/Path-r-down.png">Refresh</a>
                            </div> -->
                            <div class="premium-amt-red-txt"></div>
                        </div>
                        <div class="health-return-container">
                            <div ng-show="showHealthReturn" class="headercheckbox">
                                <label class="container-new" style="left: 0;">Use Health Returns of <span class="checkbox-green-txt">₹ {{heathReturnAmt | INRNODEC}}</span>
                                    <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" name="healthreturn" ng-model="applyHealthReturn" ng-change="applyForHealthReturn(applyHealthReturn)">
                                    <span class="checkmark"></span>
                               </label> 
                            </div>
                            <!-- <div class="premium-amt-red-txt"></div> -->
                        </div>
                    </div>
                    <div>
                        <div class="pre-btn-container pre-update-btn get-update-btn" ng-if="showRevert">
                            <a href="javascript:void(0);" ng-click="alertRevert(); gotoPageGAParam('click-button','get quote','renew')" class="premuim-btn"><img src="assets/images/refresh.png"> <span class="update-btn">RESET QUOTE</span></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-6">
                <!-- <div class="pre-btn-container pre-update-btn">
                    <a href="javascript:void(0);" ng-click="requestPgURL();gotoPageGAParam('click-button','update quote','renew')" class="premuim-btn"><img class="path-up" src="assets/images/new-renew/Path-up.png"><img class="path-down" src="assets/images/new-renew/Path-down.png">Update Quote</a>
                </div> -->
                <div class="pre-btn-container pre-update-btn">
                    <a href="javascript:void(0);" ng-click="selectPaymentMode();gotoPageGAParam('click-button','save and renew','renew')" class="premuim-btn">PAY PREMIUM</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Directive Template (View) Ends -->

<!-- View Sum Insured Modal -->
<div class="modal fade" ng-show="showModal" ng-class="{'in':showModal}" ng-if="locPath != '/new-renewal-landing'">
    <div class="modal-dialog remove-user-modal">
        <!-- Modal content-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 modal-content">
            <button type="button" class="close close-grey-bg" ng-click="closeModal()">&times;</button>
            <div class="are-you-sure-ttl">
                Sum Insured of Members
            </div>
            <div class=" col-lg-10 col-xs-12 pad-l-r-0 pad-top-bot-model content" ng-repeat = "members in insuredMembers">
                <div class="col-lg-5 col-xs-6 member-relation">{{members.RelationWithProposer }}</div> <div class="col-lg-5 col-xs-6 member-suminsured">{{members.SumInsured | INRALPHA}}</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                <a href="javascript:void(0);" class="btn cancel-red-bdr-btn" ng-click="closeModal()">Close</a>
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<hr class="header-border">

<!-- <div class="modal fade" id="wranModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-body">
                <h1 class="modal-head" style="padding-top: 40px;">{{displayCount.count}}</h1>
                <div style="box-shadow: none; font-size: 19px;
                padding: 52px 0px; padding-top:10px;">
                    
                        <p>All the changes will revert back, do something</p>
                </div>
            </div>
        </div>
        
</div> -->


<!-- View Sum Insured Modal Ends -->

<!------------------------------ Select Payment Mode Modal ---------------------------------->
<div class="modal fade" ng-show="showPaymentModeModal" ng-class="{'in':showPaymentModeModal}" ng-if="locPath != '/new-renewal-landing'">
    <div class="modal-dialog remove-user-modal dv-selectPayment">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 modal-content">
            <button type="button" class="close close-grey-bg" ng-click="showPaymentModeModal=false">&times;</button>
            <div class="are-you-sure-ttl">
                Select Payment Mode
            </div><br />
            <div class=" col-lg-10 col-xs-12 pad-l-r-0 pad-top-bot-model">
                <div>
                    <!-- <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now via Debit Card or Net Banking and Enrol on Auto Debit Mode for Future Premiums </span>
                        <span class="custom-popover large-tooltip" custom-popover>
                            <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                            <span class="custom-tooltip-text">
                                On selecting 'Pay Now via Debit Card or Net Banking and Enrol on Auto Debit Mode for Future Premiums' the mentioned premium amount will be auto-debited from your bank account via Netbanking/Card at the time of policy renewal. You need to complete an onetime transaction authorization after which all subsequent payments will not require any intervention.
                                <br />
                                Step 1  Enter Your Bank Details To Verify
                                <br />
                                Step 2  Make The Payment
                                <span class="pop-close">×</span>
                            </span>
                            </span>
                        <input name="pgpaymentmode" type="radio" ng-model="pgPaymentMode" value="emandate_normal">
                        <span class="checkmark"></span>
                    </label><br> -->
                    <!-- <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now via Debit Card/Credit Card/Net Banking/UPI </span>
                        <span class="custom-popover large-tooltip usingCC" custom-popover>
                           <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                           <span class="custom-tooltip-text">
                              Pay premium manually every year at the time of renewal
                              <span class="pop-close">×</span>
                           </span>
                        </span>
                        
                        <input name="pgpaymentmode" type="radio" ng-model="pgPaymentMode" value="normal">
                        <span class="checkmark"></span>
                    </label><br> -->
                    <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now and set up Auto Debit</span>
                        <span class="custom-popover large-tooltip usingCC" custom-popover>
                            <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                            <span class="custom-tooltip-text">
                                E-Mandate is a 1-step process to automate recurring payments. This is available via Cards, UPI, NetBanking (only for HDFC bank and ICICI Bank). On selecting this mode, the mentioned premium amount will be auto-debited at the time of policy renewal. This is a one step process.
                                <br />
                                Step 1 --> Make the payment. After the payment, e-Mandate will be registered with your bank. 
                                <span class="pop-close">×</span>
                            </span>
                        </span>
                        <!-- <span class="lbl-txt">Make payment using Credit Card/Debit Card/Netbanking/UPI</span> -->
                        <input name="pgpaymentmode" type="radio" ng-model="payMode.mode" value="JP_ emandate">
                        <span class="checkmark"></span>
                    </label><br>
                    <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now and set up e-Nach</span>
                        <span class="custom-popover large-tooltip usingCC" custom-popover>
                            <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                            <span class="custom-tooltip-text">
                                E-Nach is a completely safe and secure 2-step process to automate recurring payments which is governed by NPCI. On selecting this mode, the mentioned premium amount will be auto-debited from your bank account via NetBanking/Debit Card at the time of policy renewal. You need to complete one-time registration after which all subsequent payments will not require any intervention.
                                <br />
                                Step 1 --> Make the payment
                                <br />
                                Step 2 --> e-Nach registration
                                <span class="pop-close">×</span>
                            </span>
                        </span>
                        <!-- <span class="lbl-txt">Make payment using Credit Card/Debit Card/Netbanking/UPI</span> -->
                        <input name="pgpaymentmode" type="radio" ng-model="payMode.mode" value="JP_Enach">
                        <span class="checkmark"></span>
                    </label><br>
                    <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now</span>
                        <span class="custom-popover large-tooltip usingCC" custom-popover>
                            <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                            <span class="custom-tooltip-text">
                                Pay premium manually every year at the time of renewal.
                                <span class="pop-close">×</span>
                            </span>
                        </span>
                        <!-- <span class="lbl-txt">Make payment using Credit Card/Debit Card/Netbanking/UPI</span> -->
                        <input name="pgpaymentmode" type="radio" ng-model="payMode.mode" value="JP_normal">
                        <span class="checkmark"></span>
                    </label>
                    <!-- <label ng-show="showThirdTenureVal" class="radio-btn tenure-radio">
                        <span class="lbl-txt">Standing Instructions on credit card</span>
                        <input name="pgpaymentmode" type="radio" ng-model="pgPaymentMode" value="cards">
                        <span class="checkmark"></span>
                    </label> -->
                    <!--TANDC -->
                    <div class="col-md-12 pad-l-r-0 ">
                        <hr class="last-btn-width hr-bold">
                    </div>
                        <div class="row get-quote-whatsapp mr-0 containertac" ng-if="(payMode.mode == 'JP_ emandate' || payMode.mode == 'JP_Enach')">
                            <div class="col-lg-8 col-sm-8 col-md-11 col-xs-12 pr-0">
										<label class="whatsapp-label" for="checkWhatsapp">
                                 <input type="checkbox" id="checkWhatsapp" ng-change="radioChecked()" ng-model="dLC.tcAgreed"/>
                                 <span class="checkmark"></span> <span class="align-text"> I agree with the
                                 <a href="/#!/juspay-TnC" target="_blank">T&amp;C</a></span>
										</label>
                            </div>
								
                            <span class="error" ng-if="!dLC.tcAgreed">
                                *Kindly click on T&C to proceed further.
                            </span>
                        </div>
                     <!-- END -->
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                <a href="javascript:void(0);" class="btn cancel-red-bdr-btn"
                    ng-click="showPaymentModeModal=false;requestPgURL();">Proceed To Payment</a>
            </div>
        </div>
    </div>
</div>
<!------------------------------ End of Select Payment Mode Modal ---------------------------------->