<!--
    Page: Part Payment Landing
	Author: Anirudha Bhatkar 
    Date: 18-05-2022
-->

<div class="container-fluid view-member-landing pad-l-r-0">
        <!-- Desktop View -->
        <div class="col-lg-12 col-md-12 col-sm-12 renewal-level-main">
                <div class="col-lg-7 col-md-12 col-xs-12 renewal-level-left-section">
                        <h2 class="select-policy-txt">Select the Policy you would like to do Payment</h2>

                        <div ng-hide="selectedPolicyDetails.ProductName == 'Activ Secure'"
                                class="select-policy-sub-txt">Once
                                selected, you can change further details on the right hand side</div>
                        <div class="active-secure-block col-lg-12 col-md-12 col-sm-12 p-0"
                                ng-repeat=" policy in policyArr">
                                <div class="active-secure-heading clearfix">
                                        <div class="active-secure-head-big-text pull-left">
                                                {{policy.ProductName}}
                                                <label class="active-secure-head-small-text">
                                                        {{policy.PolicyNumber}}
                                                </label>
                                        </div>
                                        <div class="pull-right checkbox-action-block policy-main-land-label ">
                                                <input type="radio" class="policy-CheckBox"
                                                        ng-class="{ 'selectedCheckBox' : {{policySelected}} == {{policy.PolicyNumber}} }"
                                                        ng-model="policySelected" value="{{policy.PolicyNumber}}"
                                                        id="myCheckbox{{$index}}" />
                                                <label for="myCheckbox{{$index}}"
                                                        ng-click="selectPolicy(policy , $index)"></label>
                                        </div>
                                </div>
                                <div class="active-secure-body col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                                <div class="active-secure-title">Proposer Name </div>
                                                <div class="active-secure-data mb-6">{{policy.Customername}}</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                                                <div class="active-secure-title">Mobile Numbr</div>
                                                <div class="active-secure-data mb-1" >{{mobileMasking(policy.MobileNo)}}</div>
                                        </div>
                                </div>
                        </div>


                        <div class="pad-l-r-0">
                                <a href="javascript:void(0);" ng-disabled="disablePay"
                                    ng-click="selectPaymentMode(); gotoPageGAParam('click-button','save and part-payment','part-payment')"
                                    class="btn pay-premium-button"
                                    id="btnPremium01">
                                    Pay Premium <span>₹
                                        {{Policies.amt | INR}}</span><img style="float: right;" src="assets/images/new-renew/right-white-arrow.svg">
                                </a>
                        </div>
                </div>

        </div>
</div>

<!------------------------------ Select Payment Mode Modal ---------------------------------->
<div class="modal fade" ng-show="showPaymentModeModal" ng-class="{'in':showPaymentModeModal}">
    <div class="modal-dialog remove-user-modal dv-selectPayment">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0 modal-content">
            <button type="button" class="close close-grey-bg" ng-click="showPaymentModeModal=false">&times;</button>
            <div class="are-you-sure-ttl">
                Select Payment Mode
            </div><br />
            <div class=" col-lg-10 col-xs-12 pad-l-r-0 pad-top-bot-model">
                <div>
                    <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now via Debit Card or Net Banking and Enrol on <span
                                class="active">A</span>uto <span class="active">D</span>ebit <span
                                class="active">M</span>ode for <span class="active">F</span>uture <span
                                class="active">P</span>remiums </span>
                        <!-- <span class="lbl-txt">Auto Payments through Netbanking/Cards</span> -->
                        <span class="custom-popover large-tooltip" custom-popover>
                            <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                            <span class="custom-tooltip-text">
                                On selecting 'Pay Now via Debit Card or Net Banking and Enrol on <span
                                    class="active">A</span>uto <span class="active">D</span>ebit <span
                                    class="active">M</span>ode for <span class="active">F</span>uture <span
                                    class="active">P</span>remiums' the mentioned premium amount will be auto-debited
                                from your bank account via Netbanking/Card at the time of policy renewal. You need to
                                complete an onetime transaction authorization after which all subsequent payments will
                                not require any intervention.
                                <br />
                                Step 1 --> Enter Your Bank Details To Verify
                                <br />
                                Step 2 --> Make The Payment
                                <span class="pop-close">×</span>
                            </span>
                        </span>
                        <input name="pgpaymentmode" type="radio" ng-model="pgPaymentMode" value="emandate_normal">
                        <span class="checkmark"></span>
                    </label><br>
                    <label class="radio-btn tenure-radio">
                        <span class="lbl-txt">Pay Now via Debit Card/Credit Card/Net Banking/UPI </span>
                        <span class="custom-popover large-tooltip usingCC" custom-popover>
                            <img class="img-responsive question-tooltip-img" src="assets/images/tooltip.png">
                            <span class="custom-tooltip-text">
                                Pay premium manually every year at the time of renewal
                                <span class="pop-close">×</span>
                            </span>
                        </span>
                        <!-- <span class="lbl-txt">Make payment using Credit Card/Debit Card/Netbanking/UPI</span> -->
                        <input name="pgpaymentmode" type="radio" ng-model="pgPaymentMode" value="normal">
                        <span class="checkmark"></span>
                    </label>
                    
                    <!-- <label ng-show="showThirdTenureVal" class="radio-btn tenure-radio">
                        <span class="lbl-txt">Standing Instructions on credit card</span>
                        <input name="pgpaymentmode" type="radio" ng-model="pgPaymentMode" value="cards">
                        <span class="checkmark"></span>
                    </label> -->
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-l-r-0">
                <a href="javascript:void(0);" class="btn cancel-red-bdr-btn"
                    ng-click="pay();">Proceed To Payment</a>
            </div>
        </div>
    </div>
</div>
<!------------------------------ End of Select Payment Mode Modal ---------------------------------->