<div ng-if="cP.profile.noProfileData" class="tab-content customer-profile">
    <div class="row cont-pad">
        {{cP.profile.noProfileMessage}}
    </div>
</div>

<div ng-if="!cP.profile.noProfileData" class="container">
    <div class="tab-content customer-profile">
        <div class="tab-pane active" role="tabpanel" id="step1">
            <div id="proposal-tab-main1">
                <div class="horizontal-pad pad-top-25">
                    <div class="row">
                        <div class="form-heading col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-btm-25 pad-btm-14">
                            <span class="main-header-text1"> Customer profile</span>
                        </div>
                    </div>
                </div>
                <div id="customer-profile-details">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-background pad-l-r-0">
                        <div class="cont-pa">
                            <div class="form-heading pad-btm-25 pad-btm-14">&nbsp; </div>
                        </div>
                        <div class="horizontal-pad">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-btm-25">
                                    <div class="form-heading pad-btm-25 pad-btm-14">Policy Details </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 name-text-width pad-btm-25">
                                            <div class="label-text-gst form-lbl">Policy Name </div>
                                            <div class="">{{cP.cpDetails.Product}}</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12 pad-btm-25">
                                            <div class="label-text-gst form-lbl">Policy Number </div>
                                            <div class="">{{cP.cpDetails.PolicyNumber}}</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-xs-12 pad-btm-25">
                                            <div class="label-text-gst form-lbl">Proposer Name </div>
                                            <div class="">{{cP.cpDetails.ProposerName}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="horizontal-pad text-center">
                            <hr class="horizontal-width">
                        </div>
                        <div class="horizontal-pad">

                            <div class="form-heading pad-btm-25 pad-btm-14">Update Contact Details </div>
                            <form name="customerDetails" novalidate>
                                <!--Mobile Number-->
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-12 name-text-width pad-btm-25">
                                        <b> Mobile Number</b>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 name-text-width pad-btm-25">
                                        <div class="pad-btm-25">{{cP.cpDetails.MobileNumber}}</div>

                                        <!-- <div ng-if="cP.profile.enableMobile">
                                            <div class="form-lbl">
                                                Enter new mobile number <span class="requiredFieldStyle">*</span>
                                            </div>
                                            <div class="form-with-edit-icon">
                                                <input type="text" autocomplete="nope"
                                                    class="form-control input-text-box" name="mobile"
                                                    ng-model="cP.profile.mobile" placeholder="Enter Customer Contact"
                                                    valid-number maxlength="10" minlength="10"
                                                    ng-disabled="cP.profile.enterMobileOTP" ng-pattern="/^[6789]\d{9}$/"
                                                    required>
                                            </div>
                                            <div class="redColorClass" ng-if="customerDetails.mobile.$error.pattern">
                                                Please enter valid customer mobile no.
                                            </div>
                                            <div class="redColorClass"
                                                ng-if="customerDetails.mobile.$touched && customerDetails.mobile.$error.required">
                                                Please enter customer mobile no.
                                            </div>

                                        </div> -->

                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12 name-text-width pad-btm-25">
                                        <!-- <div class="pad-btm-25">&nbsp;</div>
                                        <div ng-if="cP.profile.enterMobileOTP">
                                            <div class="form-lbl">
                                                Enter OTP <span class="requiredFieldStyle">*</span>
                                            </div>
                                            <div>
                                                <input autocomplete="nope" type="text"
                                                    class="form-control input-text-box" name="otpValue"
                                                    ng-model="cP.profile.otpValue" placeholder="Please Enter OTP"
                                                    maxlength="6" minlength="6" required>

                                                <div class="text-danger font-weight-bold"
                                                    ng-if="customerDetails.otpValue.$dirty && customerDetails.otpValue.$error.required">
                                                    Please enter correct OTP.</div>
                                                <div class="text-danger font-weight-bold"
                                                    ng-if='customerDetails.otpValue.$dirty && customerDetails.otpValue.$error.minlength'>
                                                    Please enter otp of 6 digit length.</div>

                                            </div>
                                        </div> -->


                                    </div>
                                    <div class="col-lg-3 col-md-2 col-xs-12 name-text-width pad-btm-25">

                                        <div class="">
                                            <button ng-if="!cP.profile.enableMobile" type="button"
                                                ng-click="cP.toggleConfigs(customerDetails, 'mobile')"
                                                class="btn btn-primary save-btn">Update
                                        </div>


                                    </div>
                                </div>

                                <!--second row for new adjecement button-->
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-12 name-text-width ">
                                        <!-- <b> NNNOO</b> -->
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-8 name-text-width ">
                                        <!-- <div class="">NOO</div> -->

                                        <div ng-if="cP.profile.enableMobile">
                                            <div class="form-lbl">
                                                Enter new mobile number <span class="requiredFieldStyle">*</span>
                                            </div>
                                            <div class="form-with-edit-icon">
                                                <input type="text" autocomplete="nope"
                                                    class="form-control input-text-box" name="mobile"
                                                    ng-model="cP.profile.mobile" placeholder="Enter Customer Contact"
                                                    valid-number maxlength="10" minlength="10"
                                                    ng-disabled="cP.profile.enterMobileOTP" ng-pattern="/^[6789]\d{9}$/"
                                                    required>
                                            </div>
                                            <div class="redColorClass" ng-if="customerDetails.mobile.$error.pattern">
                                                Please enter valid customer mobile no.
                                            </div>
                                            <div class="redColorClass"
                                                ng-if="customerDetails.mobile.$touched && customerDetails.mobile.$error.required">
                                                Please enter customer mobile no.
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-8 name-text-width ">
                                        <!-- <div class="pad-btm-25">&nbsp;</div> -->
                                        <div ng-if="cP.profile.enterMobileOTP">
                                            <div class="form-lbl">
                                                Enter OTP <span class="requiredFieldStyle">*</span>
                                            </div>
                                            <div>
                                                <input autocomplete="nope" type="text"
                                                    class="form-control input-text-box" name="otpValue"
                                                    ng-model="cP.profile.otpValue" placeholder="Please Enter OTP"
                                                    maxlength="6" minlength="6" required
                                                    ng-disabled="cP.profile.enableSubmit">

                                                <div class="text-danger font-weight-bold"
                                                    ng-if="customerDetails.otpValue.$dirty && customerDetails.otpValue.$error.required">
                                                    Please enter correct OTP.</div>
                                                <div class="text-danger font-weight-bold"
                                                    ng-if='customerDetails.otpValue.$dirty && customerDetails.otpValue.$error.minlength'>
                                                    Please enter otp of 6 digit length.</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 name-text-width postion-button">
                                        <div ng-if="cP.profile.enableMobile && !cP.profile.enterMobileOTP"
                                            class=" float-left">
                                            <button  ng-disabled="customerDetails.mobile.$error.required || customerDetails.mobile.$error.pattern" type="button" ng-click="cP.sendOTP(customerDetails, 'mobile')"
                                                class="btn btn-primary save-btn">Update
                                        </div>

                                        <div ng-if="cP.profile.enterMobileOTP && !cP.profile.enableSubmit"
                                            class=" float-left">
                                            <button ng-disabled="customerDetails.otpValue.$error.required || customerDetails.otpValue.$error.minlength" type="button" ng-click="cP.verifyOTP(customerDetails, 'mobile')"
                                                class="btn btn-primary save-btn">Verify OTP
                                        </div>

                                        <div ng-if="cP.profile.enableSubmit" class=" float-left">
                                            <button type="button"
                                                ng-click="cP.submitCustomerDetails(customerDetails, 'mobile')"
                                                class="btn btn-primary save-btn">Submit
                                        </div>

                                        <div ng-if="cP.profile.enableMobile" class="float-right">
                                            <button type="button"
                                                ng-click="cP.toggleConfigs(customerDetails, 'mobile', true)"
                                                class="btn btn-primary save-btn">Cancel
                                        </div>
                                    </div>
                                </div>

                                <!--Mobile Number verify message-->
                                <div ng-if="cP.profile.enableMobile" class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-12 pad-btm-25">&nbsp;</div>
                                    <div class="font-weight-bold col-lg-6 col-md-6 col-xs-12 pad-btm-25">
                                        <br>
                                        <div>{{cP.profile.requestOTPMessage}}</div>
                                        <div> {{cP.profile.verifyOTPMessage}} </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 pad-btm-25">&nbsp;</div>
                                </div>


                                <!--EMAIl Number-->
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-12 name-text-width pad-btm-25">
                                        <b> Email ID</b>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 name-text-width pad-btm-25">
                                        <div class="pad-btm-25">{{cP.cpDetails.EmailID}}</div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-12 name-text-width pad-btm-25">
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-xs-12 name-text-width pad-btm-25">
                                        <div class="">
                                            <button ng-if="!cP.profile.enableEmail" type="button"
                                                ng-click="cP.toggleConfigs(customerDetails, 'email')"
                                                class="btn btn-primary save-btn">Update
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-12 name-text-width pad-btm-25">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-8 name-text-width pad-btm-25">
                                        <div ng-if="cP.profile.enableEmail">
                                            <div class="form-lbl">
                                                Enter new Email ID <span class="requiredFieldStyle">*</span>
                                            </div>

                                            <div>
                                                <input type="email" id="proposeremailID"
                                                    class="form-control input-text-box" name="proposerEmail"
                                                    ng-model="cP.profile.email" required
                                                    ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                                                    placeholder="abc@gmail.com" ng-disabled="cP.profile.enterEmailOTP">
                                            </div>
                                            <div class="redColorClass"
                                                ng-if="customerDetails.proposerEmail.$touched &&  customerDetails.proposerEmail.$error.required">
                                                Please enter email
                                            </div>
                                            <div class="redColorClass"
                                                ng-if="customerDetails.proposerEmail.$error.pattern">
                                                Please enter valid email
                                            </div>


                                        </div>

                                    </div>
                                    <div class="col-lg-2 col-md-2 col-xs-8 name-text-width pad-btm-25">

                                        <div ng-if="cP.profile.enterEmailOTP">
                                            <div class="form-lbl">
                                                Enter OTP <span class="requiredFieldStyle">*</span>
                                            </div>
                                            <div>
                                                <input autocomplete="nope" type="text"
                                                    class="form-control input-text-box" name="otpValue"
                                                    ng-model="cP.profile.otpValue" placeholder="Please Enter OTP"
                                                    maxlength="6" minlength="6" required
                                                    ng-disabled="cP.profile.enableSubmitEmail">

                                                <div class="text-danger font-weight-bold"
                                                    ng-if="customerDetails.otpValue.$dirty && customerDetails.otpValue.$error.required">
                                                    Please enter correct OTP.</div>
                                                <div class="text-danger font-weight-bold"
                                                    ng-if='customerDetails.otpValue.$dirty && customerDetails.otpValue.$error.minlength'>
                                                    Please enter otp of 6 digit length.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-xs-6 name-text-width  postion-button">


                                        <div ng-if="cP.profile.enableEmail && !cP.profile.enterEmailOTP"
                                            class="float-left">
                                            <button ng-disabled="customerDetails.proposerEmail.$error.required || customerDetails.proposerEmail.$error.pattern" type="button" ng-click="cP.sendOTP(customerDetails, 'email')"
                                                class="btn btn-primary save-btn">Update
                                        </div>


                                        <div ng-if="cP.profile.enterEmailOTP && !cP.profile.enableSubmitEmail"
                                            class=" float-left">
                                            <button ng-disabled="customerDetails.otpValue.$error.required || customerDetails.otpValue.$error.minlength" type="button" ng-click="cP.verifyOTP(customerDetails, 'email')"
                                                class="btn btn-primary save-btn">Verify OTP
                                        </div>

                                        <div ng-if="cP.profile.enableSubmitEmail" class=" float-left">
                                            <button type="button"
                                                ng-click="cP.submitCustomerDetails(customerDetails, 'email')"
                                                class="btn btn-primary save-btn">Submit
                                        </div>

                                        <div ng-if="cP.profile.enableEmail" class="float-right">
                                            <button type="button"
                                                ng-click="cP.toggleConfigs(customerDetails, 'email', true)"
                                                class="btn btn-primary save-btn">Cancel
                                        </div>
                                    </div>
                                </div>

                                <!--EMAIl Number verify message-->
                                <div ng-if="cP.profile.enableEmail" class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-12 pad-btm-25">&nbsp;</div>
                                    <div class="font-weight-bold col-lg-6 col-md-6 col-xs-12 pad-btm-25">
                                        <div>{{cP.profile.requestOTPMessage}}</div>
                                        <div> {{cP.profile.verifyOTPMessage}} </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 pad-btm-25">&nbsp;</div>
                                </div>


                                <!-- CTAAA-->
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 pad-btm-25">&nbsp;</div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 pad-btm-25">
                                        <button type="button" ng-click="cP.submitDetailsWithNoChanges(customerDetails)"
                                            class="btn btn-primary save-btn">I do not want to update
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 pad-btm-25">&nbsp;</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row cont-pad">
        <div class="col-md-12"><span class="main-header-text1">&nbsp;</span>
        </div>
    </div>
</div>