.brand-dropdown,
.btn-drop-down-width,
.dropdown-menu {
    width: 100%
}

.brand-dropdown.grey,
.dropdown-menu li a,
.dropdown-placeholder-txt,
.main-header-text1 {
    font-family: PF-Handbook-Pro-Regular
}

.form-lbl,
.input-text-box {
    font-style: normal;
    font-stretch: normal
}

.dropdown-menu,
.name-text-width .input-text-box {
    min-width: 100%
}

.switch,
.wizard .nav-tabs,
.wizard .tab-pane,
.wizard>div.wizard-inner {
    position: relative
}

body {
    background-color: #f1f3f6
}

.brand-dropdown.grey,
.btn-default.active,
.btn-default:active:focus,
.btn-drop-down-width:focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
ul.mailtip {
    background-color: #fff
}

.requiredFieldStyle {
    color: red
}

.cont-pad {
    padding-top: 21.5px !important;
    padding: 0 50px
}

.main-header-text1 {
    height: 30px;
    font-size: 30px;
    text-align: left;
    color: #000
}

.dis-in {
    display: inline-block
}

.pancardtensform {
    text-transform: uppercase
}

.pad-btm-25 {
    padding-bottom: 25.5px
}

.btn.dropdown-toggle.focus,
.btn.dropdown-toggle:active,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:visited {
    outline: 0
}

.dropdown-toggle.brand-dropdown .caret {
    float: right;
    margin-top: 8px;
    color: #C7222A
}

.breadcrumb-cust li a {
    -webkit-user-drag: none
}

.brand-dropdown.grey {
    border: 1px solid #cecece;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    width: 100%
}

.dropdown-menu li a {
    font-size: 17px
}

.btn-drop-down-width {
    text-align: left;
    height: 44px
}

.btn-default:active,
.btn-default:hover {
    color: #fff;
    background-color: #fff;
    border-color: #6c7174
}

.btn-drop-down-width:focus {
    box-shadow: 0 0 6px 0 #cdcece;
    border: 1px solid #6c7174
}

.dropdown-placeholder-txt {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000
}

ul.mailtip {
    zoom: 1;
    list-style: none;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: left;
    font: 700 13px/1.5 Consolas, "Liberation Mono", Menlo, Courier, monospace, sans-serif
}

.btn.qq-save-btn,
.form-heading,
.input-text-box,
.yes-no-btn .yes-no-btn-txt {
    font-family: PF-Handbook-Pro-Regular
}

ul.mailtip:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

ul.mailtip li p {
    height: 28px;
    text-align: inherit;
    line-height: 28px;
    cursor: pointer;
    margin: 0 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

ul.mailtip li.active {
    color: #eb7350;
    background: #eaeaea
}

ul.mailtip li.hover {
    background: #e7f6ff
}

.redColorClass {
    color: #c7222a
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.btn.dropdown-toggle:focus {
    outline: 0 !important
}

input:checked+.slider {
    background-color: #f85e66
}

input:checked+.slider:before {
    background-color: #c7222a;
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px)
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3
}

.form-control:focus {
    outline: 0
}

.input-text-box {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    height: 44px;
    border-radius: 4px !important;
    background-color: #fff;
    border: 1px solid #cdcece;
    color: #000;
    box-shadow: none
}

.input-text-box:focus {
    box-shadow: 0 0 6px 0 #cdcece;
    border: 1px solid #6c7174
}

.placeholder-searchtext {
    border: 1px solid #cdcece;
    color: #000;
    box-shadow: none;
    border-left: 0 !important;
    padding-left: 0
}

.name-txt-padding,
.pad-l-r-5 {
    padding-left: 5px;
    padding-right: 5px
}

.input-group .input-text-box:focus {
    border: 1px solid #cdcece;
    box-shadow: none
}

input[type=checkbox]:checked+label {
    color: #c7222a
}

input[type=checkbox] {
    border: 0;
    width: 15%;
    margin-left: -30px !important;
    height: 2em;
    font-size: 20px
}

.annual-income-rs-sym-txt,
.btn.qq-save-btn {
    font-size: 16px;
    letter-spacing: .2px;
    text-align: left
}

input[type=checkbox] {
    margin-left: -18px !important;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: 0;
    vertical-align: middle;
    margin-top: -5px
}

input[type=checkbox]:checked {
    border-color: #c7222a
}

input[type=checkbox]:focus {
    outline: 0
}

input[type=checkbox]:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%
}

input[type=checkbox]:checked:before {
    background: #d9534f !important;
    width: 68%;
    height: 68%;
    margin-left: 3px;
    margin-top: 2.8px
}

.btn.qq-save-btn {
    color: #fff;
    width: 180px;
    height: 40px;
    border-radius: 2px;
    background-color: #694743;
    border: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    margin-bottom: 20px
}

.btn.qq-save-btn:focus,
.btn.qq-save-btn:hover {
    outline: 0;
    color: #fff;
    background-color: #694743
}

.btn.qq-save-btn img {
    float: right;
    height: 50%;
    position: relative;
    top: 4px
}

.label-text-gst {
    opacity: 1 !important
}

.name-text-width .input-group {
    width: 100%
}

.pad-r-5 {
    padding-right: 5px
}

.dob-text-width .input-group {
    width: 25% !important
}

.dob-text-width .input-text-box {
    min-width: auto !important;
    padding-right: 5px;
    border-radius: 3px
}

.annual-income-rs-sym-txt {
    font-weight: 700;
    color: #666;
    background-color: #fff
}

.pad-btm-50 {
    padding-bottom: 50px
}

@media (max-width:767px) {
    .main-header-text1 {
        font-size: 21px
    }
}

.assigene-details .question-sec {
    font-size: 20px;
    opacity: 1
}

.switch {
    display: inline-block;
    width: 38px;
    height: 15.5px;
    vertical-align: text-bottom;
    margin-bottom: -8px
}

.switch input {
    display: none
}

.yes-no-btn {
    border: 1px solid #6a4742;
    padding: 3px 30px;
    border-radius: 2px 0 0 2px
}

.yes-no-btn.selected {
    background: #6a4742
}

.yes-no-btn.selected .yes-no-btn-txt {
    color: #fff
}

.yes-no-btn.no-answer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px
}

.yes-no-btn.yes-answer {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.yes-no-btn .yes-no-btn-txt {
    color: #6a4742;
    letter-spacing: .2px;
    text-align: left;
    font-weight: 700;
    font-size: 16px
}

.yes-no-float {
    float: right
}

.assignee-text {
    padding-top: 10px;
    padding-left: 0
}

.wizard {
    background: #fff
}

.nav-tabs>li>a {
    margin-right: 0;
    border: 0 !important
}

.wizard .nav-tabs {
    margin: 0 auto;
    border-bottom: 0
}

.nav>li>a:hover {
    background-color: transparent;
    transition: none !important;
    border: none
}

.tab-content,
.wizard .tab-pane,
.wizard>div.wizard-inner {
    background-color: #f1f3f6
}

.nav-tabs>li>a:hover {
    border: none !important;
    transition: none !important
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:focus,
.wizard .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
    background-color: #f1f3f6
}

.wizard .nav-tabs>li {
    width: 25%
}

.wizard .tab-pane {
    padding-top: 10px
}

.wizard h3 {
    margin-top: 0
}

.nav-tabs>li.active>a {
    border: none
}

.tab-pad-left {
    padding-left: 100px;
    padding-top: 17.5px
}

.nav>li.disabled>a {
    opacity: .3
}

.adhr-no .input-text-box {
    min-width: 180px
}

.dob-pad .pad-left-15 {
    padding-left: 15px
}

.form-background {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, .14)
}

.form-top-left-pad {
    padding-top: 38px;
    padding-left: 31.5px;
    padding-right: 31.5px
}

.btn-pad-l-r-0,
.pad-l-r-0,
.pad-r-0 {
    padding-right: 0 !important
}

.form-heading {
    font-size: 20.5px;
    font-weight: 700;
    text-align: left;
    color: #585858
}

.form-lbl,
.select-cover-dropdown-txt {
    font-family: PF-Handbook-Pro-Regular;
    text-align: left;
    color: #000
}

.form-lbl {
    opacity: .7;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    padding-bottom: 5px
}

.btn-pad-l-r-0,
.pad-l-r-0 {
    padding-left: 0 !important
}

form .errormsg {
    display: none;
    padding-top: 5px;
    padding-left: 5px
}

form.form-errors .errormsg {
    display: block
}

.horizontal-pad {
    padding-left: 31.5px;
    padding-right: 31.5px
}

.horizontal-width {
    width: 100%;
    border: .5px solid rgba(0, 0, 0, .12);
    margin-top: 0 !important
}

.select-cover-dropdown-txt {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: .2px;
    float: left
}

.insured-dob .pad-r-5 {
    padding-right: 10px
}

.pad-left-15 {
    padding-left: 15px;
    padding-right: 0
}

.pad-left-0,
.pin-code-pad-l {
    padding-left: 0
}

.pad-btm-30 {
    padding-bottom: 30px
}

.pad-btm-40 {
    padding-bottom: 40px
}

.pad-right-11 {
    padding-right: 11px
}

.btn-padding-top {
    padding-top: 34px
}

.btn-background-clr {
    background-color: #f1f3f6
}

a:focus,
a:hover {
    outline: 0;
    text-decoration: none
}

.annual-income-input-txt .input-text-box {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

@media (min-width:992px) and (max-width:1200px) {
    .adhr-no .input-text-box {
        min-width: 143px
    }

    .sm-desk-pad-l-15 {
        padding-left: 15px !important
    }

    .nav-tabs>li>a {
        padding: 10px 13px
    }

    .wizard .nav-tabs>li {
        margin-right: 0
    }

    .tab-pad-left {
        padding-left: 60px
    }

    .form-lbl {
        font-size: 13px
    }

    .dob-pad .pad-left-15 {
        padding-left: 0
    }
}

@media (min-width:768px) and (max-width:991px) {
    .date-tab-pad-l-0 {
        padding-left: 0 !important
    }

    .city-tab-pad-r-15 {
        padding-right: 0 !important
    }

    .annual-income-input-txt .input-text-box {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important
    }

    .cont-pad {
        padding: 0 21px
    }

    .wizard .nav-tabs>li {
        width: 25%
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .wizard .tab-pane {
        padding-top: 10px
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .pad-l-r-0 {
        padding-right: 12px !important;
        padding-left: 12px !important
    }

    .horizontal-pad {
        padding-right: 31.5px;
        padding-left: 31.5px
    }

    .input-group {
        min-width: 100%
    }

    .pad-left-15 {
        padding-left: 0;
        padding-bottom: 15px
    }

    .name-txt-padding {
        padding-left: 15px;
        padding-right: 15px
    }

    .tab-pad-left {
        padding-left: 70px
    }

    .tab-pad-l-r-0 {
        padding-left: 0;
        padding-right: 0
    }

    .wizard .nav-tabs li a {
        text-align: center;
        margin-left: -50px
    }
}

@media (min-width:600px) and (max-width:768px) {
    .input-text-box {
        max-width: 100% !important
    }
}

@media (min-width:335px) and (max-width:580px) {
    .tab-pad-left {
        padding-left: 20px !important
    }
}

@media (min-width:581px) and (max-width:767px) {

    .adhr-no .input-text-box,
    .input-group {
        min-width: 100%
    }

    .pad-btm-25,
    .pad-btm-50 {
        padding-bottom: 0
    }

    .textbox-bg-pad,
    .wizard {
        width: 100%
    }

    .annual-income-input-txt .input-text-box {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important
    }

    .prem-small-txt {
        font-size: 20px
    }

    .tool-tip-img {
        position: absolute;
        top: -5px;
        right: -17px
    }

    .tooltip-top {
        margin-left: 0
    }

    .pad-l-r-0 {
        padding-right: 12px !important;
        padding-left: 12px !important
    }

    .form-top-left-pad,
    .horizontal-pad {
        padding-left: 9px;
        padding-right: 9px
    }

    .form-top-left-pad {
        padding-top: 22.5px
    }

    .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 5px
    }

    .pad-l-r-5 {
        padding-right: 15px;
        padding-left: 15px
    }

    .mob-pad-l-r-0 {
        padding-right: 0;
        padding-left: 0
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .cont-pad {
        padding: 0
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .tab-pad-left {
        padding-left: 45px
    }

    .form-background {
        padding-bottom: 40px
    }

    .pre-pad {
        padding-right: 18.5px
    }

    .name-txt-padding,
    .pad-right-11 {
        padding-right: 15px
    }

    .pad-r-5 {
        padding-left: 5px
    }

    .pad-left-15 {
        padding-left: 0;
        padding-bottom: 15px
    }

    .btn.qq-save-btn {
        font-size: 15px
    }

    .wizard .tab-pane {
        padding-top: 0
    }

    .form-heading {
        color: #818181;
        font-size: 24px
    }

    .name-txt-padding {
        padding-left: 15px
    }

    .pad-left-7 {
        padding-left: 7.5px
    }

    .dob-pad .pad-left-15 {
        padding-left: 0
    }

    .any-claim-pad-btm {
        padding-bottom: 20px
    }

    .any-claim-bck-bdr-pad-mob {
        padding-top: 30px
    }

    .health-relative-add-more-top-pad {
        margin-top: 15px
    }

    .otp-recv-btn,
    .send-otp-btn {
        float: right
    }

    .pad-btm-25-mobile {
        padding-bottom: 25px
    }

    .dob-row-pad-btm .pad-btm-20 {
        padding-bottom: 0 !important
    }

    .mob-pad-l-r-5 {
        padding-left: 5px;
        padding-right: 5px
    }

    .tracker-pad-l-top {
        padding-left: 29px;
        padding-top: 7px
    }

    .health-pre-exist-pad-l-r {
        padding-left: 0;
        padding-right: 0
    }

    .chronic-disease-blck-txt {
        line-height: 1.2;
        padding-bottom: 5px
    }

    .health-pre-exist-sml-txt,
    .health-pre-existing-txt {
        padding-left: 10px
    }

    .panel-body-top-btm {
        padding-top: 6px;
        padding-bottom: 32.5px
    }

    #health-lifestyle-member-details .nav-tabs>li.active>a,
    #health-lifestyle-member-details .nav-tabs>li.active>a:focus,
    #health-lifestyle-member-details .nav-tabs>li.active>a:hover {
        padding-bottom: 7px
    }

    .panel-default-mob-pad {
        padding-left: 7px !important;
        padding-right: 7px !important
    }

    .health-pre-exist-sml-txt {
        padding-bottom: 0
    }
}

@media(max-width:585px) {
    .wizard {
        width: 100%;
        height: auto !important
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px
    }

    .wizard .nav-tabs>li a {
        text-align: center;
        padding-left: 0
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%
    }

    .wizard .nav-tabs>li {
        margin-right: 0;
        width: 25%
    }

    .form-lbl {
        font-size: 12px
    }

    .emi-option-text {
        font-size: 11.5px;
        margin-right: -15px
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .input-group {
        min-width: 100%
    }

    .form-top-left-pad {
        padding-left: 9px;
        padding-right: 9px
    }

    .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 5px
    }

    .pad-l-r-5 {
        padding-right: 15px;
        padding-left: 15px
    }

    .mob-pad-l-r-0 {
        padding-right: 0;
        padding-left: 0
    }

    .pad-top-18 {
        padding-top: 18px
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .cont-pad {
        padding: 0
    }
}

@media (min-width:320px) and (max-width:580px) {

    .annual-income-input-txt .input-text-box,
    .annual-income-radius .input-text-box {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important
    }

    .otp-recv-btn,
    .send-otp-btn {
        float: right
    }

    .pad-btm-50 {
        padding-bottom: 0
    }

    #insured-member-details .nav-tabs>li.active>a,
    #insured-member-details .nav-tabs>li.active>a:focus,
    #insured-member-details .nav-tabs>li.active>a:hover {
        padding-top: 15px;
        padding-bottom: 10px
    }

    .health-pre-exist-sml-txt {
        padding-bottom: 0
    }

    .chronic-disease-blck-txt {
        line-height: 1.2;
        padding-bottom: 5px
    }

    .health-pre-exist-sml-txt,
    .health-pre-existing-txt {
        padding-left: 10px
    }

    .panel-body-top-btm {
        padding-top: 6px;
        padding-bottom: 32.5px
    }

    #health-lifestyle-member-details .nav-tabs>li.active>a,
    #health-lifestyle-member-details .nav-tabs>li.active>a:focus,
    #health-lifestyle-member-details .nav-tabs>li.active>a:hover {
        padding-bottom: 7px
    }

    .grey-row-height {
        bottom: -16px;
        position: relative
    }

    .health-pre-exist-pad-l-r {
        padding-left: 0;
        padding-right: 0
    }

    .tracker-pad-l-top {
        padding-left: 29px;
        padding-top: 7px
    }

    .popover {
        top: -23.5px !important
    }

    .mob-pad-l-r-5 {
        padding-left: 5px;
        padding-right: 5px
    }

    .sum-insured-txtbox-wid .input-text-box {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important
    }

    .checkbox-label {
        font-size: 12px
    }

    .checkbox {
        margin-top: 0
    }

    .health-relative-add-more-top-pad,
    .otp-recv-btn {
        margin-top: 15px
    }

    .insured-member-form-top-left-pad {
        padding-top: 24px
    }

    .mob-pad-new-l-r-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .form-heading {
        font-size: 24px
    }

    .pad-btm-25-mobile {
        padding-bottom: 25px
    }

    .any-claim-pad-btm {
        padding-bottom: 20px
    }

    .any-claim-bck-bdr-pad-mob {
        padding-top: 30px
    }

    .health-relative-padding {
        padding: 0 0 10px
    }

    .declare-summary-bold-text,
    .declare-summary-text {
        font-size: 12px
    }

    .table-responsive {
        border: none !important
    }

    .earn-text-pad {
        margin-top: 5px;
        margin-bottom: 10px
    }

    .item-block-number {
        margin-right: 1px
    }

    .select-box-width {
        width: 180px !important
    }

    .summary-pad-btm-50 {
        padding-bottom: 0;
        padding-top: 0 !important
    }

    .pad-top-58,
    .wizard .tab-pane {
        padding-top: 0
    }

    .dob-pad .pad-left-15 {
        padding-left: 0
    }

    #additional-info-details .form-background {
        padding-bottom: 0
    }

    .health-father-form-txt-hd {
        font-size: 14px
    }

    .pad-btm-87 {
        padding-bottom: 40px
    }

    #health-lifestyle-member-details .form-background {
        padding-bottom: 0
    }

    .health-remove-btn {
        float: left
    }

    .health-add-btn {
        float: right
    }

    .health-disease-glyphicon .glyphicon.glyphicon-chevron-down {
        top: -14px
    }

    .health-disease-dropdown {
        padding-left: 0;
        padding-right: 6px
    }

    #health-lifestyle-member-details .nav-tabs>li,
    #insured-member-details .nav-tabs>li {
        margin-right: 0
    }

    .pad-left-7 {
        padding-left: 7.5px
    }

    .pad-right-11 {
        padding-right: 15px
    }

    #gender-modal .select-cover-dropdown-txt {
        color: #515151
    }

    .input-text-box {
        border-radius: 4px !important
    }

    .form-heading {
        color: #818181
    }

    .pad-left-0 {
        padding-left: 15px
    }

    .imp-mob-pad-l-r-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .summary-product-btm-15 {
        padding-bottom: 15px
    }

    .declr-summary-btn {
        width: 135px
    }

    .decl-summ-pad-bottom {
        padding-bottom: 0
    }

    .pad-top-39 {
        padding-top: 20.5px
    }

    .send-otp-btn {
        margin-top: 10px;
        margin-bottom: 15px
    }

    .textbox-bg-pad {
        width: 100%
    }

    .btn.qq-save-btn {
        font-size: 13px
    }

    .add-another-btn-large {
        padding: 9px 15px
    }

    .add-another-btn-large-txt {
        font-size: 15.5px
    }

    .remove-btn-large {
        padding: 10px 26px
    }

    .add-info-text textarea {
        margin-bottom: 42px
    }

    .any-claim-section .pad-btm-80 {
        padding-bottom: 20px
    }

    .health-father-form-txt-hd {
        padding-bottom: 26px !important
    }

    .pad-btm-40 {
        padding-bottom: 16px
    }

    #insured-member-details .nav-tabs {
        padding-left: 0;
        white-space: nowrap;
        overflow-x: auto
    }

    #insured-member-details .nav-tabs>li {
        display: inline-block;
        float: none;
        width: 28% !important
    }

    #insured-member-details .nav-tabs>li a {
        width: auto !important;
        line-height: auto !important;
        padding: 0;
        text-align: center !important
    }

    #health-lifestyle-member-details .nav-tabs {
        padding-left: 0;
        white-space: nowrap;
        overflow-x: auto
    }

    ::-webkit-scrollbar {
        width: 0;
        background: 0 0
    }

    #health-lifestyle-member-details .nav-tabs>li {
        display: inline-block;
        float: none;
        width: 30% !important;
        padding-top: 15px
    }

    #health-lifestyle-member-details .nav-tabs>li a {
        width: auto !important;
        line-height: auto !important;
        padding: 0;
        text-align: center !important
    }

    .mar-btm-10 {
        margin-bottom: 0
    }

    .health-father-form-pad-top {
        padding-top: 5px
    }

    .health-father-form-number {
        margin-left: -14px;
        font-size: 30px;
        color: #3f3f3f
    }

    .health-form-small-txt {
        padding-bottom: 5px;
        font-size: 12px
    }

    .health-form-small-txt-pad-top-btm {
        padding-top: 0
    }

    .pad-left-15 {
        padding-left: 0;
        padding-bottom: 15px
    }

    .pad-l-r-0-mob {
        padding-right: 0;
        padding-left: 0
    }

    .dob-row-pad-btm .pad-btm-20 {
        padding-bottom: 0 !important
    }

    .insured-member-form-horizontal-pad,
    .insured-member-form-top-left-pad {
        padding-left: 15px;
        padding-right: 15px
    }

    .pre-pad {
        padding-right: 18.5px
    }

    .name-txt-padding {
        padding-right: 12px;
        padding-left: 15px
    }

    .form-background {
        padding-bottom: 40px
    }

    .tab-pad-left {
        padding-left: 6px;
        margin-left: -3px;
        padding-bottom: 10px
    }

    .pad-btm-25,
    .pad-tb-100 {
        padding-bottom: 0
    }

    .table-value {
        font-size: 13px
    }

    .state-mob-pad .pad-l-r-0 {
        padding-right: 0 !important;
        padding-left: 10px !important
    }

    .pad-l-r-0 {
        padding-right: 10px !important;
        padding-left: 10px !important
    }

    .horizontal-pad,
    .pad-r-5 {
        padding-left: 5px
    }

    .pad-tb-100 {
        padding-top: 20px
    }

    .form-lbl {
        font-size: 12px
    }

    .emi-option-text {
        font-size: 11.5px;
        margin-right: -15px
    }

    .pad-btm-14 {
        padding-bottom: 14.5px
    }

    .input-group {
        min-width: 100%
    }

    .horizontal-pad {
        margin-top: 28px;
        padding-right: 5px
    }

    .form-top-left-pad {
        padding-top: 22.5px;
        padding-left: 8px;
        padding-right: 8px
    }

    .dob-mob-pad-l-r-0 {
        padding-left: 5px !important
    }

    .dob-row-pad-btm .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 0
    }

    .name-txt .pad-l-r-5 {
        padding-right: 5px;
        padding-left: 5px
    }

    .pad-l-r-5 {
        padding-right: 15px;
        padding-left: 15px
    }

    .wizard {
        width: 100%
    }

    .mob-pad-l-r-0 {
        padding-right: 0;
        padding-left: 0
    }

    .pad-top-18 {
        padding-top: 18px
    }

    .wizard .nav-tabs {
        margin: 0 auto
    }

    .cont-pad {
        padding: 0
    }

    .modal-hdr {
        height: auto
    }

    .proposal-btn {
        font-size: 15px
    }

    .summary-btn {
        width: 100%;
        display: block;
        font-size: 9px;
        padding: 12px 15px
    }

    .back-btn1 {
        display: block;
        width: 100% !important
    }

    .done-btn1 {
        width: 100%;
        display: block
    }

    .mar-l-14 {
        margin-left: 5px
    }

    .main-header-text1 {
        font-size: 21px
    }

    .mbr-sel-txt-big,
    .mbr-sel-txt-sml {
        font-size: 15px
    }

    .tenure-year {
        font-size: 14px
    }

    .pretty {
        margin: 0 !important
    }

    .dup-bene-btn-new {
        font-size: 16px
    }

    .panel-default-mob-pad {
        padding-left: 7px !important;
        padding-right: 7px !important
    }

    .item-block1 {
        padding-left: 0;
        padding-top: 0
    }

    .item-block-content {
        padding-bottom: 0;
        padding-top: 21px;
        margin-left: -2%
    }

    .item-block {
        padding-left: 0 !important
    }

    .temp-disa-left-bdr {
        margin-left: -15px;
        height: 175px
    }

    .pad-cont {
        padding-left: 5px !important;
        padding-right: 5px !important
    }

    .pad-mar-0 {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .temp-total-dis-text1 {
        padding-top: 20px
    }

    .btn.qq-save-btn {
        width: 140px !important
    }

    .quote-item-block {
        padding-top: 0
    }

    .sum-tenure-topmost-row {
        padding-left: 0;
        padding-top: 0 !important
    }

    .btn.modal-save-btn {
        width: 100%
    }

    .prem-rupee-symbol,
    .prem-small-txt {
        font-size: 20px
    }

    .temp-total-dis-img {
        width: 50px;
        height: 50px;
        margin-left: 11px;
        margin-top: 0
    }

    .mar-l-15 {
        margin-left: 0
    }

    .btn-pad-box {
        padding-left: 20px !important;
        padding-right: 10px !important
    }

    .temp-total-dis-text2 {
        font-size: 14px
    }

    .earn-mem-bene-lbl-txt {
        padding-left: 14px
    }

    .tooltip-top {
        top: -10px;
        right: -10px
    }

    .tooltip-bg {
        background-color: transparent
    }

    .sum-insured-members-block {
        box-shadow: none
    }

    .tool-tip-img {
        position: absolute;
        top: -5px;
        right: -18.5px
    }

    .tooltip.bottom .tooltip-inner {
        margin-right: 30px
    }

    .mob-mar-toggle {
        margin-top: 15px
    }

    .item-block-content-header-mob {
        margin-top: 0
    }

    .get-cover-line-float {
        text-align: left;
        float: left;
        margin-top: 17.5px
    }

    .get-cover-line {
        margin-right: 0;
        font-size: 14px
    }
}

.app-modal .modal-hdr-txt {
    /* letter-spacing: .2px; */
    font-family: PF Handbook Pro;
    background: none;
    margin: 0px;
    text-align: left;
    color: #000000;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    line-height: 30px;
    left: 458px;
    top: 207px;
}
.app-modal .modal-dialog {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    max-width: 95%;
    transform: translate(-50%,-50%)!important;
}
.app-modal .modal-header {
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 12px 30px;
    border: none;
}

.color-change {
    color: #f7a500;
}
.otp-label-style {
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 10px;
}

/* customer concern form */
.customer-concern{
    width: 412px;
    height: auto;
    border-radius: 12px;
}
.app-modal button.close{
    color: #000;
    /* float: right; */
    opacity: 1;
    text-shadow: none;
    background-color: transparent !important;
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
    /* margin: -13px -30px; */
    padding: 0px 11px;
    pointer-events: auto;
}
.customer-concern .header{
    margin: 2px 30px 15px 30px;
    padding-top: 30px;
}
.customer-feedback{
    padding: 10px 15px;
}
.customer-feedback  input[type=checkbox]:checked {
    border-color: #c7222a;
}
.customer-feedback input[type=checkbox] {
    font-size: 20px;
    margin-left: -18px!important;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: 0;
    vertical-align: middle;
    margin-top: -5px;
}
.customer-feedback input[type=checkbox] {
    /* margin: 4px 0 0; */
    /* margin-top: 1px; */
    line-height: normal;
}
.customer-feedback input[type=checkbox]:checked:before {
    width: 40%;
    height: 65%;
    margin-left: 3px;
    margin-top: 2.8px;
    border: 3px solid #c7222a;
    position: relative;
    top: 0px;
    left: 3px;
    opacity: 1;
    background: none !important;
    border-width: 0 3px 3px 0;
    transform: rotate( 45deg)!important;
    border-radius: 0px;
}
.customer-feedback label:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 50%;
}
.customer-feedback .label-style{
    margin-left: 11px;
    color: #000000;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
}
.tell-to-improve h4{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #797979;
}
.b-cust-reason{
    padding: 10px 5px;
}
.b-cust-reason label{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.b-cust-reason input{
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    border: 1px solid #797979;
}
.b-cust-reason input:focus{
    border-color: transparent;
    border: 1px solid #000000;
}
.b-submit-btn{
    background: #C7222B;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-family: PF Handbook Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}
.d-customer-concern-model{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    width: 600px;
    max-width: 100%;
    transform: translate(-50%,-50%)!important;
}
@media (min-width:250px) and (max-width:515px) {
    .d-customer-concern-model {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 350px;
        max-width: 100%;
        transform: translate(-50%,-50%)!important;
    }
    .customer-concern {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }
}
/* customer concern */

/* Health AddOn */

.dropdown.addonAmt .tooltip-btn{
    padding-top: 0px;
    margin-bottom: 6px;
}
li.dv-Addon {
    background-color: #f7a500;
    margin-bottom: -5px;
}
li.dv-Addon .tooltip-text-hd{
    color: #fff;
    font-weight: 500;
    padding: 2px 0;
}
span.span-addon {
    display: block;
    line-height: 0;
    margin: -2px auto -11px;
    position: relative;
    background-color: #f7a500;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s;
}
.dis-in.open span.span-addon,  .zeroAmt span.span-addon, .zeroAmt li.dv-Addon {
    opacity: 0;
}
span.tooltip-text-hd.mar-rght-15.ng-binding {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    margin-left: 0;
}

@media(max-width: 600px){
    .temp-total-dis-img {
        width: 80px;
    }
    .dropdown.addonAmt .tooltip-btn {
        padding-top: 0;
        margin-bottom: 23px;
        line-height: 0.5;
    }
    .prem-panel .addonAmt .glyphi-drop-down-style {
        margin-top: 10px;
    }
    span.span-addon {
        display: block;
        line-height: 0;
        margin: 10px auto -22px;
        position: relative;
        background-color: #f7a500;
        color: #fff;
        opacity: 1;
        transition: opacity .3s;
    }
    span.tooltip-text-hd.mar-rght-15.ng-binding, span.span-addon .incl-gst {
        font-size: 9px;
    }
    li.dv-Addon .tooltip-text-hd, .dv-Addon .incl-gst{
        font-size: 10px;
    }
}
/* KYC */
.kycNote{
    line-height: 1.25;
}

.radio-btn {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    margin-right: 40px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .lbl-txt {
    opacity: .7;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000
  }
  
  .radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer
  }
  
  .checkmark {
    border: 1px solid #ddd;
    top: 0px;
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
  }
  
  .radio-btn input:checked~.checkmark {
    background-color: #fff
  }
  
  .radio-btn input:checked~.checkmark:after {
    display: block
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none
  }

  
  .radio-btn .checkmark:after {
    /* top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #650e09;
    border: 2px solid #e3eaf3 */
    content: "\f00c";
    font-family: "FontAwesome";
    left: 4px;
    bottom: 1px;
    /* width: 5px;
    height: 10px; */
    /* border: solid white; */
    /* border-width: 0px 2px 2px 0; */
    /* transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg); */
  }