.tbl-Head-background-color{
    background-color:#694744;
    color: white;
}

.member-section-sale{
	margin-top: 15px;
	height: 500px;
	overflow-y: scroll;
	margin-bottom: 20px;
}
.ffdisable:disabled{
	background-color: #ccc;
	
}